<mat-sidenav-container class="main-container">
    <mat-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container-fluid"
             [ngClass]="{
                'p-small': mediaSize.isDeviceMobile,
                'p-large': mediaSize.isDeviceDesktop
            }"
        >
            <div>
                <div class="d-flex justify-content-center">
                    <span class="signup-header-title">{{'signup.sinscrire'|translate}}</span>
                </div>
                <mat-card
                    [ngClass]="{'p-60': mediaSize.isDeviceDesktop || mediaSize.isMd, 'p-19': mediaSize.isSm}">

                    <mat-card-title class="d-flex justify-content-center">
                        <p class="signup-text-title">{{'signup.labelInscription'|translate}}</p>
                    </mat-card-title>

                    <mat-card-content>
                        <form [formGroup]="signupForm">
                            <div class="d-flex">
                                <mat-label class="mat-error">{{'signup.etoile'|translate}}</mat-label>
                                <mat-label class="ml-1">{{'signup.infoObligatoire'|translate}}</mat-label>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="signup-form-container">

                                    <mat-form-field appearance="standard">
                                        <mat-label>{{'signup.nom'|translate}}</mat-label>
                                        <input type="text" matInput placeholder="{{'signup.nom'|translate}}"
                                               formControlName="nom" autocomplete="off">
                                    </mat-form-field>


                                    <mat-form-field appearance="standard">
                                        <mat-label>{{'signup.prenom'|translate}}</mat-label>
                                        <input type="text" matInput placeholder="{{'signup.prenom'|translate}}"
                                               formControlName="prenom" autocomplete="off">
                                    </mat-form-field>


                                    <mat-form-field appearance="standard" hideRequiredMarker>
                                        <mat-label>{{'signup.adresseMail'|translate}} <span
                                            class="mat-error">{{'signup.etoile'|translate}}</span></mat-label>
                                        <input type="email" matInput
                                               placeholder="{{'signup.adresseMail'|translate}}"
                                               formControlName="adresseEmail" required autocomplete="off">
                                        <mat-error class="mt-1"
                                                   *ngIf="formControls.adresseEmail.errors?.email">
                                            <em class="fa fa-info-circle fa-2x mr-2"></em>{{'signup.emailError'|translate}}
                                        </mat-error>
                                    </mat-form-field>


                                    <mat-form-field
                                        appearance="standard" hideRequiredMarker>
                                        <mat-label>{{'signup.password'|translate}} <span
                                            class="mat-error">{{'signup.etoile'|translate}}</span></mat-label>
                                        <input matInput [type]="hidePassword ? 'password' : 'text'" id="password"
                                               placeholder="{{'signup.password'|translate}}"
                                               formControlName="password" autocomplete="off"
                                               required>
                                        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                                                [attr.aria-label]="'Hide password'"
                                                [attr.aria-pressed]="hidePassword">
                                            <mat-icon
                                                class="hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                        <mat-error
                                            *ngIf="formControls.password.errors?.minlength">
                                            <em class="fa fa-info-circle fa-2x mr-2"></em>{{'signup.passwordErrorPre'|translate}} {{passwordMinLength}} {{'signup.passwordErrorPost'|translate}}
                                        </mat-error>
                                        <mat-error
                                            *ngIf="formControls.password.errors?.required">
                                            <em class="fa fa-info-circle fa-2x mr-2"></em>{{'signup.passwordRequired'|translate}}
                                        </mat-error>
                                    </mat-form-field>
                                    <p class="password-msg">{{'signup.passwordMsgPre'|translate}} {{passwordMinLength}} {{'signup.passwordMsgPost'|translate}}</p>
                                    <p class="pb-3">
                                        <app-password-strength [password]="signupForm.value.password"
                                                               class="text-center"></app-password-strength>
                                    </p>

                                    <mat-form-field appearance="standard" hideRequiredMarker>
                                        <mat-label>{{'signup.ConfirmPassword'|translate}} <span
                                            class="mat-error">{{'signup.etoile'|translate}}</span></mat-label>
                                        <input id="confirm_password" matInput
                                               [type]="hideConfirmPassword ? 'password' : 'text'"
                                               placeholder="{{'signup.ConfirmPassword'|translate}}"
                                               formControlName="confirmPassword" required autocomplete="off">
                                        <button mat-icon-button matSuffix
                                                (click)="hideConfirmPassword = !hideConfirmPassword"
                                                [attr.aria-label]="'Hide confirmPassword'"
                                                [attr.aria-pressed]="hideConfirmPassword">
                                            <mat-icon
                                                class="hidePassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                        <mat-error *ngIf="formControls.confirmPassword.errors?.required">
                                            <em class="fa fa-info-circle fa-2x mr-2"></em>{{'signup.passwordConfirmRequired'|translate}}
                                        </mat-error>
                                        <mat-error *ngIf="formControls.confirmPassword.errors?.confirmedValidator">
                                            <em class="fa fa-info-circle fa-2x mr-2"></em>{{'signup.passwordConfirmError'|translate}}
                                        </mat-error>
                                    </mat-form-field>

                                    <div class="form-group form-check mt-4">
                                        <mat-checkbox class="signup-checkbox signup-checkbox-align"
                                                      formControlName="cgu">
                                        </mat-checkbox>
                                        <span class="signup-agree mr-2">{{'signup.lu'|translate}}</span>
                                        <a href="{{'rudidatarennes.cgu'|getBackendProperty|async}}"
                                           rel="noopener noreferrer" class="signup-cgu">{{'signup.cgu'|translate}}</a>
                                        <span class="required-symbol mat-error">&nbsp;*</span>
                                    </div>

                                    <div class="form-group form-check">
                                        <mat-checkbox class="signup-checkbox signup-checkbox-align"
                                                      formControlName="subscribeToNotifications"></mat-checkbox>
                                        <span>{{'signup.subscribeToNotifications'|translate}}</span>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </mat-card-content>

                    <mat-card-actions class="d-flex align-items-center flex-column mx-0">
                        <button type="submit" class="signup-btn-inscription mb-3"
                                [ngClass]="{
                                    'signup-btn-desktop': mediaSize.isDeviceDesktop,
                                    'signup-btn-mobile': mediaSize.isDeviceMobile
                                }" mat-flat-button
                                (click)="handleClickSignup()" [disabled]="!isValid">
                            {{'signup.sinscrire'|translate}}
                        </button>
                        <mat-progress-spinner *ngIf="loading" class="mr-auto mt-2" mode="indeterminate"
                                              diameter="30"></mat-progress-spinner>
                        <!-- Box erreur d'authent normale -->
                        <app-error-box *ngIf="errorString !== ''"
                                       [text]="errorString"
                        ></app-error-box>
                    </mat-card-actions>
                </mat-card>

                <!--connexion -->
                <div class="d-flex justify-content-center mb-2">
                    <span class="text-center">{{'signup.compteExistant'|translate}}</span>
                    <span class="text-center ml-1 link-bold-underlined-colored pointer"
                          routerLink="/login">{{'signup.pSeconnecter'|translate}}</span>
                </div>

            </div>

            <mat-divider class="mt-6"></mat-divider>

            <div id="rgpd">
                <h3>{{'signup.rgpd.title'|translate}}</h3>

                <p>
                    {{'signup.rgpd.p1'|translate}}
                </p>
                <p>
                    {{'signup.rgpd.p2'|translate}}
                </p>
                <p>
                    {{'signup.rgpd.p3.1'|translate}} "<a
                    href="https://e-demarches.rennes.fr/Rennes/workflow_url?ECITIZ_ACTIVITY_PATH=Demandeur&USAGER_PROCESS=CONTACT">{{'signup.rgpd.p3.2'|translate}}</a>"
                    {{'signup.rgpd.p3.3'|translate}} (<a
                    href="https://metropole.rennes.fr">https://metropole.rennes.fr</a>)
                    {{'signup.rgpd.p3.4'|translate}} :
                </p>
                <p>
                    {{'signup.rgpd.p4'|translate}}
                </p>
                <p>
                    {{'signup.rgpd.p5'|translate}} : <a href="https://www.cnil.fr">https://www.cnil.fr</a>
                </p>
            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
