@import "colors";

.main-container {
    padding: 0;
}

.map-container {
    width: 100%;
    height: 700px;
}

.map-header {
    height: 50px;
    background-color: $primary-color;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
