<div>
    <div class="step-card-header">
        <h2 class="step-title">{{stepTitle}}</h2>
        <p class="step-subTitle">{{stepSubtitle}}</p>
        <p class="step-description">{{stepDescription}}</p>
        <p class="step-description">{{stepDescription2}}</p>
    </div>

    <div class="d-flex justify-content-center">
        <button [routerLink]=routerLink class="button mat-stroked-button button-see"
                mat-raised-button>
            <span>{{buttonTitle}}</span>
        </button>
    </div>

</div>
