// Tous les styles sont définis dans le composant parent
@import "create-project-stepper";

@mixin title-properties() {
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
}

.step-title {
    font-size: 26px;
    @include title-properties;
}

.step-subTitle {
    font-size: 16px;
    @include title-properties;
}

.step-description {
    font-size: 16px;
    color: var(--primary-text);
    text-align: center;
}

.button-see {
    @include button-blue;
    padding: 14px 29px 14px 30px;
    font-size: 16px;
}
