@import "common-style";

.data-set-card {
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    border: solid 1.1px var(--blocks-and-menus-outline);
    cursor: pointer;
    padding: 17px;
    overflow: hidden;
    min-height: 270px;
    // card sélectionnée
    &:focus {
        box-shadow: 0 0 10px 0 var(--focus-background);
        border-color: var(--primary-color);
        background-color: var(--focus-background);
    }

    mat-card-content {
        padding: 0;
        height: 80%;
    }

    .mat-icon {
        margin: 0;
    }

    img {
        width: 70px;
        height: 70px;
        padding: 10px 4px 10px 4px;
        border-radius: 3.4px;
        border: solid 0.9px var(--blocks-and-menus-outline);
    }

    .data-set-card-producer {
        font-size: 14px;
        color: var(--primary-text);
        font-weight: 600;
        margin-bottom: 5px;
    }

    .data-set-card-title {
        font-size: 20px;
        font-weight: 400;
        color: var(--primary-color);
        display: -webkit-box;
        margin-bottom: 5px;
        hyphens: auto;
        min-height: 1.2em;
        line-height: 1.3em;
    }

    .data-set-card-content {
        height: auto;
        flex-wrap: wrap;
        align-content: baseline;
        flex-direction: column;
    }

    .data-set-card-summary {
        font-size: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        hyphens: auto;
        padding-bottom: 0;
    }

    &-xs, &-sm, &-md {
        height: 100%;
        min-height: var(--card-height-sm);
        border-left: none;
        border-right: none;
        border-radius: unset;
        border-bottom: none;
        padding: 28px;

        img, .logo-container {
            margin: 0 16px 12px 0;
        }

        .data-set-card-producer {
            font-size: 12px;
        }

        .data-set-card-title {
            font-size: 19px;
        }

        .data-set-card-summary {
            font-size: 14px;
        }

        .data-set-card-content {
            flex-direction: revert;
            height: auto;
        }

        &:hover {
            background-color: var(--banner-solid-color);

            .keywords-row button {
                background-color: var(--banner-solid-color);
                color: var(--secondary-text);
                border: 1px solid var(--blocks-and-menus-outline);
            }

            .data-set-card-producer {
                color: var(--secondary-text);
            }

            .data-set-card-title {
                color: var(--primary-color);
            }

            .data-set-card-summary {
                color: var(--secondary-text);
            }
        }
    }

    &-lg, &-xl, &-xxl {
        border-radius: 8.6px;
        height: 100%;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
        }

        .logo-container {
            margin-right: 16px;
        }

        .data-set-card-content {
            flex-direction: row;
        }

        .data-set-card-title {
            line-height: 1.2em;
        }
    }

}

.restricted {
    background: var(--primary-color);
    color: var(--secondary-color);

    .data-set-card-producer,
    .data-set-card-summary {
        color: #b3c7d9;
    }

    .data-set-card-title {
        color: var(--secondary-color);
    }

    .key-icon {
        width: 16px;
        vertical-align: text-top;
    }

    .triangle-restricted {
        @extend %triangle;
        fill: var(--accent-color-svg);
    }

    .keywords-row button {
        background: var(--primary-color);
        color: var(--secondary-color);
    }

    &:focus {

        .data-set-card {

            &-producer {
                color: #323643;
            }

            &-title-margin {
                color: #004680;
            }

            &-summary {
                color: #323643;
            }

        }

        .keywords-row button {
            background: #e5f0fc;
            color: #323643;
        }

    }

}

.selfdata {
    background: var(--self-data-color);
    border: solid 0.5px var(--self-data-border-color);

    .self-data-icon {
        width: 16px;
        vertical-align: text-top;
    }

    .triangle-selfdata {
        @extend %triangle;
        fill: var(--accent-color-svg-self-data);
    }

    &:focus {

        .data-set-card {

            &-producer {
                color: #323643;
            }

            &-title-margin {
                color: #004680;
            }

            &-summary {
                color: #323643;
            }

        }

        .keywords-row button {
            background: #e5f0fc;
            color: #323643;
        }

    }
}

%triangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 28px;
}
