<popover-content #myPopover
                 placement="bottom"
                 [closeOnClickOutside]="true" >
    <div class="popover-content-child">
        <div class="popover_logo-container">
            <mat-icon class="popover_logo-style rudi_picto_reutilisations" [svgIcon]="buttonLogo" aria-hidden="false" aria-label="icon de la popine"></mat-icon>
        </div>
        <div class="popover-text-style">
            <p class="firstParagraph">{{buttonMessageBody}}</p>
            <p class="secondParagraph">{{buttonMessageFooter}}</p>
        </div>

    </div>
</popover-content>
<button mat-raised-button [popover]="myPopover"
        class="button project-btn-reutilisation">
    <span>{{buttonMessageTitle}}</span>
</button>
