.btn-container {
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.rudi-btn-map {
    color: white;
    background-color: rgba(0, 60, 136, 0.5);
}

.rudi-btn-map:hover {
    background-color: rgba(0, 60, 136, 0.7);
}

.icon-centrage {

    svg {
        fill: white
    }

    line-height: 1.2;
    font-weight: 500;
}

.map-container {
    position: relative;
    height: 100%;
    max-width: 600px;
}

.map {
    position: relative;
    height: 100%;
    width: 100%;
}
