<div id="dialog-container">
    <mat-dialog-content id="dialog-content">
        <div class="dialog-cross-button">
            <button mat-icon-button (click)="handleClose()">
                <mat-icon svgIcon="icon-close" class="cross-button"></mat-icon>
            </button>
        </div>

        <div class="dialog-content">
            <div
                class="dialog-title">{{'metaData.selfdataInformationRequest.viewing.attachment.popin.title' | translate}}</div>
            <div
                class="dialog-description fw-bold">{{ 'metaData.selfdataInformationRequest.viewing.attachment.popin.alert' | translate }}</div>

            <div class="d-flex mt-4 mb-4">
                <div class="me-2">
                    <mat-checkbox [(ngModel)]="consent" class="signup-checkbox" required></mat-checkbox>
                </div>
                <div
                    class="dialog-description text-start">{{ 'metaData.selfdataInformationRequest.viewing.attachment.popin.consentText' | translate }}</div>
            </div>

            <app-loader [active]="attachmentLoader" [isLight]="true" [allPage]="false" [noText]="true"></app-loader>

            <mat-dialog-actions class="dialog-buttons">
                <button class="secondary-raised-button" mat-raised-button [mat-dialog-close]="null">
                    <span>{{ 'metaData.selfdataInformationRequest.viewing.attachment.popin.cancel' | translate }}</span>
                </button>
                <button class="primary-raised-button" mat-raised-button (click)="openDocument()"
                        [disabled]="!consent || attachmentLoader">
                    <span>{{ 'metaData.selfdataInformationRequest.viewing.attachment.popin.download' | translate }}</span>
                </button>
            </mat-dialog-actions>
        </div>
    </mat-dialog-content>
</div>
