@import "src/app/styles/colors";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/common-style";

#content-style {
    max-width: 750px;
}

.confirmer-action {
    width: 485px;
    height: 80px;
    margin: 15px 21px 95px 0.2px;
    padding: 30px 158px 22px 203px;
    font-family: OpenSans;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    color: var(--0-classic-blue);
}

#dialog-content {
    min-height: 40vh;
    overflow: hidden;
}

.dialog-header-button {
    float: right;
    margin-top: -40px
}

.button {
    margin-top: 1em;
    background-color: $primary-color;
    color: $banner-solid-color;
    font-weight: 600;
    padding: 7px 22px;
    $line-height: 1.84rem;
    line-height: $line-height;
}

.mat-dialog-actions {
    margin-bottom: 0;
}

::ng-deep.mat-checkbox-layout {
    white-space: normal;
    margin-top: 0.3em !important;
}
.color-btn{
    background-color: $primary-color;
    color: $banner-solid-color;
}
