@import "src/app/styles/colors";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/common-style";

.detail-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.project-owner-wrapper {
    flex: 1;
}

.onglet-wrapper {
    flex: 2;
}

.demand-resume {
    margin-top: 100px;
}

.header-title {
    @include card-header-title;
}

.icon-header-title {
    line-height: 68.2px;
}

.contact {
    margin: 0 37px 5px 0;
    padding: 20px 0;
    border-top: 1px solid $blocks-and-menus-outline;

    a {
        color: $focus !important;
        text-decoration: underline;
    }

    .button-contact {
        @include button-blue;
    }
}

.large-icon-size {
    height: 27px;
    width: 27px;
    vertical-align: center;
    fill: $accent-color;
}
