<!-- On ajoute ce contexte de sidenav pour éviter trop de régressions suite à la refonte du front -->
<mat-sidenav-container>
    <mat-sidenav-content class="sidebar-content-pd">
        <div class="demand-resume">
            <app-loader [active]="headingLoading" [allPage]="false" [noText]="true" [isLight]="true"></app-loader>
            <div class="card-body" *ngIf="!headingLoading">
                <div class="d-flex justify-content-center">
                    <span class="card-text"> {{'personalSpace.requestDetail.requestDate'|translate}}</span>
                    <span>&nbsp;</span><span> {{dependencies?.receivedDate.format('DD/MM/YYYY')}} </span>
                </div>

                <div class="d-flex justify-content-center">
                    <span class="icon-header-title">
                      <mat-icon class="large-icon-size" aria-hidden="false" aria-label=""
                                svgIcon="restricted-dataset"></mat-icon>
                    </span><span>&nbsp;</span>
                    <span class="header-title">{{dependencies?.datasetTitle}}</span>
                </div>
            </div>
        </div>

        <app-tabs *ngIf="task">
            <app-tab [label]="'personalSpace.requestDetail.tabs.demand' | translate" [icon]="'key_icon_circle'">
                <ng-template>
                    <app-task-detail></app-task-detail>
                </ng-template>
            </app-tab>
            <app-tab [label]="'personalSpace.requestDetail.tabs.project' | translate" [icon]="'projet'">
                <ng-template>
                    <app-project-detail></app-project-detail>
                </ng-template>
            </app-tab>
            <app-tab [label]="'personalSpace.requestDetail.tabs.history' | translate" [icon]="'historique'">
                <ng-template>
                    <app-linked-dataset-history></app-linked-dataset-history>
                </ng-template>
            </app-tab>
            <app-banner-button *ngFor="let action of task.actions"
                               (click)="openPopinForAction(action)">{{action.label}}</app-banner-button>
            <ng-container appTabsLayout>
                <div class="detail-wrapper">
                    <div class="onglet-wrapper">
                        <ng-container appTabContent></ng-container>
                    </div>
                    <div class="project-owner-wrapper">
                        <app-project-owner-detail></app-project-owner-detail>
                    </div>
                </div>
            </ng-container>
        </app-tabs>
    </mat-sidenav-content>
</mat-sidenav-container>
