@import "src/app/styles/colors";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/common-style";

.metadata-container {
    .card-producer-file-sm-title {
        border-bottom: 1px solid $blocks-and-menus-outline;
        padding-top: 15px;
    }

    .debutPeriode {
        &.right-vertical-separator {
            border-right: 1px solid $blocks-and-menus-outline;
        }

        flex: 0 0 50%;
    }

    .header-metadata {
        display: flex;
        padding-top: 20px;
    }

    .header-img {
        width: 120px;
        height: 120px;
        align-items: center;
        border-radius: 4px;
        border: solid 0.9px $blocks-and-menus-outline;
        margin-left: 80px;
    }


    .card-label {
        font-size: 18px;
        font-weight: 600;
    }


    .meta-data-card {
        margin-top: 16px;

        box-shadow: none;

        &-sm {
            border: none;
        }

        &-lg {
            border-radius: 6px;
            padding: 30px 24px 28px 30px;
            border: solid 1px $blocks-and-menus-outline;
        }
    }

    .header-ressource h2 {
        font-size: 28px;
        max-width: 734px;
        max-height: 110px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        word-wrap: break-word;
    }

    .header-ressource {
        padding-left: 10px;
    }

    .card-label-title {
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
    }

    .metadata-description {
        display: inline-block;
    }

    .producer-name {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
    }

    .banner {
        padding-top: 25px;
    }

    .banner-card {
        background-color: $banner-solid-color;
        height: 60px;
        padding: 8px 80px;

        .icon-syle {
            color: $primary-text-light;
        }

        .icon-information {
            vertical-align: top;
            margin-right: 10px;
            height: 22px;
            width: 22px;
            font-weight: 400;
        }

        .button {
            cursor: pointer;
            font-weight: 400;
            border-radius: 6px;
        }

        /// Bouton dans la bannière
        button {
            @extend .button;
            background-color: $primary-color;
            color: $banner-solid-color;
            font-weight: 600;
            padding: 7px 25px 7px 20px;
            line-height: 1.84rem;

            mat-icon {
                vertical-align: top;
                margin-right: 10px;
                height: 22px;
                width: 22px;
                font-weight: 400;
                color: white;
            }

            &:not([disabled]):hover {
                background-color: $focus;
                color: $secondary-color;

                mat-icon {
                    color: $secondary-color;
                }
            }

        }

        .banner-btn-download {
            @extend button;

            .icon-syle {
                color: white;
            }
        }

        .banner-btn-download:hover {
            .icon-syle {
                color: $secondary-color;
            }
        }

        .button-info {
            @extend button;
        }

    }

    .card-file {
        padding-left: 23px;
        max-height: 439px;
        margin: 0 0 16px 6px;
        border-radius: 6px;

        .icon-file {
            height: 24px;
            width: 18px;
            vertical-align: middle;
            font-size: 30px;
            color: $primary-text-light;
        }

        .card-title {
            font-size: 18px;
            font-weight: 600;
        }

        .file_status {
            display: block;
            margin: 0 157px 17px 35px;
            font-size: 15px;
        }

        .date-range {
            display: flex;
            padding: 15px 0 15px 0;
            justify-content: space-between;

            .display-block {
                display: block;
            }

            .label-date {
                font-size: 12px;
                font-weight: 400;
                color: gray;
            }

            .date {
                font-size: 18px;
                font-weight: bold;
            }

            .date-range-hour {
                font-size: 14px;
                font-weight: normal;
                color: black;
            }

            .date-range-update-maj {
                font-size: 13px;
                font-weight: normal;
                color: black;
            }
        }

        .date-range-md {
            justify-content: space-around;

            .debutPeriode {
                flex: 0 0 38%;
            }
        }

        .type-licence {
            padding: 15px 0 15px 0;
            border-top: 1px solid $blocks-and-menus-outline;
            border-bottom: 1px solid $blocks-and-menus-outline;

            a {
                color: $focus !important;
                text-decoration: underline;
            }

            .label-licence {
                font-size: 12px;
            }

            .label-licence-status {
                font-size: 18px;
                font-weight: bold;
                display: block;
            }
        }

        .date-publication, .date-mise-jour {
            padding: 8px 11px 0 11px;
            height: 40px;
            border-radius: 4px;
            border: solid 1px $blocks-and-menus-outline;
            background-color: $banner-solid-color;;

            .label-date-publication {
                font-size: 12px;
                font-weight: normal
            }

            .value-date-publication {
                font-size: 14px;
                font-weight: 600;
            }

            .date-range-update-maj {
                font-weight: normal;
            }
        }
    }

    @mixin right-card {
        margin-left: 6px;
    }

    .card-producteur {
        @include right-card;

        .row {
            margin-left: 0;
        }

        .mat-divider-horizontal {
            position: inherit;
        }

        .producteur-img-box {
            width: 70px;
            height: 70px;
            padding: 10px 4px 10px 4px;
            border-radius: 3.4px;
            border: solid 0.9px $blocks-and-menus-outline;
            justify-content: center;
        }

        .producer-info span {
            display: block;
        }

        .producer-info :first-of-type {
            font-size: 15px;
            font-weight: 600;
        }
    }

    .card-other-datasets {
        @include right-card;
        margin-top: 16px;
    }

    &-sm {

        .banner {
            margin: 0 -60px 0 -60px;
        }

        .banner-icon-libelle {
            display: none;
        }

        .icon-information-sm {
            vertical-align: top;
            margin-right: 0;
        }

        .card-margin-top {
            margin-top: 15px;
        }

        .card-producer-file {
            display: none;

            &-title {
                border-bottom: 1px solid $blocks-and-menus-outline;
            }
        }

        .date-range-update-maj {
            font-size: 13px;
            font-weight: normal;
        }

        .date-range-hour {
            font-size: 14px;
            font-weight: normal;
        }

        .banner-card {
            button {

                mat-icon {
                    margin-right: 0;
                }

                span {
                    display: none;
                }
            }

            .banner-btn-download {
                padding: 5px 22px 9px 22px;
            }

            .button-info {
                padding: 5px 22px 9px 22px;
            }

        }

        .card-description-keyword {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }

        .card-description-keyword-row {
            padding: 0 20px;
        }

        .metadata-card {
            border-left: none;
            border-right: none;
            border-radius: unset;
            border-top: none;
            padding: 0;
        }

    }

    &-md {
        .card-producer-file {
            display: none;
        }

    }

    &-lg {
        .card-producer-file-sm {
            display: none;
        }
    }

    &-xl {

        .card-producer-file-sm {
            display: none;
        }
    }

    &-xxl {

        .card-producer-file-sm {
            display: none;
        }
    }

}

.metadata-container-sm {
    .banner-reuses {
        padding-left: 15px;
        padding-right: 31px;
        padding-top: 21px;

        &-header {
            padding-left: 15px;
            padding-right: 15px;

            button {
                margin-top: 15px;
            }
        }
    }

}

@mixin cards-margin-horizontal {
    margin-left: -$bootstrap-gutter;
    margin-right: -$bootstrap-gutter;
}

img {
    height: auto;
    object-fit: contain;
}

.nav-link {
    cursor: pointer;
}
