/* You can add global styles to this file, and also import other style files */

@import "colors";
@import "variables-rudi";
@import "font-open-sans";
@import "font-montserrat";
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
@import "bootstrap/scss/bootstrap";
@import "mat-theming.scss";

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: OpenSans, sans-serif;
}

.red-snackbar {
    background: var(--error-color);

    a {
        color: var(--error-color-text);
        text-decoration: underline;
    }
}

.required-symbol {
    color: var(--error-color);
}

.blue-theme {
    color: var(--primary-color);
}

.suivez-nous {
    margin: 0 auto;
}

.mentions-legales {
    margin: 0 auto;
}

.spacer {
    flex: 1 1 auto;
}

.link-bold-underlined-colored {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: underline;
}

::ng-deep .account-error-style {
    background-color: #d04838 !important;
    opacity: 1;
    z-index: 100;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    position: fixed;
    top: 100px;
    margin: auto;
    left: 0;
    right: 0;
}

::ng-deep .rudi-simple-menu-button {
    box-shadow: none !important;
    color: black;
    font-size: 14px;
    font-weight: normal;
    border-radius: 6px;
    border: none;
    padding-right: 15px;
    margin-right: 12px;

    &:focus {
        outline: none;
        background: none;
    }

    .rudi-select-arrow {
        margin-left: 20px;
    }
}

/** !important pour surcharger l'attribut fill tout en le conservant dans le fichier SVG original (aperçu plus propre) */
.svg {

    &-primary {
        fill: var(--primary-color) !important;
    }

    &-secondary {
        fill: var(--secondary-color) !important;
    }

    &-accent {
        fill: var(--accent-color-svg) !important;
    }

    &-green {
        fill: var(--green-color-svg) !important;
    }

    &-no-fill {
        fill: none !important;
    }

}

.restricted .rudi-btn-theme {

    .svg-primary {
        fill: var(--secondary-color) !important;
    }

    .svg-secondary {
        fill: var(--primary-color) !important;
    }
}

.restricted:focus {

    .key-icon {
        .svg-primary {
            fill: var(--secondary-color) !important;
        }
    }

    .rudi-btn-theme {
        .svg-primary {
            fill: var(--primary-color) !important;
        }

        .svg-secondary {
            fill: var(--secondary-color) !important;
        }
    }

}

.rudi-menu, .rudi-sidenav-container {
    ul {
        list-style-type: none;
    }
}

.not-clickable {
    pointer-events: none;

    & > * {
        pointer-events: all;
    }
}

.margin-to-11 {
    margin-bottom: 11px;
}

//overide the mat table margin css
.th.mat-header-cell:first-of-type, td.mat-cell:first-of-type {
    padding: 0 !important;
}

.gray-background {
    background-color: var(--blocks-and-menus-outline);
}

.cdk-global-scrollblock {
    top: 0 !important;
}

.cdk-overlay-container {
    z-index: 999 !important;
}

.popover {
    --bs-popover-max-width: 500px;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: initial;

    &:hover {
        color: #0056b3;
        text-decoration: underline;
    }
}

.dialog-header-close-button {
    right: 0;
    top: 0;
}


.button-redirect {
    all: unset;
    border-radius: 20px;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--error-color-text);
    background-color: var(--primary-color);
    margin: 50px;

    &:hover {
        filter: brightness(125%);
    }
}

.keywords-row {
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.pl-large {
    padding-left: 50vw !important;
}

.pl-small {
    padding-left: 20px !important;
}

.pl-medium {
    padding-left: 40px !important;
}

.text-underline {
    text-decoration: underline !important;
}

.rudi-menu-button {
    width: 200px;
    height: 36px;
    margin: 20px 0 0 0;
    padding: 7px 0 7px 0;
    border-radius: 3px;
    color: black;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: var(--focus);
    }
}

.rudi-select-panel {
    height: min-content;
    padding: 16px 10px 16px 16px;
    color: var(--primary-text);
    font-size: 15px;

    ul {
        max-height: 300px;
        overflow-x: auto;
        scrollbar-width: thin; /* "auto" or "thin" */
        scrollbar-color: gray white; /* scroll thumb and track */
    }

    &-footer {
        display: flex;
        justify-content: center;
    }
}
