/* You can add global styles to this file, and also import other style files */
@import "app/styles/colors";
@import "src/app/styles/font-open-sans";


html, body { height: 100%; }
body { margin: 0; font-family: OpenSans, sans-serif; }

/** !important pour surcharger l'attribut fill tout en le conservant dans le fichier SVG original (aperçu plus propre) */
.svg {

    &-primary {
        fill: $primary-color !important;
    }

    &-secondary {
        fill: $secondary-color !important;
    }

    &-accent {
        fill: $accent-color-svg !important;
    }

    &-green {
        fill: $green-color-svg !important;
    }

    &-no-fill {
        fill: none !important;
    }

}

.restricted .rudi-btn-theme {

    .svg-primary {
        fill: $secondary-color !important;
    }

    .svg-secondary {
        fill: $primary-color !important;
    }
}

.restricted:focus {

    .key-icon {
        .svg-primary {
            fill: $secondary-color !important;
        }
    }

    .rudi-btn-theme {
        .svg-primary {
            fill: $primary-color !important;
        }
        .svg-secondary {
            fill: $secondary-color !important;
        }
    }

}

.rudi-menu, .rudi-sidenav-container {
    ul {
        list-style-type: none;
    }
}

.not-clickable {
    pointer-events: none;

    & > * {
        pointer-events: all;
    }
}

.margin-to-11 {
    margin-bottom: 11px;
}

.cdk-overlay-container {
    z-index: 1 !important;
}

//overide the mat table margin css
.th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{
    padding: 0px !important;
}
