@import "common-style";

.bar {
    fill: steelblue;
    stroke: black;
}

.legend {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.59;
    color: var(--3-texte-gris-fonc);
}

.serie-name {
    width: 113px;
    font-size: 12px;
    line-height: 1.72;
    color: var(--3-texte-gris-fonc);
}

.key-icon {
    height: 12px;
}

.chart-style {
    margin-left: 55px;
}

.graph-center {
    margin-left: 340px;
}


.chart-container {
    margin-left: 45px;
}

.fake-scroll {
    overflow-x: scroll;
    width: 65em;
    position: relative;
    height: 450px;
}

.axe-y {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: rotate(0.5turn);
}
.vertical-align {
    writing-mode: vertical-rl;
    text-align: center;
}
