<!-- On ajoute ce contexte de sidenav pour éviter trop de régressions suite à la refonte du front -->
<mat-sidenav-container>
    <mat-sidenav-content class="sidebar-content-pd">
        <app-loader [active]="isLoading"></app-loader>
        <div *ngIf="metadata" [ngClass]="{'metadata-container-sm': mediaSize.isSm  || mediaSize.isMd,
            'metadata-container-lg':  mediaSize.isLg, 'metadata-container-xl': mediaSize.isXl, 'metadata-container-xxl': mediaSize.isXxl}"
             class="metadata-container pl-0 pr-0 container-fluid">

            <!-- Icon et titre de la ressource -->
            <div class="header-metadata ml">
                <div class="header-img">
                    <app-organization-logo [ngClass]="{'metadata-theme-sm' : mediaSize.isSm,
                                                        'metadata-theme-md' : mediaSize.isMd,
                                                        'metadata-theme-lg' : mediaSize.isLg || mediaSize.isXl || mediaSize.isXxl}"
                                           [organizationId]="metadata?.producer.organization_id"
                                           organizationType="producer"></app-organization-logo>
                </div>
                <div class="header-ressource">
                    <span class="producer-name">{{metadata?.producer?.organization_name}}</span>
                    <h2 class="blue-theme">{{metadata?.resource_title}}</h2>
                </div>
            </div>
            <!-- Fin Icon et titre de la ressource -->

            <!-- Bandeau -->
            <div class="banner">
                <mat-toolbar class="banner-card">
                    <button class="button button-info" disabled
                            mat-raised-button routerLink="/information">
                        <mat-icon [ngClass]="mediaSize.isSm ? 'icon-information-sm' : 'icon-information'"
                                  svgIcon="icon-info">error_outline
                        </mat-icon>
                        <span
                            [ngClass]="{'banner-icon-libelle': mediaSize.isSm}">{{'metaData.informations'|translate}}</span>
                    </button>
                    <button class="button ml-3" mat-raised-button routerLink="/donnees" style="display: none">
                        <mat-icon class="icon-syle">dns</mat-icon>
                        <span>Données</span>
                    </button>
                    <span class="spacer"></span>
                    <button #clickMenuFormatTrigger="matMenuTrigger" *ngIf="downloadableMedias.length > 0"
                            [matMenuTriggerFor]="formatMenu"
                            class="button banner-btn-download"
                            mat-raised-button
                    >
                        <mat-icon class="icon-syle icon-save mr-l">save_alt</mat-icon>
                        <span [ngClass]="{'banner-icon-libelle': mediaSize.isSm}">Télécharger</span>
                        <mat-menu #formatMenu="matMenu" role="menu" xPosition="after">
                            <div (click)="$event.stopPropagation()" class="rudi-select-panel" fxLayout="column">
                                <form [formGroup]="form">
                                    <h4 class="menu-libelle"
                                        tabindex="0">{{'availableFormats.formatsDisponibles'|translate}}</h4>

                                    <mat-radio-group #radioGroup="matRadioGroup" (click)="$event.stopPropagation()"
                                                     aria-label="Select an option"
                                                     formControlName="options" fxLayout="column">
                                        <mat-radio-button
                                            *ngFor="let item of downloadableMedias; let i = index"
                                            [checked]="i === 0"
                                            [value]="item"
                                            class="mb-2">
                                            {{getMediaFileExtension(item)}}
                                        </mat-radio-button>
                                    </mat-radio-group>

                                    <button
                                        (click)="onDownloadFormat()"
                                        [ngClass]="{'btn-download-format':metadata.available_formats.length == null }"
                                        class="button menu-btn-download"
                                        mat-raised-button
                                        tabindex="3"
                                        type="submit"
                                    >
                                        {{'availableFormats.telecharger'|translate}}</button>
                                </form>

                            </div>
                        </mat-menu>
                    </button>
                    <button [hidden]="true" class="button ml-3" mat-raised-button routerLink="/partager">
                        <mat-icon class="icon-syle">share</mat-icon>
                    </button>

                    <!-- Demander l'accès à un JDD restreint -->
                    <button mat-raised-button  class="button ml-3" *ngIf="isRestricted" (click)="handleClickRequestAccess()">
                        <mat-icon class="key-icon" svgIcon="key_icon_circle"></mat-icon>
                        <span>{{'metaData.restrictedDatasetRequest'|translate}}</span>
                    </button>

                </mat-toolbar>
            </div>
            <a #a_export></a>

            <!-- Fin Bandeau -->

            <!-- Card Description  Theme Mot clés -->
            <div class="row mt-3 mb-4 px-80 card-description-keyword-row">
                <div [ngClass]="{'col-7': mediaSize.isMd,
                    'col-8':  mediaSize.isSm  || mediaSize.isLg || mediaSize.isXl || mediaSize.isXxl}"
                     class=" card-description-keyword">
                    <!--  Card Description -->
                    <div class="card-description mb-4">
                        <mat-card class="metadata-card">
                            <mat-card-title
                                class="card-label-title">{{'metaData.description'|translate}}</mat-card-title>
                            <mat-card-content class="mb-3 mt-3">
                                <span *ngIf="metadata.summary">{{getSummaryDescription(metadata)}}</span>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <!--  Card Theme et mot-clés -->
                    <div class="card-description">
                        <mat-card class="metadata-card">
                            <mat-card-title
                                class="card-label-title">{{'metaData.themeEtMotCle'|translate}}</mat-card-title>
                            <mat-card-content class="mt-3 pb-3">
                                <div class="d-flex d-table-cell keywords-row flex-wrap">
                                    <button
                                        *ngIf="themeLabel" [matTooltip]="themeLabel"
                                        class="rudi-btn-sm mb-2 rudi-btn-theme-detail"
                                        mat-flat-button
                                    >
                                        <mat-icon [svgIcon]="themePicto"></mat-icon>
                                        {{themeLabel | uppercase}}
                                    </button>
                                    <ng-container *ngIf="metadata.keywords.length > 0">
                                        <ng-container *ngFor="let keyword of metadata.keywords">
                                            <button class="rudi-btn-sm d-flex align-items-center mb-2"
                                                    mat-flat-button>{{ keyword }}</button>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <mat-card
                        [ngClass]="{'d-none': mediaSize.isMd ||mediaSize.isSm === true, 'meta-data-card-lg': mediaSize.isLg ||mediaSize.isXl || mediaSize.isXxl}"
                        class="meta-data-card">
                        <app-data-sets-infos
                            *ngIf="mediaSize.isDeviceDesktop"
                            [downloadableMedias]="downloadableMedias"
                            [mediaSize]="mediaSize"
                            [metadata]="metadata"
                        >
                        </app-data-sets-infos>
                    </mat-card>

                    <!-- Info File et Producteur en mode sm -->
                    <div *ngIf="mediaSize.isDeviceMobile" class="card-producer-file-sm">
                        <mat-card class="card-file metadata-card">
                            <div class="card-producer-file-sm-title">
                                <ng-container
                                    *ngIf="availableFormat(mediaDataType.Series) && !availableFormat(mediaDataType.File)">
                                    <mat-icon class="icon-file">timeline</mat-icon>
                                    <label class="card-label-title pl-3">{{'metaData.tempsReel'|translate}}</label>
                                </ng-container>

                                <ng-container
                                    *ngIf="availableFormat(mediaDataType.File) && !availableFormat(mediaDataType.Series)">
                                    <mat-icon class="icon-file">description</mat-icon>
                                    <label class="card-label-title pl-3">{{'metaData.fichier'|translate}}</label>
                                </ng-container>
                                <ng-container
                                    *ngIf="availableFormat(mediaDataType.File) && availableFormat(mediaDataType.Series)">
                                    <mat-icon class="icon-file">description</mat-icon>
                                    <label
                                        class="card-label-title pl-3">{{'metaData.fichier'|translate}} {{'common.et'|translate}}
                                        {{'metaData.tempsReel'|translate}}</label>
                                </ng-container>
                                <span class="file_status">{{metadata.storage_status}}</span>
                            </div>
                            <div [ngClass]="{'date-range-md': mediaSize.isMd}"
                                 class="date-range d-flex">
                                <div *ngIf="metadata.temporal_spread?.start_date" class="debutPeriode w-50 pr-5">
                                    <span
                                        class="display-block label-date">{{'datasetDate.debutDePeriode'|translate}}</span>
                                    <span
                                        class="date">{{metadata.temporal_spread.start_date | date :'dd/MM/yyyy' }}</span>
                                    <span
                                        class="date-range-hour ml-2">{{metadata.temporal_spread.start_date | date :'HH:mm' }}</span>
                                </div>

                                <div *ngIf="metadata.temporal_spread?.end_date" class="finPeriode">
                                    <span class="display-block label-date">
                                        {{'datasetDate.finDePeriode'|translate}}
                                    </span>
                                    <span class="date">{{metadata.temporal_spread.end_date | date :'dd/MM/yyyy'}}</span>
                                    <span
                                        class="date-range-hour ml-2">{{metadata.temporal_spread.end_date | date :'HH:mm'}}</span>
                                </div>
                            </div>

                            <div class="type-licence">
                                <span class="label-licence">{{'metaData.TypeLicence'|translate}}</span>
                                <span *ngIf="metadata?.access_condition?.licence.licence_type === licenceType.Standard"
                                      class="label-licence-status">
                                    <a href="{{this.conceptUri | async}}" target="_blank">{{licenceLabel | async}}</a>
                                </span>
                                <span *ngIf="metadata?.access_condition?.licence.licence_type === licenceType.Custom"
                                      class="label-licence-status">
                                    <a href="{{getCustomLicenceUri()}}"
                                       target="_blank">{{getCustomLicenceLabel(metadata.access_condition.licence)}}</a>
                                </span>
                            </div>

                            <div class="my-4 mr-auto">
                                <div *ngIf="metadata.dataset_dates.published" class="date-publication">
                                    <span
                                        class="label-date-publication">{{'datasetDate.dateDePublication'|translate}}</span>
                                    <span
                                        class="value-date-publication float-right">{{metadata?.dataset_dates.published | date :'dd/MM/yyyy'}}
                                        <span
                                            class="date-range-update-maj">{{metadata?.dataset_dates.published | date :'HH:mm' }}</span>
                                    </span>
                                </div>
                                <div *ngIf="metadata.dataset_dates.updated" class="date-mise-jour mt-3">
                                    <span class="label-date-publication">{{'datasetDate.miseAJour'|translate}}</span>
                                    <span
                                        class="value-date-publication float-right">{{metadata?.dataset_dates.updated | date :'dd/MM/yyyy'}}
                                        <span
                                            class="date-range-update-maj">{{metadata?.dataset_dates.updated | date :'HH:mm' }}</span>
                                    </span>
                                </div>
                            </div>
                        </mat-card>

                        <!-- Info Producteur pour taille md, sm -->
                        <mat-card class="card-producteur metadata-card rudi-card-border">
                            <mat-card-title>
                                <h2 class="card-label-title">{{'metaData.producteur'|translate}}</h2>
                            </mat-card-title>
                            <div class="row ml-1">
                                <div class="mr-3 align-items-center producteur-img-box">
                                    <app-organization-logo [organizationId]="metadata?.producer.organization_id"
                                                           organizationType="producer"></app-organization-logo>
                                </div>

                                <div class="col-9 pl-0">
                                    <div class="producer-info pb-4">
                                <span
                                    *ngIf="metadata.producer.organization_name !== ''">{{metadata.producer.organization_name}}</span>
                                        <span
                                            *ngIf="metadata.producer.organization_address !== '' ">{{metadata.producer.organization_address}}</span>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <div *ngIf="metadata.contacts && metadata.contacts.length > 0"
                                         class="pt-4">
                                        <div *ngFor="let data of metadata?.contacts"
                                             class="producer-info pb-3">
                                            <span>{{data.organization_name}}</span>
                                            <span>{{data.contact_name}}</span>
                                            <span>{{data.role}}</span>
                                            <app-contact-button [email]="data.email"></app-contact-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>


                        <!-- Informations complémentaires -->
                        <mat-card
                            [ngClass]="{'meta-data-card-sm': mediaSize.isMd ||mediaSize.isSm === true, 'meta-data-card-lg': mediaSize.isLg ||mediaSize.isXl || mediaSize.isXxl}"
                            class="meta-data-card mb-5">
                            <app-data-sets-infos
                                [downloadableMedias]="downloadableMedias"
                                [mediaSize]="mediaSize"
                                [metadata]="metadata"
                            >
                            </app-data-sets-infos>
                        </mat-card>
                    </div>
                </div>

                <div [ngClass]="{'col-5': mediaSize.isMd,
                    'col-4':  mediaSize.isSm  || mediaSize.isLg || mediaSize.isXl || mediaSize.isXxl}"
                     class="card-producer-file">
                    <mat-card class="card-file metadata-card pb-4">
                        <div class="card-producer-file-title">
                            <ng-container
                                *ngIf="availableFormat(mediaDataType.Series) && !availableFormat(mediaDataType.File)">
                                <mat-icon class="icon-file">timeline</mat-icon>
                                <label class="card-label-title pl-3">{{'metaData.tempsReel'|translate}}</label>
                            </ng-container>

                            <ng-container
                                *ngIf="availableFormat(mediaDataType.File) && !availableFormat(mediaDataType.Series)">
                                <mat-icon class="icon-file">description</mat-icon>
                                <label class="card-label-title pl-3">{{'metaData.fichier'|translate}}</label>
                            </ng-container>
                            <ng-container
                                *ngIf="availableFormat(mediaDataType.File) && availableFormat(mediaDataType.Series)">
                                <mat-icon class="icon-file">description</mat-icon>
                                <label
                                    class="card-label-title pl-3">{{'metaData.fichier'|translate}} {{'common.et'|translate}}
                                    {{'metaData.tempsReel'|translate}}</label>
                            </ng-container>
                            <span class="file_status">{{metadata.storage_status}}</span>
                        </div>

                        <div *ngIf="metadata.temporal_spread" class="date-range">
                            <div *ngIf="metadata.temporal_spread?.start_date"
                                 [ngClass]="{'right-vertical-separator': metadata.temporal_spread?.end_date}"
                                 class="debutPeriode">
                                <span class="display-block label-date">{{'datasetDate.debutDePeriode'|translate}}</span>
                                <span class="date">{{metadata.temporal_spread.start_date | date :'dd/MM/yyyy' }}
                                    <span
                                        class="date-range-hour mr-2">{{metadata.temporal_spread.start_date | date :'HH:mm' }}
                            </span>
                        </span>
                            </div>

                            <div *ngIf="metadata.temporal_spread?.end_date"
                                 class="finPeriode pl-2">
                                <span class="display-block label-date">{{'datasetDate.finDePeriode'|translate}}</span>
                                <span class="date">{{metadata.temporal_spread.end_date | date :'dd/MM/yyyy'}}
                                    <span
                                        class="date-range-hour ">{{metadata.temporal_spread.end_date | date :'HH:mm' }}
                            </span>
                        </span>
                            </div>
                        </div>
                        <div class="type-licence">
                            <span class="label-licence">{{'metaData.TypeLicence'|translate}}</span>
                            <span *ngIf="metadata?.access_condition?.licence.licence_type === licenceType.Standard"
                                  class="label-licence-status">
                                <a href="{{this.conceptUri | async}}" target="_blank">{{licenceLabel | async}}</a>
                            </span>
                            <span *ngIf="metadata?.access_condition?.licence.licence_type === licenceType.Custom"
                                  class="label-licence-status">
                                <a href="{{getCustomLicenceUri()}}"
                                   target="_blank">{{getCustomLicenceLabel(metadata.access_condition.licence)}}</a>
                            </span>
                        </div>

                        <div class="mt-4 mr-auto">
                            <div *ngIf="metadata.dataset_dates.published" class="date-publication">
                                <span
                                    class="label-date-publication">{{'datasetDate.dateDePublication'|translate}}</span>
                                <span
                                    class="value-date-publication float-right">{{metadata?.dataset_dates.published | date :'dd/MM/yyyy'}}
                                    <span
                                        class="date-range-update-maj">{{metadata?.dataset_dates.published | date :'HH:mm' }}</span>
                                </span>
                            </div>
                            <div *ngIf="metadata.dataset_dates.updated" class="date-mise-jour mt-3">
                                <span class="label-date-publication">{{'datasetDate.miseAJour'|translate}}</span>
                                <span
                                    class="value-date-publication float-right">{{metadata?.dataset_dates.updated | date :'dd/MM/yyyy'}}
                                    <span
                                        class="date-range-update-maj">{{metadata?.dataset_dates.updated | date :'HH:mm' }}</span>
                                </span>
                            </div>
                        </div>

                    </mat-card>

                    <!-- Info Producteur pour taille lg, xl, xxl-->
                    <mat-card class="card-producteur metadata-card rudi-card-border">
                        <mat-card-title>
                            <h2 class="card-label-title">{{'metaData.producteur'|translate}}</h2>
                        </mat-card-title>
                        <div class="row">
                            <div class="align-items-center producteur-img-box">
                                <app-organization-logo [organizationId]="metadata?.producer.organization_id"
                                                       cssClass="producteur-img"
                                                       organizationType="producer"></app-organization-logo>
                            </div>

                            <div [ngClass]="{'col-8': mediaSize.isLg, 'col-9': mediaSize.isXl || mediaSize.isXxl}">
                                <div class="producer-info pb-4">
                                    <span
                                        *ngIf="metadata.producer.organization_name">{{metadata.producer.organization_name | uppercase}}</span>
                                    <span
                                        *ngIf="metadata.producer.organization_address">{{metadata.producer.organization_address}}</span>
                                </div>
                                <mat-divider></mat-divider>
                                <div *ngIf="metadata.contacts && metadata.contacts.length > 0"
                                     class="pt-4">
                                    <div *ngFor="let data of metadata?.contacts"
                                         class="producer-info pb-3">
                                        <span>{{data.organization_name}}</span>
                                        <span>{{data.contact_name}}</span>
                                        <span>{{data.role}}</span>
                                        <app-contact-button [email]="data.email"></app-contact-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card>

                    <!-- Autres Jeux de données sur le même thème -->
                    <mat-card *ngIf="otherDatasets?.length > 0" class="card-datasets card-other-datasets metadata-card rudi-card-border pb-4">
                        <mat-card-title>
                            <h2 class="card-label">{{'metaData.otherDatasets'|translate}} ({{totalOtherDatasets}})</h2>
                        </mat-card-title>
                        <!-- à factoriser avec project/detail -->
                        <app-data-set-card-item *ngFor="let dataset of otherDatasets"
                                                [dataset]="dataset"
                                                [divider]="true">
                        </app-data-set-card-item>
                        <div class="see-more">
                            <a *ngIf="hasManyOtherDatasets()" class="nav-link" (click)="filterOnTheSameThemeAndGoToCatalog()">
                                <span>{{'metaData.seeMoreDatasets' | translate}}</span>
                            </a>
                        </div>
                    </mat-card>
                </div>
            </div>


            <div *ngIf="linkedProjects" class="banner-reuses">

                <div class="banner-reuses-header row d-flex justify-content-between">
                    <h2 class="blue-theme">{{'metaData.reutilisations.titre'|translate}}{{linkedProjects.length > 1 ? 's' : ''}}
                        ({{linkedProjects.length}})</h2>
                    <span class="spacer"></span>
                    <app-popover
                        (click)="clickDeclareReuse()"
                        buttonLogo="rudi_picto_reutilisations"
                        [buttonMessageBody]="'project.buttonReutilisationParagraph1'|translate"
                        [buttonMessageFooter]="'project.buttonReutilisationParagraph2'|translate"
                        [buttonMessageTitle]="'project.buttonPopover.declareReuse'|translate">

                    </app-popover>
                </div>

                <div *ngIf="linkedProjects.length" class="banner-reuses-cards">
                    <app-project-list [disableScrollOnPageChange]="true"
                                      [linkedDatasetsGlobalIds]="[metadata.global_id]"
                                      [maxResultsPerPage]="3"
                                      [resultsPerRow]="3">
                    </app-project-list>
                </div>

                <div *ngIf="!linkedProjects.length" class="row">
                    {{'metaData.reutilisations.aucuneReutilisation'|translate}}
                </div>

            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
