<app-loader
    [active]="loading">
</app-loader>

<app-search-count
    [searchIsRunning]="loading"
    [count]="requestsToStudy?.length"
    [noResultMessage]="'personalSpace.myNotifications.noResult' | translate">
</app-search-count>

<!-- On utilise hidden à la place de *ngIf pour éviter des bugs avec mat-table : https://stackoverflow.com/a/56127490/1655155 -->
<div [hidden]="!(requestsToStudy?.length)">

    <table mat-table [dataSource]="dataSource" matSort matSortActive="receivedDate" matSortDirection="desc"
           class="cursor">

        <ng-container matColumnDef="receivedDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"
                scope="col">{{'personalSpace.myNotifications.receivedDate'|translate}}</th>
            <td mat-cell *matCellDef="let requestToStudy"> {{requestToStudy.receivedDate | date: 'dd/MM/YYYY'}} </td>
        </ng-container>

        <ng-container matColumnDef="processDefinitionKey">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="table-header">
                {{'personalSpace.myNotifications.processDefinitionKey'|translate}}
            </th>
            <td mat-cell *matCellDef="let requestToStudy">
                <div class="icon-container">
                    <mat-icon class="icon-style" [svgIcon]="getIcon(requestToStudy)"></mat-icon>
                    <span> {{requestToStudy.processDefinitionKey | processDefinitionKeyTranslate }}</span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"
                scope="col">{{'personalSpace.myNotifications.description'|translate}}</th>
            <td mat-cell *matCellDef="let requestToStudy" class="dataset-title">
                <div class="description-container">
                    {{requestToStudy.description}}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header status-header"
                scope="col">
                <div>
                    <span>{{'personalSpace.myNotifications.status'|translate}}</span>
                </div>
            </th>
            <td mat-cell *matCellDef="let requestToStudy"><span
                class="status-chip">{{requestToStudy.status}}</span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="requestsToStudyDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let request; columns: requestsToStudyDisplayedColumns;"
            [routerLink]="getRouterLinkUrl(request)"></tr>


    </table>

    <app-paginator [pageSize]="10"></app-paginator>

</div>
