<!-- On ajoute ce contexte de sidenav pour éviter trop de régressions suite à la refonte du front -->
<mat-sidenav-container>
    <mat-sidenav-content class="sidebar-content-pd">
        <app-loader [active]="isLoading"></app-loader>
        <div *ngIf="metadata" [ngClass]="{'metadata-container-sm': mediaSize.isSm  || mediaSize.isMd,
            'metadata-container-lg':  mediaSize.isLg, 'metadata-container-xl': mediaSize.isXl, 'metadata-container-xxl': mediaSize.isXxl}"
             class="metadata-container ps-0 pe-0 container-fluid">

            <!-- Icon et titre de la ressource -->
            <app-page-heading
                [organizationName]="metadata?.producer?.organization_name"
                [resourceTitle]="metadata?.resource_title"
                [organizationId]="metadata?.producer.organization_id"
                [icon]="getDatasetTitleIcon()"
            >
            </app-page-heading>
            <!-- Fin Icon et titre de la ressource -->

            <!-- Bandeau -->
            <app-tabs>
                <app-tab [label]="'metaData.informations'|translate"
                         [icon]="'icon_tab_infos'">
                    <ng-template>
                        <app-dataset-informations
                            [metadata]="metadata"
                            [isSelfdata]="isSelfdata"
                            [isRestricted]="isRestricted"
                            [mediaDataType]="mediaDataType"
                            [mediasTitle]="mediasTitle"
                            [mediaType]="mediaType"
                            [licenceLabel]="licenceLabel"
                            [conceptUri]="conceptUri"
                            [themeLabel]="themeLabel"
                            [downloadableMedias]="downloadableMedias"
                            [isLoading]="isLoading"
                            [otherDatasets]="otherDatasets"
                            [themeCode]="themeCode"
                            [themePicto]="themePicto"
                            [maxDatasetDiplayed]="MAX_DATASETS_DISPLAYED"
                            [totalOtherDatasets]="totalOtherDatasets"
                        >
                        </app-dataset-informations>
                    </ng-template>
                </app-tab>
                <app-tab *ngIf="isSpreadsheetDisplayed"
                         [label]="'metaData.tabulatedDataTitle'|translate"
                         [icon]="'tabulated-data'">
                    <ng-template>
                        <app-spreadsheet-tab [metadata]="metadata" [mediaToDisplay]="mediaToDisplayTable">
                        </app-spreadsheet-tab>
                    </ng-template>
                </app-tab>

                <app-tab *ngIf="isMapDisplayed"
                         [label]="'metaData.mapData'|translate"
                         [icon]="'map'"
                         [invisible]="true"
                >
                    <ng-template>
                        <app-map-tab
                            [metadata]="metadata"
                            [mediaToDisplay]="mediaToDisplayMap"
                        >
                        </app-map-tab>
                    </ng-template>
                </app-tab>


                <!-- Boutton télécharger -->
                <app-banner-button *ngIf="!isSelfdata && downloadableMedias.length > 0">
                    <div>
                        <div #clickMenuFormatTrigger="matMenuTrigger"
                             [matMenuTriggerFor]="formatMenu"
                             class="d-flex align-items-center">
                            <mat-icon class="icon-syle icon-save me-l">save_alt</mat-icon>
                            <div
                                [ngClass]="{'banner-icon-libelle': mediaSize.isSm}">{{ 'availableFormats.telecharger'|translate }}
                            </div>
                            <mat-menu #formatMenu="matMenu" role="menu" xPosition="after">
                                <div (click)="$event.stopPropagation()" class="rudi-select-panel" fxLayout="column">
                                    <form [formGroup]="form">
                                        <div class="menu-radioGroup-scrollable">
                                            <h4 class="menu-libelle"
                                                tabindex="0">{{ 'availableFormats.formatsDisponibles'|translate }}</h4>

                                            <mat-radio-group #radioGroup="matRadioGroup"
                                                             (click)="$event.stopPropagation()"
                                                             aria-label="Select an option"
                                                             formControlName="options" fxLayout="column">
                                                <mat-radio-button
                                                    *ngFor="let item of downloadableMedias; let i = index"
                                                    [checked]="i === 0"
                                                    [value]="item"
                                                    class="mb-2">
                                                    {{ getMediaFileExtension(item) }}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>

                                        <button
                                            *ngIf="!isSelfdata"
                                            (click)="onDownloadFormat()"
                                            [ngClass]="{'btn-download-format':metadata.available_formats.length == null }"
                                            class="button menu-btn-download"
                                            mat-raised-button
                                            tabindex="3"
                                            type="submit"
                                        >
                                            {{ 'availableFormats.telecharger'|translate }}
                                        </button>
                                    </form>

                                </div>
                            </mat-menu>
                        </div>
                    </div>
                </app-banner-button>

                <!-- Faire une demande d'information sur ses données personnelles detenues -->
                <app-banner-button *ngIf="isSelfdata" (click)="handleClickSelfdataInformationRequest()">
                    <mat-icon class="key-icon me-2" svgIcon="icone_donnees_personnelles"></mat-icon>
                    <span>{{ 'metaData.selfdataInformationRequest.wholeTitle'|translate }}</span>
                </app-banner-button>

                <!-- Demander l'accès à un JDD restreint -->
                <app-banner-button *ngIf="!isSelfdata && isRestricted"
                                   (click)="handleClickRequestAccess()">
                    <div class="d-flex align-items-center">
                        <mat-icon class="key-icon me-2" svgIcon="key_icon_circle"></mat-icon>
                        <span>{{ 'metaData.restrictedDatasetRequest'|translate }}</span>
                    </div>
                </app-banner-button>

            </app-tabs>

            <!-- Fin Bandeau -->


            <div *ngIf="linkedProjects"
                 [ngClass]="{'p-small': mediaSize.isDeviceMobile, 'p-large': mediaSize.isDeviceDesktop}"
                 class="banner-reuses">

                <div class="banner-reuses-header d-flex justify-content-between">
                    <h2 class="blue-theme">{{ 'metaData.reutilisations.titre'|translate }}{{ linkedProjects.length > 1 ? 's' : '' }}
                        ({{ linkedProjects.length }})</h2>
                    <span class="spacer"></span>
                    <app-popover
                        (click)="clickDeclareReuse()"
                        buttonLogo="rudi_picto_reutilisations"
                        [buttonMessageBody]="'project.buttonSubmitParagraph1'|translate"
                        [buttonMessageFooter]="'project.buttonSubmitParagraph2'|translate"
                        [buttonMessageTitle]="'project.buttonPopover.submitProject'|translate">
                    </app-popover>
                </div>

                <div *ngIf="linkedProjects.length" class="banner-reuses-cards">
                    <app-project-list [disableScrollOnPageChange]="true"
                                      [linkedDatasetsGlobalIds]="[metadata.global_id]"
                                      [maxResultsPerPage]="(mediaSize.isXs || mediaSize.isSm) ? 1 : 3"
                                      [resultsPerRow]="(mediaSize.isXs || mediaSize.isSm) ? 1 : 3"
                                      [allPage]="false"
                                      [isTransparent]="true">
                    </app-project-list>
                </div>

                <div *ngIf="!linkedProjects.length">
                    {{ 'metaData.reutilisations.aucuneReutilisation'|translate }}
                </div>

            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
