@import "src/app/styles/common-style";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/colors";

.basic-primary-button {
    background-color: $primary-color;
    color: #e7e9ed;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    margin: 0 auto;
    width: 190px;
    height: 70px;
    border-radius: 6px;
    line-height: 1.25;
    text-align: center;
    white-space: normal !important;
    word-wrap: break-word;

    &:hover {
        background-color: $focus;
        color: $secondary-color;
    }

}
