<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="basePath">${ENV:RUDI_LOG_PATH:-${sys:java.io.tmpdir}}</Property>
    </Properties>
 
    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/rudi-kalim.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
        		<SizeBasedTriggeringPolicy size="10MB" />
    		</Policies>
    		<DefaultRolloverStrategy max="5" />
        </RollingFile>
 
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="fileLogger" level="INFO" />
            <appender-ref ref="console" level="INFO" />
        </Logger>
        <Logger name="org.rudi.microservice.kalim" level="INFO" additivity="false">
            <appender-ref ref="fileLogger" level="INFO" />
            <appender-ref ref="console" level="INFO" />
        </Logger>        
        <Root level="INFO" additivity="false">
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>
