<mat-sidenav-container>
    <mat-sidenav-content>
        <div
            [ngClass]="{'project-container-sm': mediaSize.isSm  || mediaSize.isMd,
            'project-container-lg':  mediaSize.isLg, 'project-container-xl': mediaSize.isXl, 'project-container-xxl': mediaSize.isXxl}"
            class="project-container container-fluid pl-0 pr-0"
        >
            <app-page-title [title1]="'project.catalogue'|translate"
                            [title2]="'project.reutilisations'|translate"
                            class="d-flex justify-content-center w-100"></app-page-title>

            <!--Composant reutilisation banner-->
            <app-banner [mediaSize]="mediaSize">

            </app-banner>

            <div
                 [ngClass]="{'data-set-full-height-sm': mediaSize.isSm || mediaSize.isMd }"
                 class="data-set-full-height mt-4 px-80">
                <div class="list-headers">
                    <!--Nombre de résultats-->
                    <div class="search-count">
                        <ng-container *ngIf="searchIsRunning">
                            {{'searchbox.searchIsRunning'|translate}}
                        </ng-container>
                        <ng-container *ngIf="!searchIsRunning">
                            {{projectListTotal}} {{'searchbox.results'|translate}}{{projectListTotal > 1 ? 's' : ''}}
                        </ng-container>
                    </div>

                    <app-order *ngIf="mediaSize.isXl || mediaSize.isLg || mediaSize.isXxl" [(order)]="order">
                    </app-order>

                </div>

                <app-project-list (clickProject)="onClickProject($event)"
                                  (projectListChange)="projectListTotal = $event.total"
                                  (runningSearch)="searchIsRunning = $event"
                                  [order]="order"
                ></app-project-list>

            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
