@import "src/app/styles/colors";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/common-style";
@import "src/app/styles/pagination";


.mat-sidenav {
    margin-top: 106px;
    width: 100%;
}

.mat-drawer-content {
    overflow-x: hidden;
}

.rudi-sidenav-container-footer {
    display: flex;
    justify-content: center;
}

.search-count {
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: $secondary-text;
}

.list-headers {
    display: flex;
    justify-content: space-between !important;
}

.project-container {
    min-height: 460px; // taille minimale pour afficher les popover sans qu'elles soient tronquées
    padding-top: $padding-top;
}

