<div class="main-container">
    <button class="btn-action" (click)="clickOnButton()"
            mat-raised-button>
        <div class="input-and-icon" [title]="getInputTitle()">
            <input matInput [type]="hidePassword ? 'password' : 'text'" autocomplete="off"
                   class="fake-input" [value]="toCopy">
            <mat-icon *ngIf="!copiedSuccess">content_copy</mat-icon>
            <mat-icon *ngIf="copiedSuccess">done_all</mat-icon>
        </div>
    </button>
    <mat-icon *ngIf="isMasked" matSuffix class="floating-icon-visibility"
              (click)="hidePassword = !hidePassword">
        {{hidePassword ? 'visibility' : 'visibility_off'}}
    </mat-icon>
</div>
