@import "src/app/styles/common-style";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/colors";

.data-block {
    width: 460px;
    height: 38px;
    padding: 6px 0 3px 12px;
    border-radius: 4px;
    border: solid 1px #cbcdd1;
    margin-bottom: 10px;
    vertical-align: middle;
}

.libelle {
    font-size: 15px;
    color: $primary-text;
    font-weight: 600;
    margin: 2px 0 0 7px;
}
