@import "src/app/styles/colors";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/common-style";


.data {
    margin-top: 30px;
}

.rudi-panel-data-gdata {
    width: 700px;
    height: 45px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: solid 1px $blocks-and-menus-outline;

    .rudi-panel-data-data-language {
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: $primary-text;
    }

    .rudi-panel-language-value {
        font-size: 15px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #000000
    }

    .rudi-panel-table, .rudi-panel-tbody-border {
        border: hidden;

        td {
            width: 30%;
        }
    }
}

.rudi-panel-tbody-border {
    border-left: 1px solid $blocks-and-menus-outline;
    border-right: 1px solid $blocks-and-menus-outline;
    border-bottom: 1px solid $blocks-and-menus-outline;
}
