<form *ngIf="formGroup" [formGroup]="formGroup" class="filter-child">
    <div class="filter-child-form">
        <ul [class]="ulClass" [formArrayName]="formArrayName">
            <li *ngFor="let producerName of items; let i = index" [formGroupName]="i">
                <mat-checkbox
                    [checked]="isChecked(producerName)"
                    [value]="producerName.value"
                    class="rudi-checkbox"
                    formControlName="checked"
                >{{producerName.value}}
                </mat-checkbox>
            </li>
        </ul>
    </div>
    <div>
        <button
            color="primary"
            (click)="submitForm()"
            class="rudi-blue-button"
            mat-raised-button
            type="submit"
            [disabled]="!submitIsEnabled"
        >
            {{'common.appliquer'|translate}}
        </button>
    </div>
</form>
