@import "font-open-sans";
@import "common-style";

.rudi-sidenav-container {
  padding: 0 25px 20px 25px;


  ul {
    max-height: 300px;
    overflow-x: auto;
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: gray white; /* scroll thumb and track */
  }

  &-filter-title {
    font-size: 26px;
    color: var(--primary-color);
    padding: 30px  0 30px 0;
  }

}

::ng-deep {
    .rudi-icon-back {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        box-shadow: none;
        border: 1px solid var(--primary-color);

        .mat-mini-fab .mat-button-wrapper {
            padding: 0 !important;
        }

        &.mat-mini-fab.mat-accent {
            background-color: white !important;
            color: var(--primary-color) !important;
            border: 1px solid var(--keywords-outline) !important;
            box-shadow: none;
        }

        .mat-icon {
            width: 38px !important;
            height: 28px !important;
        }
    }
}
