@import "colors";
@import "font-open-sans";
@import "common-style";

.rudi-sidenav-container {
  padding: 0 25px 20px 25px;


  ul {
    max-height: 300px;
    overflow-x: auto;
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: white; /* scroll thumb and track */
  }

  &-filter-title {
    font-size: 26px;
    color: $primary-color;
    padding: 30px  0 30px 0;
  }

}
