<div id="dialog-container">
    <mat-dialog-content>
        <div class="dialog-cross-button">
            <button mat-icon-button (click)="handleClose()">
                <mat-icon svgIcon="icon-close" class="cross-button"></mat-icon>
            </button>
        </div>
        <div class="dialog-content">


            <div class="dialog-title">{{'metaData.restrictedDatasetRequestDialog.ok.title' | translate}}</div>
            <div class="dialog-description">{{'metaData.restrictedDatasetRequestDialog.ok.description1' | translate}}
                <span class="link-text"
                      (click)="goToMyReuses()">{{'metaData.restrictedDatasetRequestDialog.ok.description2' | translate}}</span>
            </div>
        </div>
    </mat-dialog-content>
</div>
