@import "common-style";


.title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0 50px 40px 50px;
    line-height: 30px;
}


.content-text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 70px 0px 70px;
    text-align: center;
}

.description-text {
    color: var(--primary-text);
    margin-right: 5px;
}

.link-text {
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}
