<div class="bandeau">
    <mat-toolbar class="bandeau-card">
        <span class="spacer"></span>
        <app-popover class="mr-3"
                     (click)="submitProject()"
                     buttonLogo="rudi_picto_projet"
                     [buttonMessageBody]="'project.buttonSubmitParagraph1'|translate"
                     [buttonMessageFooter]="'project.buttonSubmitParagraph2'|translate"
                     [buttonMessageTitle]="'project.buttonPopover.submitProject'|translate">
        </app-popover>
    </mat-toolbar>
</div>
