@import "src/app/styles/common-style";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/colors";

.rudi-filters-toolbar {
    width: auto !important;
    position: relative;
    left: 42%!important;
    right: 50%;
    margin: 42px -50vw 35px -50vw;
    background-color: $banner-solid-color;


    :focus-visible {
        outline: $focus solid 1px;
        color: $focus;
    }

    .popover-position {
        margin: 0 auto;
    }


}

.pl-large {
    padding-left: 80px !important;
}



