@import "../../../styles/common-style";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/common-style";

.bar {
    fill: steelblue;
    stroke: black;
}

.legend {
    font-family: OpenSans, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.59;
    color: var(--3-texte-gris-fonc);
}

.serie-name {
    width: 113px;
    font-family: OpenSans, sans-serif;
    font-size: 12px;
    line-height: 1.72;
    color: var(--3-texte-gris-fonc);
}

.key-icon {
    height: 12px;
}

.chart-style {
    margin-left: 30px;
}

.graph-center {
    margin-left: 340px;
}
.fake-scroll {
    overflow-x: scroll;
    width: 65em;
    position: relative;
}





p {
    font-family: Lato, OpenSans, sans-serif;
}

body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axe-y {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: rotate(0.5turn);
}
.vertical-align {
    writing-mode: vertical-rl;
    text-align: center;
}
