@import "variables-rudi";
@import "colors";

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.with-border {
    width: 70px;
    height: 70px;
    padding: 10px 4px 10px 4px;
    border-radius: 3.4px;
    border: solid 0.9px $blocks-and-menus-outline;
    background: $secondary-color;
}
