<div>
    <app-loader [active]="isLoading" [allPage]="false" [isTransparent]="true" [noText]="true"></app-loader>
    <ng-container *ngIf="!isLoading">
        <img *ngIf="content" [alt]="name | translate" [src]="content" [class]="cssClass">
        <img *ngIf="!content && isANewRequest" src='/assets/images/rudi_picto_nouvelle_demande.svg' alt="{{'project.detail.newRequestLogo'|translate}}" [class]="cssClass">
        <img *ngIf="!content && !isANewRequest" [src]="defaultContent" alt="{{'project.detail.defaultLogo'|translate}}" [class]="cssClass">
    </ng-container>
</div>
