@import "common-style";

.data-set-container {
    &-xs, &-sm, &-md {
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        grid-auto-rows: 1fr;
    }

    &-lg {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-auto-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    &-xl {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-auto-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    &-xxl {
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        grid-auto-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}

/*
Définition du style de la pagination,
ce style est necessaire uniquement pour le cas d'utilisation du composant dans une popin
*/
::ng-deep .ngx-pagination {
    padding-left: 0;
    margin-left: -6px !important;

    .pagination-previous {
        color: var(--primary-text-light) !important;
        font-weight: normal !important;
        font-stretch: normal;
    }

    .pagination-next {
        color: var(--primary-text-light) !important;
        font-weight: normal !important;
        font-stretch: normal;
    }

    .current {
        padding: 0.1875rem 0.625rem;
        background: var(--primary-color) !important;
        color: #fefefe;
        cursor: default;
        font-size: 14px;
        border-radius: 3px;
        text-decoration: none;

    }

    a, .ngx-pagination button {
        color: var(--primary-color) !important;
        display: block;
        padding: 0.1875rem 0.625rem;
        font-weight: 600 !important;
        font-stretch: normal !important;
        font-style: normal !important;

    }
}
