<mat-sidenav-container class="main-container">
    <mat-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container-fluid"
             [ngClass]="{
                'p-small': mediaSize.isDeviceMobile,
                'p-large': mediaSize.isDeviceDesktop
            }"
        >
            <div>
                <div class="d-flex justify-content-center">
                    <span class="signup-header-title">{{'resetPassword.resetPasswordLabel'|translate}}</span>
                </div>
                <mat-card
                    [ngClass]="{'p-60': mediaSize.isDeviceDesktop || mediaSize.isMd, 'p-19': mediaSize.isSm}">

                        <mat-card-title class="d-flex justify-content-center">
                        <p class="signup-text-title">{{'resetPassword.resetPasswordPageTitle'|translate}}</p>
                        </mat-card-title>

                        <mat-card-content>
                        <form [formGroup]="signupForm">
                            <div class="d-flex justify-content-center">
                                <div class="signup-form-container">

                                    <mat-form-field
                                        appearance="standard" hideRequiredMarker>
                                        <mat-label>{{'signup.password'|translate}} <span
                                            class="mat-error">{{'signup.etoile'|translate}}</span></mat-label>
                                        <input matInput [type]="hidePassword ? 'password' : 'text'" id="password"
                                               placeholder="{{'signup.password'|translate}}"
                                               formControlName="password" autocomplete="off"
                                               required>
                                        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                                                [attr.aria-label]="'Hide password'"
                                                [attr.aria-pressed]="hidePassword">
                                            <mat-icon
                                                class="hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                        <mat-error
                                            *ngIf="formControls.password.errors?.minlength">
                                            <em class="fa fa-info-circle fa-2x mr-2"></em>{{'signup.passwordErrorPre'|translate}} {{passwordMinLength}} {{'signup.passwordErrorPost'|translate}}
                                        </mat-error>
                                        <mat-error
                                            *ngIf="formControls.password.errors?.required">
                                            <em class="fa fa-info-circle fa-2x mr-2"></em>{{'signup.passwordRequired'|translate}}
                                        </mat-error>
                                    </mat-form-field>
                                    <p class="password-msg">{{'signup.passwordMsgPre'|translate}} {{passwordMinLength}} {{'signup.passwordMsgPost'|translate}}</p>
                                    <p class="pb-3">
                                        <app-password-strength [password]="signupForm.value.password"
                                                               class="text-center"></app-password-strength>
                                    </p>

                                    <mat-form-field appearance="standard" hideRequiredMarker>
                                        <mat-label>{{'signup.ConfirmPassword'|translate}} <span
                                            class="mat-error">{{'signup.etoile'|translate}}</span></mat-label>
                                        <input id="confirm_password" matInput
                                               [type]="hideConfirmPassword ? 'password' : 'text'"
                                               placeholder="{{'signup.ConfirmPassword'|translate}}"
                                               formControlName="confirmPassword" required autocomplete="off">
                                        <button mat-icon-button matSuffix
                                                (click)="hideConfirmPassword = !hideConfirmPassword"
                                                [attr.aria-label]="'Hide confirmPassword'"
                                                [attr.aria-pressed]="hideConfirmPassword">
                                            <mat-icon
                                                class="hidePassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                        <mat-error *ngIf="formControls.confirmPassword.errors?.required">
                                            <em class="fa fa-info-circle fa-2x mr-2"></em>{{'signup.passwordConfirmRequired'|translate}}
                                        </mat-error>
                                        <mat-error *ngIf="formControls.confirmPassword.errors?.confirmedValidator">
                                            <em class="fa fa-info-circle fa-2x mr-2"></em>{{'signup.passwordConfirmError'|translate}}
                                        </mat-error>
                                    </mat-form-field>

                                </div>
                            </div>
                        </form>
                        </mat-card-content>

                    <mat-card-actions class="d-flex align-items-center flex-column mx-0">
                        <button type="submit" class="signup-btn-inscription mb-3"
                                    [ngClass]="{
                                    'signup-btn-desktop': mediaSize.isDeviceDesktop,
                                    'signup-btn-mobile': mediaSize.isDeviceMobile
                                }" mat-flat-button
                                (click)="handleClickResetPassword()" [disabled]="!isValid">
                            {{'resetPassword.resetPasswordLabel'|translate}}
                            </button>
                        <mat-progress-spinner *ngIf="loading" class="mr-auto mt-2" mode="indeterminate"
                                                  diameter="30"></mat-progress-spinner>
                        <!-- Box erreur d'authent normale -->
                        <app-error-box *ngIf="isError4xx"
                                       [text]="'authentification.error-body'|translate"
                                       [clickableText]="'authentification.error-footer'|translate"
                                       (clickableTextClicked)="handleClickGoResetPassword()"
                        >
                        </app-error-box>
                        </mat-card-actions>
                    </mat-card>

                <!--connexion -->
                <div class="d-flex justify-content-center mb-2">
                    <span class="text-center">{{'signup.compteExistant'|translate}}</span>
                    <span class="text-center ml-1 link-bold-underlined-colored pointer"
                          routerLink="/login">{{'signup.pSeconnecter'|translate}}</span>
            </div>

            </div>

            <mat-divider class="mt-6"></mat-divider>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
