@use '@angular/material' as mat;

@include mat.core();

$open-sans-typography: mat.define-typography-config(
    $font-family: '"OpenSans", sans-serif',
    $body-1: mat.define-typography-level($font-size: 14px),
    $button: mat.define-typography-level($font-size: 14px),
);
@include mat.typography-hierarchy($open-sans-typography);

$app-theme: mat.define-light-theme((
    typography: $open-sans-typography
));
@include mat.all-component-themes($app-theme);

/**
 Custom material
 */

html .mat-accent {
    --mdc-circular-progress-active-indicator-color: #0270e7 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    --mdc-filled-text-field-container-color: transparent !important;
}

.mdc-text-field--filled .mdc-floating-label {
    --mdc-filled-text-field-label-text-size: 14px !important;
}

.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
    --mat-form-field-subscript-text-size: 10.5px !important;
    --mat-form-field-subscript-text-tracking: 0px !important;
}

.mat-mdc-form-field {
    --mat-form-field-container-text-size: 14px !important;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked + .mdc-radio__background .mdc-radio__outer-circle,
.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled + .mdc-radio__background .mdc-radio__inner-circle {
    --mdc-radio-selected-icon-color: #0270e7 !important;
}

.mat-mdc-radio-button.mat-accent {
    --mdc-radio-selected-focus-icon-color: #0270e7 !important;
    --mdc-radio-selected-hover-icon-color: #0270e7 !important;
    --mdc-radio-selected-icon-color: #0270e7 !important;
    --mdc-radio-selected-pressed-icon-color: #0270e7 !important;
    --mat-radio-checked-ripple-color: #0270e7 !important;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background {
    --mdc-checkbox-selected-hover-icon-color: #0270e7 !important;
    --mdc-checkbox-selected-icon-color: #0270e7 !important;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:focus:checked ~ .mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:focus:indeterminate ~ .mdc-checkbox__background {
    --mdc-checkbox-selected-focus-icon-color: #0270e7 !important;
}

.mdc-checkbox:hover .mdc-checkbox__native-control:checked ~ .mdc-checkbox__ripple {
    --mdc-checkbox-selected-hover-state-layer-color: #0270e7 !important;
}

.mdc-checkbox .mdc-checkbox__native-control:focus:checked ~ .mdc-checkbox__ripple {
    --mdc-checkbox-selected-focus-state-layer-color: #0270e7 !important;
}

.mdc-checkbox:not(:disabled):active .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mdc-checkbox:not(:disabled):active .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background, .mdc-checkbox:not(:disabled):active .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background {
    --mdc-checkbox-selected-pressed-icon-color: #0270e7 !important;
}

.mdc-checkbox .mdc-checkbox__native-control:focus ~ .mdc-checkbox__ripple {
    --mdc-checkbox-selected-pressed-state-layer-color: #0270e7 !important;
}

.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: var(--primary-color) !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    overflow: hidden;
}

.mat-mdc-dialog-content {
    overflow-x: hidden !important;
}

.mat-icon svg {
    vertical-align: top;
}

button {
    --mdc-filled-button-label-text-tracking: normal !important;
    --mdc-text-button-label-text-tracking: normal !important;
    --mdc-protected-button-label-text-tracking: normal !important;
}

.mat-expansion-panel {
    box-shadow: none;
    border-bottom: 1px solid var(--blocks-and-menus-outline);
    border-radius: unset;

    &:last-of-type {
        border: none;
    }
}

.mat-badge-content {
    background: var(--focus);
    top: 7px !important;
    left: 110px;
}

.rudi-sidenav-container-filter {
    .mat-badge-content {
        background: var(--focus);
        top: 0 !important;
        font-size: 14px;
        font-weight: normal;
        width: 30px;
        height: 30px;
        left: -40px;
        line-height: 28px;
    }
}

.mat-expansion-panel:not(.mat-elevation-z) {
    box-shadow: none;
}

.mat-expansion-panel-header {
    padding: 0;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
    background: none;
}

.mat-menu-item {
    border-radius: 3px;
}

button.mat-menu-item {
    background-color: white;
}

button.mat-menu-item:hover {
    background-color: var(--focus);
    color: white;
}

::ng-deep.mat-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay {
    opacity: 0;
}

::ng-deep.mat-expansion-indicator {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-expansion-panel-header.open {
    ::ng-deep.mat-expansion-indicator {
        width: 30px;
        border: 1.6px solid var(--focus);
        border-radius: 15px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--focus);

        &::after {
            color: var(--focus);
        }
    }
}

::ng-deep.mat-expansion-indicator:hover, ::ng-deep.mat-expansion-indicator:focus, ::ng-deep.mat-expansion-indicator.open {
    width: 30px;
    border: 1.6px solid var(--focus);
    border-radius: 15px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--focus);

    &::after {
        color: var(--focus);
    }
}

.mat-card-header-text {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px;
}

::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: var(--focus);
}

::ng-deep.mat-checkbox-frame {
    border: 1px solid var(--blocks-and-menus-outline);
}

::ng-deep.mat-checkbox-label {
    margin-left: 5px;
}

::ng-deep.mat-menu-panel {
    overflow: hidden !important;
    border-radius: 6px !important;
    box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px var(--blocks-and-menus-outline);
    margin-top: 12px;
    min-width: 244px;
    width: auto;

    rudi-select-panel-with-footer {
        ul {
            max-height: 36vh;
            overflow: auto;
        }
    }
}

::ng-deep.mat-drawer-container {
    background-color: var(--secondary-color);
}

::ng-deep.mat-radio-container, ::ng-deep.mat-radio-outer-circle, ::ng-deep.mat-radio-inner-circle {
    width: 28px;
    height: 28px;
}

::ng-deep.mat-radio-outer-circle {
    border-width: 1px;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: var(--focus);
}

::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: var(--focus);
}

::ng-deep.mat-checkbox-layout {
    white-space: normal;
    margin-top: 1em;
}

.signup-form-container .mat-mdc-form-field .mat-mdc-form-field-subscript-wrapper {
    margin-bottom: 22px !important;
}
