@import "../styles/colors";

.mat-expansion-panel {
    box-shadow: none;
    border-bottom: 1px solid $blocks-and-menus-outline;
    border-radius: unset;

    &:last-of-type {
        border: none;
    }
}

.mat-badge-content {
    background: $focus;
    top: 7px !important;
    left: 110px;
}

.rudi-sidenav-container-filter {
    .mat-badge-content {
        background: $focus;
        top: 0 !important;
        font-size: 14px;
        font-weight: normal;
        width: 30px;
        height: 30px;
        left: -40px;
        line-height: 28px;
    }
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
    background: none;
}

.mat-menu-item {
    border-radius: 3px;
}

button.mat-menu-item {
    background-color: white;
}

button.mat-menu-item:hover {
    background-color: $focus;
    color: white;
}

.mat-badge-content {
    background: $focus;
    top: 7px !important;
    left: 110px;
}

.rudi-sidenav-container-filter {
    .mat-badge-content {
        background: $focus;
        top: 0 !important;
        font-size: 14px;
        font-weight: normal;
        width: 30px;
        height: 30px;
        left: -40px;
        line-height: 28px;
    }
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
    background: none;
}

::ng-deep.mat-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay {
    opacity: 0;
}

::ng-deep.mat-expansion-indicator {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-expansion-panel-header.open {
    ::ng-deep.mat-expansion-indicator {
        width: 30px;
        border: 1.6px solid $focus;
        border-radius: 15px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $focus;

        &::after {
            color: $focus;
        }
    }
}

::ng-deep.mat-expansion-indicator:hover, ::ng-deep.mat-expansion-indicator:focus, ::ng-deep.mat-expansion-indicator.open {
    width: 30px;
    border: 1.6px solid $focus;
    border-radius: 15px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $focus;

    &::after {
        color: $focus;
    }
}

.mat-card-header-text {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.mat-expansion-panel-header {
    padding: 0 15px 0 0;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px;
}

::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $focus;
}

::ng-deep.mat-checkbox-frame {
    border: 1px solid $blocks-and-menus-outline;
}

::ng-deep.mat-checkbox-label {
    margin-left: 5px;
}


::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px;
}

::ng-deep.mat-menu-panel {
    max-height: 50vh;
    overflow: hidden !important;
    border-radius: 6px !important;
    box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px $blocks-and-menus-outline;
    margin-top: 12px;
    min-width: 244px;
    width: auto;

    rudi-select-panel-with-footer {
        ul {
            max-height: 36vh;
            overflow: auto;
        }
    }
}

::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $focus;
}

::ng-deep.mat-checkbox-frame {
    border: 1px solid $blocks-and-menus-outline;
}

::ng-deep.mat-checkbox-label {
    margin-left: 5px;
}

::ng-deep.mat-drawer-container {
    background-color: $secondary-color;
}

::ng-deep.mat-radio-container, ::ng-deep.mat-radio-outer-circle, ::ng-deep.mat-radio-inner-circle {
    width: 28px;
    height: 28px;
}

::ng-deep.mat-radio-outer-circle {
    border-width: 1px;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $focus;
}

::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $focus;
}

::ng-deep.mat-checkbox-layout {
    white-space: normal;
}
