:root {
    --icon: 32px;

    --header-index: 2;
    --app-header-height: 100px;
    --app-footer-height: 231px;
    --content-margin-top: 106px;
    --bloc-min-width: 360px;
    --bloc-space-width: 16px;

    --card-height-sm: 200px;
    --card-height-md: 100px;
    --card-height-lg: 290px;
    --card-project-height-lg: 440px;

    // Bootstrap
    --bootstrap-gutter: 15px;

    /// Hauteur de la bannière affichant des informations sur la version en cours tout en haut de l'écran
    --header-version-height: 50px;

    /** project-pt ***/
    --padding-top: 150px;

    //**gap ***/
    --gap: 16px;
}
