@import "./colors";

.mat-table-demandes-acces {
    width: 100%;
}

.table-title-style {
    font-family: OpenSans;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.align-left {
    text-align: left;
}

.titre-jdd {
    font-family: OpenSans;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: $primary-color;
}

.table-jdd {
    margin-top: 3em;
}

.svg-style {
    margin-right: 1em;
    width: 1.5em;
}

.table-header {
    font-family: OpenSans;
    font-size: 13px;
    font-weight: 600;
    color: $primary-text;
    //overide the mat table margin css
    padding: 0px !important
}

.table-header:first-child {
    text-decoration: underline;
}

.first-row {
    width: 20%;
}

.fake-btn-status {
    background-color: $banner-solid-color;
    border-radius: 14px;
    white-space: nowrap;
    padding: 5px 18px;
    font-size: 13px;
    border: none;
    height: 2.5em;
    margin-top: 20px;
}

.second-row {
    width: 50%;
}

.table-header:nth-last-child(2){
    display: flex;
    justify-content: center;
    height: inherit;
}

.add-link-button {
    width: 150px;
    height: 50px;
    border-radius: 4px;
    margin-top: 10px;
    color: $primary-color;
    font-size: 16px;
    font-weight: bold;
}

::ng-deep {
    .icon-add-jdd {
        margin: -12px 5px 0 -8px;

        svg {
            height: 22px;
            width: 22px;
            margin: 7px 0 0 -4px;
        }
    }
}
.delete-img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    height: 103px;
    padding-top: 12px;
}
