$light-grey-bg: #e7e9ed;
$light-grey: #d5d8de;
$divider-light-grey: #eaeaea;
$border-grey: #cbcdd1;
$border-grey-darker: #979797;
$warm-grey: #999999;

$active-blue: #0270e7; // TODO bizarre d'avoir deux couleurs aussi proches
$blue-button: #0070ef; // TODO bizarre d'avoir deux couleurs aussi proches
$dark-grey: #323643;

$primary-color: #004680;
$secondary-color: #ffffff;
$accent-color: #f36b43;
$accent-color-svg: #ff8d6d;
$green-color-svg: #4eff5b;
$gray: #71757e;

$rudi-header-primary-color:  #002748;
