@import 'mixins';
@import 'functions';

.pagination-container {
    margin-top: 40px;
    width: 100%;
}

.block-icon-close {
    margin: 16px 0 0 -20px;
}

*:focus-visible {
    outline: var(--focus) solid 1px;
}

.rudi-card-border {
    border-color: var(--blocks-and-menus-outline);
}

::ng-deep rudi-blue-button {
    width: 230px;
    height: 40px;
    margin: 20px 15px 0 0;
    padding: 7px 0 7px 0;
    border-radius: 3px;
    background-color: var(--focus);
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.mat-raised-button.mat-button-disabled {
        background-color: var(--primary-text-light) !important;
        color: white;
    }
}

.rudi-radio-group {
    font-size: 14px;
    color: var(--primary-text);
}

.rudi-radio-button {
    margin-bottom: 20px;
}

.rudi-btn {
    &-sm {
        border: 1px solid var(--keywords-outline);
        border-radius: 4px;
        height: 30px;
        margin: 0 4px 0;
        padding: 0 7px;
        font-size: 13px;
        font-weight: normal;
        color: var(--primary-text);
        min-width: initial;
    }

    &-md {
        border: 1px solid var(--keywords-outline);
        border-radius: 4px;
        height: 30px;
        margin-right: 6px;
        padding: 10px 10px 10px 14px;
        font-size: 13px;
        font-weight: normal;
        color: var(--primary-text);
        min-width: initial;
    }

    &-theme-detail,
    &-theme {
        line-height: normal;
        padding: 0;
    }

    &-theme-detail {
        font-size: 14px;
        color: var(--primary-text);
        background-position-x: 10px;
        background-position-y: center;
        background-size: 20px;
        font-weight: 600;
        background-repeat: no-repeat;
        padding-left: 10px;
        display: flex;
        align-items: center;
        padding-right: 11px;

        svg {
            position: relative;
            left: -2px;
        }
    }

    &-theme {
        width: 30px;
        min-width: initial;
        background-repeat: no-repeat;
        background-position: left;

        svg {
            width: 28px;
            height: 28px;
            position: relative;
            top: -2px;
            left: -2px;
        }

    }
}

.f-w-600 {
    font-weight: 600;
}

.f-w-500 {
    font-weight: 500;
}

.pointer {
    cursor: pointer;
}

.w-20 {
    width: 20%;
}

.m-20 {
    margin: 20px;
}

.ml-16 {
    margin-left: -16px;
}

.m-40 {
    margin: 40px;
}

.m-80 {
    margin: 80px;
}

.px-80 {
    padding: 0 80px;
}

.px-20 {
    padding: 0 20px;
}

.px-40 {
    padding: 0 40px;
}

.pl-47 {
    padding-left: -47px;
}

.p-small {
    padding: 150px 20px 10px 20px !important;
}

.p-medium {
    padding: 150px 40px 10px 40px !important;
}

.p-large {
    padding: 150px 80px 30px 80px !important;
}

.m-large-negative {
    margin-right: -80px;
    margin-bottom: -30px;
    margin-left: -80px;
}

.rudi-icon-bordered {
    font-size: 15px;
    border-radius: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--secondary-color);
    background-color: var(--focus);
    border: 1px solid var(--focus);
    line-height: 2.5;
}

.rudi-icon-encircled {
    @include encircled(1.7em);
}

mat-toolbar a:hover {
    text-decoration: underline;
}

.disabled {
    pointer-events: none;
}

/****Banner / Toolbar container style *****/
@mixin button-blue() {
    background-color: var(--primary-color);
    color: var(--banner-solid-color);
    font-weight: 600;
    height: 42px;
}

.bandeau-card {
    background-color: var(--banner-solid-color);
    height: 60px;
    padding: 8px 80px;

    .button {
        cursor: pointer;
        font-weight: 400;
        border-radius: 6px;
    }

    .button-info {
        background-color: var(--secondary-color);
        color: var(--primary-text);
        font-weight: 600;
        height: 42px;

        .icon-information {
            margin-right: 10px;
            vertical-align: unset;
        }

        .icon-information-sm {
            margin-right: 0;
            vertical-align: unset;
        }
    }
}

.sidebar-content-pd {
    padding: var(--header-version-height) 0 0 0;
}

.mt-6 {
    margin-top: 6rem;
}

// Style custom imposé pour la première collone du tableau
.th.mat-header-cell:first-of-type, td.mat-cell:first-of-type {
    padding: 24px 24px !important;
}

.dataset-card-infos {
    cursor: pointer;
}
