@import "variables-rudi";
@import "common-style";

@mixin button-blue {
    background-color: $primary-color;
    font-weight: bold;
    color: $banner-solid-color;
    font-family: OpenSans, sans-serif;
}

@mixin button-inactive {
    background-color: $primary-text-light;
    font-weight: bold;
    color: $banner-solid-color;
    font-family: OpenSans, sans-serif;
    pointer-events: none;
}


#content {
    margin: $content-margin-top auto 0 auto;
    max-width: 768px;
    font-family: OpenSans, sans-serif;
}

h1 {
    // TODO À adapter lors de l'ajout du fil d'Ariane
    margin-top: 171px; // $content-margin-top + 65px

    color: $primary-color;
    text-align: center;

    font-size: 38px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;

    .title-1 {
        font-weight: bold;
    }

    .title-2 {
        color: $accent-color;
    }
}

.description {
    text-align: center;
    color: $primary-text;

    font-family: OpenSans, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
}

.step-card {
    margin-top: calc(61px - 37px);
    margin-bottom: 40px;
    padding: 61px 60px 60px 68px;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;

    &-header {
        margin-bottom: 56px;
    }

    .step-title {
        color: $primary-color;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
    }

    .step-description {
        font-family: OpenSans, sans-serif;
        font-size: 16px;
        color: $primary-text;
        text-align: center;
    }

    .step-required-information {
        font-family: OpenSans, sans-serif;
        font-size: 14px;
        color: $primary-text-light;
        text-align: center;
    }

    .step-form-card-label {
        margin-bottom: 0.7em;

        &-title {
            font-family: OpenSans, sans-serif;
            font-size: 16px;
            color: $secondary-text;
            line-height: 2;
        }

        &-description {
            font-family: OpenSans, sans-serif;
            font-size: 14px;
            color: $primary-text-light;
        }

    }

    label {
        margin-bottom: 0;
    }

    .step-form-card {
        display: flex;
        flex-direction: column;
        max-width: 640px;
        margin: 1px 1px 35px 0;
        padding: 28px 60px 24px 19px;
        border-radius: 4px;
        border: solid 1px $keywords-outline;

        mat-radio-button {
            font-family: OpenSans, sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: #1e1e1e;
        }

        mat-form-field {
            margin-bottom: 0;
            margin-top: 10px;
        }

        .mat-radio-button-panel {
            margin-left: 2em;
        }

        .mat-radio-button-description {
            margin-top: -4px;
            margin-bottom: 2em;
            font-family: OpenSans, sans-serif;
            font-size: 14px;
            color: $primary-text-light;
        }

    }

    mat-form-field {
        width: 100%;
    }


    .add-dataset-button {
        width: 300px;
        height: 50px;
        border-radius: 4px;
        background-color: $primary-color;
        color: $secondary-color;
        font-size: 16px;
        font-weight: bold;

        &:hover {
            background-color: $focus;
            color: $secondary-color;
        }
    }

    ::ng-deep {
        .icon-add-jdd {
            margin: -12px 0 0 -8px;

            svg {
                fill: $secondary-color;
                height: 22px;
                width: 22px;
                margin: 0 0 0 -4px;
            }
        }
    }

    .datasets-container {

        margin-top: 30px;

        &-header {
            .count {
                font-family: OpenSans, sans-serif;
                font-size: 15px;
                font-weight: bold;
                color: $secondary-text;
                text-align: left;
            }
        }

        .datasets {
            display: flex;
            flex-direction: column;

            $border-color: $keywords-outline;

            border-bottom: solid 1px $border-color;
            padding-bottom: 1em;
        }

    }

    .button-see {
        @include button-blue;
        padding: 14px 29px 14px 30px;
        font-size: 16px;
    }

}

.buttons {

    display: flex;
    justify-content: space-between;
    margin-top: 39px;

    .button {
        font-family: OpenSans, sans-serif;
        font-weight: bold;
        height: 42px;
        width: 160px;
        border-radius: 6px;
    }

    .previous-button {
        color: $primary-text-light;
    }

    .next-button {
        @include button-blue;
    }

    .submit{
        @include button-inactive
    }

}

mat-label {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
}

mat-form-field {
    width: 100% !important;
    margin: 12px 0 31px;
    border-radius: 4px;
}


mat-error {
    padding-bottom: 4em;
}

.reuse-libelle {
    margin: 0 0 15px;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $primary-color;
}

.title-hint {
    width: 608px;
    height: 20px;
    margin: 5px 32px 12px 0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #71757e;
}

.reuse-form-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.text-area-height {
    max-height: 260px;
    height: 260px;
    border-radius: 4px;
}

.stepper-mat-error {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $error-color;
}


.uploader-wrapper {
    position: relative;
    width: 100vw;
    height: 80vh;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: OpenSans, sans-serif;
}

*:focus-visible {
    // on ne veut pas les rectangles bleu sur focus du champ input
    outline: none;
}

// Customization Angular Material
::ng-deep {
    .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: $focus !important;
    }

    // Customization du formulaire Angular Material
    .mat-form-field-disabled {

        .mat-form-field-outline-start,
        .mat-form-field-outline-gap,
        .mat-form-field-outline-end {
            background: $banner-solid-color-60;
        }

        .mat-form-field-infix {
            padding-top: 5px;
        }

        input {
            font-family: OpenSans, sans-serif;
            font-size: 15px;
            color: $primary-text !important;
            height: 2em;
        }

    }

    // Customization du Stepper de Angular Material
    .rudi-stepper {

        $height: 34px;
        $offset-top: -4px; // pour combler l'augmentation de la hauteur
        $focused-height: 38px;

        .mat-horizontal-stepper-header-container {
            width: 55%;
            margin: auto auto;
        }

        // Étape sélectionnée
        .mat-step-header.cdk-keyboard-focused,
        .mat-step-header.cdk-program-focused,
        .mat-step-header:hover,
        .mat-step-header[ng-reflect-selected="true"] {
            background: none;

            .mat-step-icon {
                box-shadow: white 0 0 0 2px, $primary-color 0 0 0 3px; // double bordure
            }

        }

        // Étape suivante
        .mat-step-header[ng-reflect-state="number"]:not(.mat-step-header[ng-reflect-selected="true"]) {
            .mat-step-icon {
                background: white;
                box-shadow: white 0 0 0 2px, #909090 0 0 0 3px; // double bordure
                color: $primary-text-light;
            }

            .mat-step-text-label,
            .mat-step-icon-content {
                font-weight: normal; // Si on active normal, alors le texte peut se déplacer à la sélection
                color: $primary-text-light;
            }

        }

        .mat-step-icon {
            height: $height;
            width: $height;
            top: $offset-top;
            font-size: 17px;
            @include button-blue;
        }

        .mat-step-text-label {
            margin-top: $offset-top;
            font-family: OpenSans, sans-serif;
            font-size: 14px;
            font-weight: bold;
            color: $primary-color;
        }

        .mat-icon {
            stroke-width: 2px;
        }

        .mat-step-icon-content {
            font-family: OpenSans, sans-serif;
            line-height: 1px; // pour centrer la police verticalement
        }
    }

    .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate{
        background: $primary-color !important;
    }
    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
        color: $primary-color;
    }
}
