::ng-deep .ngx-pagination {
    padding-left: 0;
    margin-left: -6px !important;
}

::ng-deep .ngx-pagination .pagination-previous {
    color: $primary-text-light !important;
    font-weight: normal !important;
    font-stretch: normal;
}

::ng-deep .ngx-pagination .pagination-next {
    color: $primary-text-light !important;
    font-weight: normal !important;
    font-stretch: normal;
}

::ng-deep .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: $primary-color !important;
    color: #fefefe;
    cursor: default;
    font-size: 14px;
    border-radius: 3px;
    text-decoration: none;

}

::ng-deep .ngx-pagination a, .ngx-pagination button {
    color: $primary-color !important;
    display: block;
    padding: 0.1875rem 0.625rem;
    font-weight: 600 !important;
    font-stretch: normal !important;
    font-style: normal !important;

}
