@import "src/app/styles/variables-rudi";
@import "src/app/styles/colors";
@import "src/app/styles/common-style";


.project-card {
    font-family: OpenSans, sans-serif;
    box-shadow: none;
    border: solid 1px $blocks-and-menus-outline;
    cursor: pointer;
    overflow: hidden;

    mat-card-content {
        height: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    img {
        border-top-left-radius: 8px 8px;
        border-top-right-radius: 8px 8px;
        height: 220px;
    }

    .project-card-producer {
        font-size: 13px;
        color: #323643;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .project-card-title {
        font-size: 20px;
        font-weight: 600;
        color: $primary-color;
        display: -webkit-box;
        margin-bottom: 5px;
        hyphens: auto;
        min-height: 1.2em;
        line-height: 1.3em;
        @include truncate-text(3);
    }

    .project-card-content {
        height: auto;
        flex-wrap: wrap;
        align-content: baseline;
        flex-direction: column;
    }

    .project-card-summary {
        font-size: 15px;
        @include truncate-text(3);
        hyphens: auto;
        padding-bottom: 0;
        color: #323643;
    }

    &-sm, &-md {

        min-height: $card-height-sm;
        border-left: none;
        border-right: none;
        border-radius: unset;
        border-bottom: none;
        padding: 17px 25px 17px 0;

        img, .logo-container {
            margin: 0 16px 12px 0;
        }

        .project-card-producer {
            font-size: 12px;
        }

        .project-card-title {
            font-size: 19px;
        }

        .project-card-summary {
            font-size: 14px;
        }

        .project-card-content {
            flex-direction: revert;
        }

        &:hover {
            background-color: $banner-solid-color;
        }

    }

    &-sm, &-md {
        .project-card-content {
            height: auto;
        }

    }


    &-lg, &-xl, &-xxl {
        height:$card-project-height-lg;
        border-radius: 8px;


        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 1px 10px rgba(0, 0, 0, 0.22);
        }

        .project-card-content {
            flex-direction: column;
        }

        .project-card-title {
            line-height: 1.2em;
        }
    }
}

