@import "variables-rudi";
@import "common-style";

.project-heading-container {
    display: flex;
    flex-direction: row;
}

.image-container {
    width: 228px;
    height: 120px;

    img {
        margin: 0;
        width: 100%;
        height: 100%;
    }
}

.main-container {

    margin-left: 1em;

    .owner-description {
        font-size: 14px;
        margin-bottom: 0.5ex;
    }

    h2 {
        font-size: 24px;
        line-height: 1em;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        hyphens: auto;
        min-height: 1.2em;
        max-height: 5em;
        margin-bottom: 0.1em;
    }

    .fake-btn {
        display: inline-block;
        border-radius: 14px;
        background-color: $banner-solid-color;
        text-align: center;
        border: none;
        padding: 0.5em;
    }
}
