@import "common-style";

.project-card-full-height {
    height: calc(100% - 170px);
}

$gap: var(--bootstrap-gutter);

.project-cards-container {
    gap: 0.8rem;
}

.project-card-container {
    display: flex;

    &-xs {
        min-height: var(--card-height-sm);
        width: 100%;
        margin: 0 auto;
    }

    &-sm {
        min-height: var(--card-height-sm);
        width: 100%;

        ::ng-deep .ngx-pagination .pagination-previous {
            color: var(--primary-text-light) !important;
            font-weight: normal !important;
            font-stretch: normal;
            font-size: 15px;
        }

        ::ng-deep .ngx-pagination .pagination-next {
            padding-left: 0 !important;
            color: var(--primary-text-light) !important;
            font-weight: normal !important;
            font-stretch: normal;
            font-size: 15px;
        }
    }

    &-lg {
        height: var(--card-project-height-lg);
        width: calc-shared-space(2, $gap);

        ::ng-deep .ngx-pagination .pagination-previous {
            margin-right: 40px !important;
            font-weight: normal !important;
            font-stretch: normal;
            color: var(--primary-text-light) !important;
        }

        ::ng-deep .ngx-pagination .pagination-next {
            padding-left: 40px !important;
            font-weight: normal !important;
            font-stretch: normal;
            color: var(--primary-text-light) !important;
        }

    }

    &-xl {
        min-height: var(--card-project-height-lg);
        width: calc-shared-space(3, $gap);

        ::ng-deep .ngx-pagination .pagination-previous {
            margin-right: 40px !important;
            font-weight: normal !important;
            font-stretch: normal;
            color: var(--primary-text-light) !important;
        }

        ::ng-deep .ngx-pagination .pagination-next {
            padding-left: 40px !important;
            font-weight: normal !important;
            font-stretch: normal;
            color: var(--primary-text-light) !important;
        }
    }

    &-xxl {
        min-height: var(--card-project-height-lg);
        width: calc-shared-space(4, $gap);

        ::ng-deep .ngx-pagination .pagination-previous {
            margin-right: 40px !important;
            font-weight: normal !important;
            font-stretch: normal;
            color: var(--primary-text-light) !important;
        }

        ::ng-deep .ngx-pagination .pagination-next {
            padding-left: 40px !important;
            font-weight: normal !important;
            font-stretch: normal;
            color: var(--primary-text-light) !important;
        }
    }
}

