@import "common-style";

.pre-loader {
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-and-loader-container {
    position: relative;
}

.table-loader {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::ng-deep {
    table {
        width: 100%;

        tr {
            height: unset;
            cursor: pointer;

            &:focus, &:active, &:hover {
                background-color: var(--selected-table-row);
            }
        }

        th {
            font-weight: 600;
            font-size: 13px;
            color: var(--primary-text);
            padding: 12px 24px;

            mat-icon {
                @include mat-icon-size(18px);
                margin-right: 5px;
            }

        }

        td {
            padding: 24px 24px;
            font-size: 15px;
            line-height: 1.4;

            &.dataset-title {
                font-weight: bold;
                color: var(--0-classic-blue);
            }

            &.owner-name {
                font-weight: bold;
            }
        }

    }
}

.status-chip {
    border-radius: 14px;
    background-color: var(--2-aplat-bandeau);
    white-space: nowrap;
    padding: 5px 18px;
    font-size: 13px;
}

.pagination-spacing-sm {
    ::ng-deep .ngx-pagination a,
    ::ng-deep .ngx-pagination .current,
    ::ng-deep .ngx-pagination .disabled {
        padding: 0.1875rem 0.425rem;
    }
}
