@import "src/app/styles/variables-rudi";
@import "src/app/styles/common-style";

.organization-card {
    box-shadow: none;
    border: solid 1.1px $blocks-and-menus-outline;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    width: 400px;
    margin-bottom: 1em;

    .producteur-img-box {
        min-width: 70px;
        height: 70px;
        padding: 10px 4px 10px 4px;
        border-radius: 3.4px;
        border: solid 0.9px $blocks-and-menus-outline;
        justify-content: center;
    }

    .resource_title {
        font-family: OpenSans, sans-serif;
        font-size: 16px;
        color: $primary-color;
        font-weight: 600;
        margin-top: 5px;
        margin-left: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
        @include max-2-lignes;
    }
}
