<form [formGroup]="formGroup" *ngIf="formGroup" (ngSubmit)="submitForm()"
      [class]="formClass">
  <mat-radio-group
    formControlName="sortFormControl"
    class="pl-47 d-flex flex-column rudi-radio-group"
  >
    <mat-radio-button
      *ngFor="let item of items"
      [value]="item.value"
      [checked]="valueIsSelected(item.value)"
      class="rudi-radio-button"
    >{{item.name}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="rudi-select-panel-footer">
    <button
      type="submit"
      mat-raised-button
      class="rudi-blue-button"
      (click)="submitForm()"
      [disabled]="!submitIsEnabled"
    >
      {{'common.appliquer'|translate}}
    </button>
  </div>
</form>
