@import "common-style";

form {
    text-align: left;
}

mat-form-field {
    width: 100%;
    margin: 12px 0 31px;
    border-radius: 4px;
}

mat-label {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
}


.text-area-height {
    max-height: 260px;
    height: 260px;
    border-radius: 4px;
}
