<div id="dialog-container">
    <mat-dialog-content>

        <div class="dialog-cross-button">
            <button mat-icon-button (click)="handleClose()">
                <mat-icon svgIcon="icon-close" class="cross-button"></mat-icon>
            </button>
        </div>
        <div class="dialog-content">
            <div class="dialog-title">{{'project.request-details-dialog.title'|translate}}</div>
            <div class="dialog-description">{{'project.request-details-dialog.description' | translate}}</div>
            <div class="step-required-information">
                <span class="required-symbol">*</span>
                {{'common.requiredInformation' | translate}}
            </div>


            <form [formGroup]="formGroup">

                <!-- date de fin envisagée -->
                <div class="d-flex mt-4">
                    <mat-label class="dialog-subtitle">{{'project.request-details-dialog.date'|translate}}</mat-label>
                    <span class="required-symbol">{{'signup.etoile'|translate}}</span>
                </div>
                <mat-hint class="dialog-description">{{'project.request-details-dialog.dateHint'|translate}}</mat-hint>
                <div>
                    <app-month-year-datepicker [formGroup]="formGroup" controlName="date"
                                               [errorMessage]="'project.request-details-dialog.dateError' | translate"
                                               [startDate]="startDate">
                    </app-month-year-datepicker>
                </div>

                <!-- comment -->
                <div class="d-flex">
                    <mat-label
                        class="dialog-subtitle">{{'project.request-details-dialog.comment'|translate}}</mat-label>
                </div>
                <mat-hint
                    class="dialog-description">{{'project.request-details-dialog.commentHint'|translate}}</mat-hint>
                <mat-form-field appearance="outline">
                    <textarea formControlName="comment" matInput rows="15" [maxLength]="commentMaxLength"></textarea>
                </mat-form-field>

            </form>

            <mat-dialog-actions class="dialog-buttons">
                <button class="secondary-raised-button" mat-raised-button (click)="handleCancel()">
                    <span>{{'project.addDatasetPopup.cancel'|translate}}</span>
                </button>
                <button class="primary-raised-button" mat-raised-button (click)="submit()"
                        [disabled]="formGroup.invalid">
                    <span>{{'project.addDatasetPopup.validate'|translate}}</span>
                </button>
            </mat-dialog-actions>
        </div>
    </mat-dialog-content>
</div>
