@import "common-style";

::ng-deep {
    #dialog-content {
        max-width: 768px;
    }

    .mat-dialog-container {
        padding: 66px 40px 66px 40px;
        overflow-x: hidden;
        max-height: 92vh;
    }

    .mat-dialog-content {
        display: block;
        margin: 0 -24px;
        padding: 0 59px;
        max-height: 65vh;
        overflow: inherit;
        -webkit-overflow-scrolling: touch;
    }

    .dialog-header-button {
        float: right;
        margin-top: -40px
    }

    //*** style commun  dialog **///

    .icon-close {
        svg {
            height: 24px;
            width: 24px;
            fill: black;
            opacity: 0.54;
            border: solid 1px grey;
            border-radius: 20px;
            padding: 5px;
        }

        svg:hover {
            opacity: 1;
            background-color: var(--primary-color);
            fill: white;
        }
    }

    .text-area-height {
        max-height: 260px;
        height: 260px;
        border-radius: 4px;
    }

    .dialog-title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
        display: block;
        color: var(--primary-color);
    }

    .description {
        text-align: center;
        color: var(--primary-text);
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
    }


    .step-required-information {
        font-size: 14px;
        color: var(--primary-text-light);
        text-align: center;
    }

    .dialog-cancel {
        background-color: var(--secondary-color);
        border: solid 1px var(--blocks-and-menus-outline);
        color: var(--primary-text-light);
        width: 160px;
        height: 42px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            background-color: var(--primary-color);
            color: var(--secondary-color);
        }
    }

    .dialog-validate {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        width: 160px;
        height: 42px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            background-color: var(--focus);
            color: var(--secondary-color);
        }
    }

    .mat-dialog-actions {
        padding-bottom: 40px;
    }


    /*** Fin ***/

}

*:focus-visible {
    // on ne veut pas les rectangles bleu sur focus du champ input
    outline: none;

}

mat-form-field {
    width: 100%;
    margin: 12px 0 31px;
    border-radius: 4px;
}

mat-label {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
}

mat-error {
    padding-bottom: 4em;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--error-color);
}


