<div id="dialog-container">
    <mat-dialog-content>
        <div class="dialog-cross-button">
            <button mat-icon-button (click)="onClickClose()">
                <mat-icon svgIcon="icon-close" class="cross-button"></mat-icon>
            </button>
        </div>

        <div class="dialog-content">
            <div class="dialog-title">{{dialogData.title}}</div>

            <p class="step-required-information" *ngIf="hasRequiredFields">
                <span class="required-symbol">*</span>
                {{'common.requiredInformation' | translate}}
            </p>
            <app-workflow-form
                #workflowForm
                [workflowForm]="dialogData.form"
                (submitEvent)="handleFormSubmit()"
            ></app-workflow-form>


            <mat-dialog-actions class="dialog-buttons">
                <button class="secondary-raised-button" mat-raised-button (click)="onClickClose()">
                    <span>{{'popup.cancel'|translate}}</span>
                </button>
                <button class="primary-raised-button" mat-raised-button (click)="onClickConfirm()"
                        *ngIf="!workflowFormComponent.isReadonly">
                    <span>{{'popup.confirm'|translate}}</span>
                </button>
            </mat-dialog-actions>
        </div>
    </mat-dialog-content>

</div>
