@import "common-style";
@import "responsive";

:host {
    display: flex;
    background-color: var(--banner-solid-color);
    padding: 8px 80px;
}

@mixin mobile-screen {
    :host {
        padding: 18px 80px 8px 80px;
        flex-direction: column;
        height: unset;
        gap: 10px;
    }
}

@mixin desktop-screen {
    :host {
        gap: 10px;
        flex-direction: row;
        height: 60px;
    }
}

@include xs() {
    @include mobile-screen;
}

@include sm() {
    @include mobile-screen;
}

@include md() {
    @include desktop-screen;
}

@include lg() {
    @include desktop-screen;
}

@include xl() {
    @include desktop-screen;
}
