[glassfish]
HOST_DNS_ADDRESS = localhost
GLASSFISH_USER = dataverse
GLASSFISH_DIRECTORY = /opt/payara/appserver
GLASSFISH_ADMIN_USER = admin
GLASSFISH_ADMIN_PASSWORD = secret
GLASSFISH_HEAP = 2048
GLASSFISH_REQUEST_TIMEOUT = 1800

[database]
POSTGRES_ONLY = false
POSTGRES_SERVER = 10.50.1.45
POSTGRES_PORT = 5333
POSTGRES_DATABASE = dataverse
POSTGRES_USER = dataverse
POSTGRES_PASSWORD = dvnsecret
POSTGRES_ADMIN_PASSWORD = postgres

[system]
ADMIN_EMAIL = admin-dataverse@rudi.com
MAIL_SERVER = 10.50.1.37:1025
SOLR_LOCATION = 10.50.1.45:8383
TWORAVENS_LOCATION = NOT_INSTALLED

[rserve]
RSERVE_HOST = localhost
RSERVE_PORT = 6311
RSERVE_USER = rserve
RSERVE_PASSWORD = rserve

[doi]
DOI_USERNAME = dataciteuser
DOI_PASSWORD = datacitepassword
DOI_BASEURL = https://mds.test.datacite.org
DOI_DATACITERESTAPIURL = https://api.test.datacite.org
