@import "src/app/styles/common-style";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/colors";

.search-box-title {
    font-family: Montserrat, sans-serif;
}

.subtitle-3 {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: $primary-text;
    width: 730px;
}

.subtitle-4 {
    font-weight: 600;
    color: $primary-color;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: underline;
}
