@import "common-style";

.page-title-container {
    padding: 0 80px;
    line-height: 35px;
    text-align: center;
}

.subtitle-3 {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--primary-text);
    width: 730px;
}

.subtitle-4 {
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: underline;
}

.search-box-title {
    color: var(--primary-color);
    height: 56px;

    span {
        color: var(--accent-color);
        font-weight: normal;
        display: contents;
        line-height: 1.8rem;
    }

    &-sm {
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 5px;
    }

    &-lg {
        font-weight: bold;
        font-size: 38px;
        margin-bottom: 20px;
    }

}
