<mat-card [ngClass]="ngClass" class="mat-elevation-z4 project-card" (click)="clickCard()">
    <img mat-card-image [src]="projectPicture" alt="Project image">
    <mat-card-content>
        <div class="project-card-content">
            <span class="project-card-producer">{{projectOwnerInfo}}</span>
        </div>
        <div>
            <span class="project-card-title">{{projectTitle}}</span>
        </div>
        <div class="mt-1">
            <span class="project-card-summary">{{projectDescription}}</span>
        </div>
    </mat-card-content>
</mat-card>





