@import "../../styles/colors";
@import "../../styles/common-style";

/***** Nav bar style *********/

.example-spacer {
    flex: 1 1 auto;
}

.header-nav {
    color: black;
}

.header-logo {
    width: 100px;
    height: 40px;
}

.search-icon-mobile {
    line-height: 3;
    font-size: 19px;
    color: $rudi-header-primary-color;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,39,72)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(0, 39, 72);
}

.header-btn-toggle {
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-right: none;
    color: $rudi-header-primary-color;
}

/***** Nav navbar-collaps style *********/

.rudi-header-container {
    max-width: 100%;
    width: 100%;
    height: 94px;
    position: fixed;
    z-index: 100;
    background-color: #FFFFFF;
    border-bottom: 1px solid #d5d8de;
}

.navbar-expand .navbar-collapse {
    min-height: 92px;
}

.header-right-menu-items li {
    display: inline-block;
    margin-right: 40px;
}

.header-container-lg li {
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
    letter-spacing: 0.07em;
    color: $rudi-header-primary-color;
    text-transform: uppercase;
}

.search-icon-desktop {
    font-size: 17px;
    line-height: 6;
}

.header-btn-mon-compte {
    border: 1px solid black;
    width: 150px;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
}

.header-btn-mon-compte:hover {
    border: 1px solid $accent-color-svg;
    width: 150px;
    border-radius: 2px;
    background-color: #fff;
}


.header-btn-toggle {
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-right: none;
    color: $rudi-header-primary-color;
}

.collapse ul.header-navbar-link-color > li > a {
    color: $rudi-header-primary-color;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
}

.collapse ul.header-navbar-link-color > li > a:hover {
    color: $accent-color-svg;
}

.collapse ul.header-navbar-link-color > li > a.active {
    color: $accent-color-svg !important;
}

/**** Partie droite du header avec la loupe ***/
.header-right-menu-items {
    color: $rudi-header-primary-color;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    width: 100px;
    border-left: 1px solid #d5d8de;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/********* SM container style *********/

.header-container-sm, .header-container-md {
    text-align: center;
    font-size: 4.5vw !important;
    line-height: 1.3 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    letter-spacing: 0.05em;

    .header-btn-mon-compte {
        text-align: center;
    }

    .icon-hide-mobile {
        display: none;
    }

    .navbar-menu-items {
        background-color: $rudi-header-primary-color;
        margin-top: 20px;
        padding-top: 25px;
        padding-bottom: 30px;
        margin-right: -16px;
        margin-left: -16px;

        ul li a {
            color: white !important;

            &:hover {
                color: $accent-color-svg !important;
            }
        }
    }

    .mon-compte-item {
        border: solid 1px white;
        padding: 13px 31px;
        border-radius: 2px;
        width: 164px;
        height: 44px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 3;
    }

    .collapse ul.header-navbar-link-color > li > a.active-item {
        color: $accent-color-svg !important;
    }
}

