@import "common-style";

.content-dialog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .dialog-description {
        text-align: left;
    }

    .mail-input {
        text-align: left;
        width: 100%;
        border: 0.5px solid var(--blocks-and-menus-outline);
        height: 35px;
        padding-left: 5px;
        margin-bottom: 10px;
        border-radius: 4px;

        &:disabled {
            background-color: var(--banner-solid-color-60);
            color: var(--secondary-text);
        }
    }
}


