<div id="dialog-content">
    <mat-dialog-actions class="dialog-header-button">
        <mat-icon svgIcon="icon-close" class="icon-close" (click)="handleClose()"></mat-icon>
    </mat-dialog-actions>
    <mat-dialog-content>
        <div class="dialog-title">{{organizationMemberDialogData.title}}</div>
        <div class="text-alignement description"> {{organizationMemberDialogData.subTitle}}</div>
        <div class="text-alignement description1">
            <span
                class="required-symbol">*</span> {{'metaData.administrationTab.membersTable.updatePopin.text2' |translate}}
        </div>
        <div class="title">{{'metaData.administrationTab.membersTable.updatePopin.mail' |translate}} <span
            class="required-symbol">*</span></div>
        <div
            class="description1">{{organizationMemberDialogData.fieldLoginDescription}} </div>
        <div>
            <input matInput type="text" [disabled]="disableLoginField" class="mail-input"
                   [(ngModel)]="loginValue">
        </div>
        <div class="title">{{'metaData.administrationTab.membersTable.updatePopin.role' |translate}} <span
            class="required-symbol">*</span></div>
        <div
            class="description1">{{organizationMemberDialogData.fieldRoleDescription}}</div>
        <div>
            <mat-form-field>
                <mat-select [(value)]="role" class="mat-form-input" disableOptionCentering>
                    <mat-option *ngFor="let role of roles" [value]="role">
                        {{computeRoleLabel(role)}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <mat-dialog-actions class="d-flex justify-content-between dialog-footer-button">
            <button class="buttons mat-stroked-button btn dialog-cancel" mat-raised-button [mat-dialog-close]="null">
                <span>{{'personalSpace.project.tabs.deletion.confirmationPopup.cancel'| translate}}</span>
            </button>
            <button class="buttons mat-stroked-button btn dialog-validate" mat-raised-button (click)="validate()" [disabled]="loginValue===''">
                <span>{{confirmationPopinText}}</span>
            </button>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>
