<div class="block-upload">
    <ngx-awesome-uploader class="awesome-uploader-style" [adapter]="this" [enableCropper]="true"
                          [fileMaxCount]="1"
                          [fileMaxSize]="2000"
                          [captions]="{dropzone:{title:'',or:'', browse:''},cropper:{crop:'Valider', cancel:'Annuler'}, previewCard:{remove:'', uploadError:''}}"
                          [accept]="'.jpg, .png, pdf'"
                          [cropperOptions]="{aspectRatio: 416 / 220, minContainerWidth:600, minContainerHeight:450}"
                          [fileExtensions]="['png', 'pdf', 'jpg']" (validationError)="onValidationError($event)"
                          [customValidator]="myCustomValidator">

        <div class="dropzoneTemplate container pointer">
            <div class="item">
                <mat-icon class="upload-icon" svgIcon="rudi_picto_image.svg" aria-hidden="false"
                          aria-label="icon pour le upload d'image"></mat-icon>
            </div>
            <div class="item">
                <span class="ajouter-une-image d-block">{{'project.imageUploader.ajouterImage'|translate}}</span>
            </div>
            <div class="item mt-0">
                <span class="au-format-png-pdf-o">{{'project.imageUploader.formatImage'|translate}}</span>
            </div>
        </div>

    </ngx-awesome-uploader>
</div>
