<mat-dialog-content>
    <div class="dialog-header-close-button" fxLayoutAlign="end center">
        <button mat-icon-button [mat-dialog-close]="null">
            <mat-icon svgIcon="icon-close" class="icon-close"></mat-icon>
        </button>
    </div>

    <div id="content">
        <app-page-title class="dialog-title"
                        [title1]="'project.addDatasetPopup.title1'|translate"></app-page-title>
        <app-list-container [hidePagination]="true" [limit]="maxResultPerPage" [resultsPerRow]="3" [isSelectable]="true"
                            (dbSelectMetadata)="doubleSelect($event)  " (selectMetadata)="selectMetadata($event)"
                            [accessStatusForcedValue]="accessStatusForcedValue"
                            [accessStatusHiddenValues]="accessStatusHiddenValues" [orders]="orders"
                            [mediaSize]="mediaSize"></app-list-container>
    </div>

    <div class="d-flex justify-content-between">
        <button class="buttons mat-stroked-button btn dialog-cancel" mat-raised-button [mat-dialog-close]="null">
            <span>{{'project.addDatasetPopup.cancel'|translate}}</span>
        </button>
        <button class="buttons mat-stroked-button btn dialog-validate" mat-raised-button (click)="validate()"
                [disabled]="!selectedMetadata" color="primary">
            <span>{{'project.addDatasetPopup.validate'|translate}}</span>
        </button>
    </div>
</mat-dialog-content>
