@import "common-style";
@import "variables-rudi";
@import "colors";

::ng-deep {

    #content {
        margin: 0 auto 40px auto;
        max-width: 1200px;
        font-family: "Open Sans", sans-serif;
    }

    .mat-dialog-container {
        padding: 66px 40px 66px 40px;
        overflow-x: hidden;
        max-height: 92vh;
        width: 80vw;
    }

    .mat-dialog-content {
        display: block;
        margin: 0 -24px;
        padding: 0 5px;
        max-height: 65vh;
        overflow: inherit;
        -webkit-overflow-scrolling: touch;
    }

    .dialog-header-button{
        float: right;
        margin-top: -40px
    }


    .icon-close {
        svg {
            height: 24px;
            width: 24px;
            fill: black;
            opacity: 0.54;
            border: solid 1px grey;
            border-radius: 20px;
            padding: 5px;
        }

        svg:hover {
            opacity: 1;
            background-color: $primary-color;
            fill: white;
        }
    }

    .search-box-title-lg {
        font-size: 32px !important;
    }

    .dialog-p-large {
        padding: 0 80px 30px 80px !important;
    }

    .dialog-footer-button {
        padding: 0 37px 51px 25px;
    }

    .dialog-cancel {
        background-color: $secondary-color;
        border: solid 1px $blocks-and-menus-outline;
        color: $primary-text-light;
        width: 160px;
        height: 42px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            background-color: $primary-color;
            color: $secondary-color;
        }
    }


    .dialog-validate {
        background-color: $primary-color;
        color: $secondary-color;
        width: 160px;
        height: 42px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            background-color: $focus;
            color: $secondary-color;
        }
    }

}

