@import "common-style";

button {
    &:focus {
        outline: none;
    }
}

.table-robot {
    margin: 2em 0 5em 0;
}

.table-title-style {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.mat-table-robot {
    width: 100%;
}

.table-header {
    font-size: 13px;
    font-weight: 600;
    color: var(--primary-text);
}

.blue-theme {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.08;
}

.center {
    text-align: center;
}

.little-icon-size {
    cursor: pointer;
}

.button-menu {
    cursor: pointer;
    font-weight: 600;
    height: 42px;
    outline: none;
    border: none;
}
