<app-workflow-form-submit-success
    [title1Key]="'metaData.selfdataInformationRequest.creation.ok.title1'"
    [title2Key]="'metaData.selfdataInformationRequest.creation.ok.title2'"
    [subTitleKey]="'metaData.selfdataInformationRequest.creation.ok.subtitle'"
    [additonalInfoKey]="'metaData.selfdataInformationRequest.creation.ok.additionalInformation'"
    [additonalInfoParams]="treatmentPeriodToMonths"
    [cardIsLoading]="isLoading"
    [descriptionBeforeLinkKey]="'metaData.selfdataInformationRequest.creation.ok.description3'"
    [descriptionLinkTextKey]="'metaData.selfdataInformationRequest.creation.ok.personalSpace'"
    [buttonMessageKey]="'metaData.selfdataInformationRequest.creation.ok.backToPersonalSpace'"
    [urlToBack]="'/personal-space/selfdata-datasets'">
</app-workflow-form-submit-success>
