<div id="content">

    <app-loader
        [active]="isLoading"
    >
    </app-loader>

    <h1>
        <span class="title-1">{{'project.stepper.reuse.title.1' | translate}}</span>&nbsp;<span
        class="title-2">{{'project.stepper.reuse.title.2' | translate}}</span>
    </h1>
    <p class="description">{{'project.stepper.reuse.description' | translate}}</p>

    <mat-horizontal-stepper [disableRipple]="true" class="rudi-stepper" labelPosition="bottom" linear>

        <ng-template matStepperIcon="edit">
            <mat-icon>check</mat-icon>
        </ng-template>

        <!-- Étape 1 -->
        <mat-step [editable]="!isPublished" [stepControl]="step1FormGroup"
                  label="{{'project.stepper.reuse.step1.label' | translate}}">

            <!-- Formulaire de l'étape -->
            <app-step1-reutilisation
                [isPublished]="isPublished"
                [step1FormGroup]="step1FormGroup"
                [projectType]="projectType"
            >
            </app-step1-reutilisation>

            <!-- Boutons de gestion de l'étape -->
            <div class="buttons">
                <button class="button mat-stroked-button previous-button" mat-button (click)="clickCancel()">
                    <span>{{ 'project.stepper.cancel' | translate }}</span>
                </button>
                <button class="button mat-stroked-button next-button" mat-raised-button matStepperNext>
                    <span>{{ 'project.stepper.continue' | translate }}</span>
                </button>
            </div>
        </mat-step>

        <!-- Étape 2 -->
        <mat-step [editable]="!isPublished" [stepControl]="step2FormGroup"
                  label="{{'project.stepper.reuse.step2.label' | translate}}">

            <!-- Formulaire de l'étape 2 -->
            <app-step2-reutilisation [step2FormGroup]="step2FormGroup" [organizationItems]="organizationItems">
            </app-step2-reutilisation>

            <!-- Boutons de gestion de l'étape -->
            <div class="buttons">
                <button class="button mat-stroked-button previous-button" mat-button matStepperPrevious>
                    <span>{{ 'project.stepper.previous' | translate }}</span>
                </button>
                <button class="button mat-stroked-button next-button" mat-raised-button matStepperNext>
                    <span>{{ 'project.stepper.continue' | translate }}</span>
                </button>
            </div>
        </mat-step>

        <!-- Étape 3 -->
        <mat-step [editable]="!isPublished" [stepControl]="step3FormGroup"
                  label="{{'project.stepper.reuse.step3.label' | translate}}">

            <!-- Formulaire de l'étape -->
            <app-step3-reutilisation
                [isPublished]="isPublished"
                [createdProjectLink]="createdProjectLink"
                [linkedDatasets]="projectDatasetItems"
                [linkedDatasetsError]="linkedDatasetsError"
                [step3FormGroup]="step3FormGroup"
                (datasetRemoved)="removeDataset($event)"
                (dialogOpened)="openDialog()"
            >
            </app-step3-reutilisation>

            <!-- Boutons de gestion de l'étape -->
            <div *ngIf="!isPublished" class="buttons">
                <button class="button mat-stroked-button previous-button" mat-button matStepperPrevious>
                    <span>{{ 'project.stepper.previous' | translate }}</span>
                </button>
                <button (click)="publish()" class="button mat-stroked-button next-button"
                        mat-raised-button matStepperNext>
                    <span>{{ 'project.stepper.reuse.publish.button' | translate }}</span>
                </button>
            </div>
        </mat-step>

    </mat-horizontal-stepper>
</div>
