<div class="first-section-container"
     [ngClass]="{'first-section-container-mobile': mediaSize.isXs || mediaSize.isSm,
                        'first-section-container-tablet': mediaSize.isMd,
                        'first-section-container-desktop':  mediaSize.isLg || mediaSize.isXl || mediaSize.isXxl
                        }">
    <a class="button-redirect"
       [ngClass]="{'button-redirect-mobile': mediaSize.isXs || mediaSize.isSm, 'button-redirect-tablet': mediaSize.isMd, 'button-redirect-desktop':  mediaSize.isLg || mediaSize.isXl || mediaSize.isXxl}"
       href="{{'rudidatarennes.contact'|getBackendProperty|async}}"
       rel="noopener noreferrer">{{'footer.contactezNous'|translate}}</a>


    <div class="social-media-section-container"
         [ngClass]="{'social-media-section-container-mobile': mediaSize.isXs || mediaSize.isSm,
                        'social-media-section-container-tablet': mediaSize.isMd,
                        'social-media-section-container-desktop':  mediaSize.isLg || mediaSize.isXl || mediaSize.isXxl}"
    >
        <app-social-media-section
            *ngIf="!customizationDescriptionIsLoading"
            [footerDescription]="customizationDescription?.footer_description"
        ></app-social-media-section>
    </div>
</div>

<mat-divider
    [ngClass]="{'mat-divider-horizontal': mediaSize.isDeviceDesktop, 'mat-divider-horizontal-mobile': mediaSize.isDeviceMobile}"
    xmlns="http://www.w3.org/1999/html"></mat-divider>

<div class="second-section-container"
     [ngClass]="{'second-section-container-mobile': mediaSize.isXs || mediaSize.isSm,
                        'second-section-container-tablet': mediaSize.isMd,
                        'second-section-container-desktop':  mediaSize.isLg || mediaSize.isXl || mediaSize.isXxl}">
    <div class="copyright-section"
         [ngClass]="{'copyright-section-mobile': mediaSize.isXs || mediaSize.isSm,
                        'copyright-section-tablet': mediaSize.isMd,
                        'copyright-section-desktop':  mediaSize.isLg || mediaSize.isXl || mediaSize.isXxl}">
        <p>{{'footer.propulsePar'|translate}}</p>
        <div class="d-flex">
            <div class="footer-logo-container navbar-brand me-2">
                <a href="{{'rudidatarennes.beta'|getBackendProperty|async}}">
                    <mat-icon class="footer-logo" aria-hidden="false"
                              aria-label="Logo bleu orange beta de rennes metropole"
                              svgIcon="logo-bleu-orange"></mat-icon>
                </a>
            </div>
            <div>
                <div class="footer-primary-text">{{'footer.ccByCa'|translate}}</div>
                <div class="d-flex align-items-center justify-content-center copyright-title"
                     [ngClass]="{'copyright-title-mobile': mediaSize.isXs || mediaSize.isSm,
                        'copyright-title-tablet': mediaSize.isMd,
                        'copyright-title-desktop':  mediaSize.isLg || mediaSize.isXl || mediaSize.isXxl}">
                    <span
                        class="footer-primary-text rudi-version-label">{{'footer.rudiCopyright' | translate}}</span>
                    <span class="footer-primary-text">{{appInfo?.version}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="terms-section"
         [ngClass]="{'terms-section-mobile': mediaSize.isXs || mediaSize.isSm,
                        'terms-section-tablet': mediaSize.isMd,
                        'terms-section-desktop':  mediaSize.isLg || mediaSize.isXl || mediaSize.isXxl}">
            <div *ngFor="let term of termsValues" [innerHTML]="term"
                 [ngClass]="'rudi-label-lien-mobile-mention'"></div>


    </div>
</div>
