@import "common-style";

.mat-divider.mat-divider-horizontal {
    margin: 0 80px 0 80px !important;
    color: var(--keywords-outline);
    background-color: var(--primary-color);
    opacity: 0.3;
}

.mat-divider.mat-divider-horizontal-mobile {
    margin: 10px 20px 20px 20px !important;
    color: var(--keywords-outline);
    background-color: var(--primary-color);
    opacity: 0.3;
}

.rudi-icon-bottom {
    background-color: transparent;
    opacity: 0.5;
    color: var(--secondary-color);
}

.rudi-label-lien {
    font-size: 13px;
    color: var(--primary-color);
    margin: 0px -9px 0 -9px;
}

.rudi-label-lien-mobile {
    font-size: 13px;
    color: var(--secondary-color);
    margin: 0 9px 0 6px;
    font-weight: 400;
}

.rudi-label-lien-mobile-mention, .term-link {
    font-size: 13px;
    color: var(--primary-color);
    margin: 0 9px 0 6px;
    text-decoration: none !important;

    &:hover {
        color: var(--accent-color-svg);
        text-decoration: none !important;
    }
}

.mat-divider.divider-bleu {
    border-right-color: var(--primary-color);
    opacity: 0.5;
}

.fa-icon-style-mobile {
    color: var(--secondary-color);
}

.toolbar-row-copyright {
    margin-top: 53px;
    display: inline-block;
    min-height: 200px !important;
    height: 200px !important;
    background-color: var(--primary-color);
}


.footer-logo {
    width: 100px;
    height: 60px;
}

.first-section-container {
    &-mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &-tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    &-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 80px;
        margin-right: 80px;
    }
}

.social-media-section-container {
    &-mobile {
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
    }

    &-tablet {
        padding-left: 10px;
        padding-right: 10px;
    }

    &-desktop {
    }
}

.button-redirect {
    display: flex;
    align-items: center;
    margin: 30px auto;

    &:hover {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    &-mobile {

    }

    &-tablet {
        margin: 30px 0;
    }

    &-desktop {
        margin: 30px 0;
    }
}

.second-section-container {
    margin-bottom: 2rem;

    &-mobile {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
    }

    &-tablet {
        @extend .second-section-container-mobile;
        margin-top: 2rem;
    }

    &-desktop {
        @extend .second-section-container-mobile;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 1rem;
    }
}

.copyright-section {
    &-mobile {
        margin-bottom: 2rem;
    }

    &-tablet {
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
}

.terms-section {
    display: flex;

    &-mobile {
        flex-wrap: wrap;
        gap: 1rem;

        div {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
    }

    &-tablet {
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;

        div {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
    }

    &-desktop {
        flex-wrap: nowrap;
        justify-content: space-between;

        div {
            margin-left: auto;
            text-align: right;
        }
    }

    .rudi-term-label-lien {
        text-decoration: none;
    }
}

.copyright-title {
    &-mobile {
        font-size: 10px;
    }

    &-tablet {
        font-size: 12px;
    }

    &-desktop {
        font-size: 13px;
    }
}

.footer-primary-text {
    color: var(--primary-color)
}

.rudi-version-label {
    padding-right: 5px;
}


