<app-page>
    <!-- Header --->
    <app-task-detail-header [headingLoading]="taskLoading"
                               [pageSubTitle]="dependencies?.datasetTitle"
                               [pageTitle]="'metaData.selfdataInformationRequest.consultation.pageTitle' | translate"
                               [status]="dependencies?.taskStatus"
                               [icon]="'self-data-icon'"
    ></app-task-detail-header>

    <!-- Onglet -->
    <app-tabs *ngIf="task">
        <app-tab [label]="'personalSpace.requestDetail.tabs.demand' | translate"
                 [icon]="'icone_donnees_personnelles'">
            <ng-template>
                <app-selfdata-main-information [task]="dependencies"
                                               [formLoading]="formLoading"
                                               [taskLoading]="taskLoading"
                                               [form]="formToDisplay"></app-selfdata-main-information>
            </ng-template>
        </app-tab>
        <app-tab [label]="'personalSpace.requestDetail.tabs.history' | translate" [icon]="'historique'">
        </app-tab>

        <app-banner-button *ngFor="let action of actions"
                           (click)="openPopinForAction(action)">{{action.label}}</app-banner-button>

        <ng-container appTabsLayout>
            <div class="detail-wrapper">
                <div class="onglet-wrapper">
                    <ng-container appTabContent></ng-container>
                </div>
                <div class="project-owner-wrapper">

                    <!-- Mat-card infos jdd-->
                    <app-card class="pb-4" [header]="true"
                              [icon]="'self-data-icon'"
                              [title]="'metaData.selfdataInformationRequest.consultation.accessDatas'"
                              [subTitle]="'metaData.selfdataInformationRequest.consultation.selfdata'">
                        <app-loader [active]="taskLoading" [allPage]="false" [noText]="true"
                                    [isLight]="true"></app-loader>

                        <div *ngIf="!taskLoading" class="contact">
                            <div class="row">
                                <div class="col-6 fake-line">
                                    <div
                                        translate="metaData.selfdataInformationRequest.consultation.receivedDate"></div>
                                    <div class="card-date"> {{dependencies?.receivedDate.format('DD/MM/YYYY')}}</div>
                                </div>
                                <div class="col-6">
                                    <div
                                        translate="metaData.selfdataInformationRequest.consultation.expiredDateDemand"></div>
                                    <div class="card-date"> {{dependencies?.expiredDate.format('DD/MM/YYYY')}}</div>
                                </div>
                            </div>
                        </div>
                    </app-card>

                    <!-- Mat-card contact-->
                    <app-card class=" card-contact pb-4" [header]="true"
                              [title]="'metaData.selfdataInformationRequest.consultation.initiator'">
                        <app-loader [active]="taskLoading" [allPage]="false" [noText]="true"
                                    [isLight]="true"></app-loader>
                        <div *ngIf="!taskLoading">
                            <div class="nom-porteur-de-projet"> {{dependencies?.ownerName}}</div>
                            <app-contact-card [copiedButton]="true" [masked]="false"
                                              [toCopy]="dependencies?.ownerEmail"></app-contact-card>
                        </div>
                    </app-card>
                </div>
            </div>
        </ng-container>
    </app-tabs>
</app-page>
