<div>
    <p>{{label}}</p>
    <mat-form-field class="password-field">
        <mat-label>{{'personalSpace.projectApi.password' | translate}}</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" autocomplete="off" [(ngModel)]="password"
               (ngModelChange)="emitPassword()">
        <mat-icon matSuffix class="icon" (click)="hidePassword = !hidePassword">
            {{hidePassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>
    </mat-form-field>
</div>
