@import "common-style";
@import "variables-rudi";
@import "colors";

.icon {
    cursor: pointer;
}

.explanation-text {
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    line-height: 1.31;
    color: $primary-text;
}
