@import "common-style";

.ag-grid-style {
    width: 100%;
    height: 100%;
}

.ag-grid-div {
    width: 100%;
    height: 500px;

    ::ng-deep {
        .ag-header-row-column {
            background-color: var(--primary-color);
        }

        .ag-header-cell {
            cursor: pointer;
            font-weight: 600;
            color: var(--white);
        }

        .ag-first-cell-column {
            background-color: var(--primary-color);
            cursor: pointer;
            font-weight: 600;
            color: var(--white);
        }

        .ag-icon {
            color: white;
        }
    }
}
