@import "common-style";

#dialog-content {
    max-width: 768px;
}

.mat-dialog-container {
    padding: 66px 40px 66px 40px;
    overflow-x: hidden;
    max-height: 92vh;
}

.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 59px;
    max-height: 65vh;
    overflow: inherit;
    -webkit-overflow-scrolling: touch;
}

::ng-deep {

    .icon-close {
        svg {
            height: 24px;
            width: 24px;
            fill: black;
            opacity: 0.54;
            border: solid 1px grey;
            border-radius: 20px;
            padding: 5px;
        }

        svg:hover {
            opacity: 1;
            background-color: var(--primary-color);
            fill: white;
        }
    }

    .dialog-footer-button {
        padding: 0 37px 51px 25px;
        margin-top: 1em;
    }

    .dialog-cancel {
        background-color: var(--secondary-color);
        border: solid 1px var(--blocks-and-menus-outline);
        color: var(--primary-text-light);
        width: 160px;
        height: 42px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            background-color: var(--primary-color);
            color: var(--secondary-color);
        }
    }


    .dialog-validate {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        width: 160px;
        height: 42px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            background-color: var(--focus);
            color: var(--secondary-color);
        }
    }

    .mat-header-cell {
        font-weight: 600 !important;
        color: black;
    }
}

table {
    width: 100%;
}

.blue-theme {
    color: #004680;
    font-size: 28px;
    font-weight: bold;
}

.text-alignement {
    text-align: center;
    margin-bottom: 1em;
}

.fake-div {
    height: 40px;
}

.info-subscribe {
    text-align: center;
}
