@import "src/app/styles/colors";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/common-style";

.mat-drawer-content {
    overflow-x: hidden;
}

//****** Style mat-menu du bandeau *******
.menu-libelle {
    font-size: 15px;
    color: $dark-grey;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

::ng-deep.mat-radio-container, ::ng-deep.mat-radio-outer-circle, ::ng-deep.mat-radio-inner-circle {
    width: 20px !important;
    height: 20px !important;
}

.menu-btn-telecharger {
    width: 191px;
    height: 40px;
    text-align: center;
    color: $secondary-color;
    border-radius: 3px;
    background-color: $blue-button;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    margin-top: 23px;
}

.btn-telecharger-format {
    background-color: $border-grey;
}

//****** Fin Style mat-menu du bandeau *******

.metadata-container {
    padding-top: 115px;
    height: calc(100% - 170px);

    .card-producer-file-sm-title {
        border-bottom: 1px solid $border-grey;
        padding-top: 15px;
    }

    .debutPeriode {
        &.right-vertical-separator {
            border-right: 1px solid $border-grey;
        }
        flex: 0 0 50%;
    }

    .header-metadata {
        display: flex;
        padding-top: 20px;
    }

    .header-img {
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        border: solid 0.9px $border-grey;
        margin-left: 80px;
    }

    .metadata-card {
        box-shadow: none;
        border: solid 1.1px $border-grey;
        cursor: pointer;
        padding: 17px 25px 0 30px;
    }


    .meta-data-card {
        margin-top: 16px;

        box-shadow: none;

        &-sm {
            border: none;
        }

        &-lg {
            border-radius: 6px;
            padding: 30px 24px 28px 30px;
            border: solid 1px $border-grey;
        }
    }

    .header-ressource h2 {
        font-size: 28px;
        max-width: 734px;
        max-height: 110px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        word-wrap: break-word;
    }

    .header-ressource {
        padding-left: 10px;
    }

    .card-label-title {
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
    }

    .metadata-description {
        display: inline-block;
    }

    .text-underline {
        text-decoration: underline;
    }

    .producer-name {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
    }

    .bandeau {
        padding-top: 25px;
    }

    .bandeau-card {
        background-color: $light-grey-bg;
        height: 60px;
        padding: 8px 80px;

        .icon-syle {
            color: $gray;
        }

        .icon-information {
            vertical-align: top;
            margin-right: 10px;
            height: 22px;
            width: 22px;
            font-weight: 400;
        }

        .button {
            cursor: pointer;
            font-weight: 400;
            border-radius: 6px;
        }

        .bandeau-btn-telecharger {
            background-color: $primary-color;
            color: #e7e9ed;
            font-weight: 600;
            padding: 7px 25px 7px 20px;
            line-height: 1.84rem;

            .icon-syle {
                color: white;
            }
        }

        .bandeau-btn-telecharger:hover {
            background-color: $active-blue;
            color: $secondary-color;

            .icon-syle {
                color: $secondary-color;
            }
        }

        .button-info {
            background-color: $primary-color;
            color: $light-grey-bg;
            font-weight: 600;
            padding: 7px 25px 7px 20px;
            line-height: 1.84rem;
        }

    }

    .card-file {
        padding-left: 23px;
        max-height: 439px;
        margin: 0 0 16px 6px;
        border-radius: 6px;

        .mat-divider-horizontal {
            margin-left: 30px;
            width: 340px;
        }

        .mat-divider.mat-divider-vertical {
            height: 35px;
            margin: auto;
        }

        .icon-file {
            height: 24px;
            width: 18px;
            vertical-align: middle;
            font-size: 30px;
            color: $gray;
        }

        .card-title {
            font-size: 18px;
            font-weight: 600;
        }

        .file_status {
            display: block;
            margin: 0 157px 17px 35px;
            font-size: 15px;
        }

        .date-range {
            display: flex;
            padding: 15px 0 15px 0;
            justify-content: space-between;

            .display-block {
                display: block;
            }

            .label-date {
                font-size: 12px;
                font-weight: 400;
                color: gray;
            }

            .date {
                font-size: 18px;
                font-weight: bold;
            }

            .date-range-hour {
                font-size: 14px;
                font-weight: normal;
                color: black;
            }

            .date-range-update-maj {
                font-size: 13px;
                font-weight: normal;
                color: black;
            }
        }

        .date-range-md {
            justify-content: space-around;

            .debutPeriode {
                flex: 0 0 38%;
            }
        }

        .type-licence {
            padding: 15px 0 15px 0;
            border-top: 1px solid $border-grey;
            border-bottom: 1px solid $border-grey;

            a {
                color: $active-blue !important;
                text-decoration: underline;
            }

            .label-licence {
                font-size: 12px;
            }

            .label-licence-status {
                font-size: 18px;
                font-weight: bold;
                display: block;
            }
        }

        .date-publication, .date-mise-jour {
            padding: 8px 11px 0 11px;
            height: 40px;
            border-radius: 4px;
            border: solid 1px $border-grey;
            background-color: $light-grey-bg;;

            .label-date-publication {
                font-size: 12px;
                font-weight: normal
            }

            .value-date-publication {
                font-size: 14px;
                font-weight: 600;
            }

            .date-range-update-maj {
                font-weight: normal;
            }
        }
    }

    .card-producteur {
        margin-left: 6px;

        .row {
            margin-left: 0;
        }

        .mat-divider-horizontal {
            position: inherit;
        }

        .producteur-img-box {
            width: 70px;
            height: 70px;
            padding: 10px 4px 10px 4px;
            border-radius: 3.4px;
            border: solid 0.9px $border-grey;
            justify-content: center;
        }

        .producer-info span {
            display: block;
        }

        .producer-info :first-of-type {
            font-size: 15px;
            font-weight: 600;
        }
    }

    &-sm {

        .bandeau {
            margin: 0 -60px 0 -60px;
        }

        .bandeau-icon-libelle {
            display: none;
        }

        .icon-information-sm {
            vertical-align: top;
            margin-right: 0;
        }

        .card-margin-top {
            margin-top: 15px;
        }

        .btn-info-xs {
            padding: 7px 0 7px 8px !important;
        }

        .card-producer-file {
            display: none;

            &-title {
                border-bottom: 1px solid $border-grey;
            }
        }

        .header-metadata {
            margin-left: 20px;
        }

        .header-img {
            width: auto;
            height: 70px;
            padding: 5px;
            display: flex;
            align-items: center;
            border-radius: 3.4px;
            border: solid 0.9px $border-grey;
            margin-left: 0;
        }

        .producer-name {
            font-size: 13px;
        }

        .header-ressource {
            padding-left: 15px;
            margin-right: 20px;
        }

        .header-ressource h2 {
            font-size: 24px;
            line-height: 1em;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            hyphens: auto;
            min-height: 1.2em;
            max-height: 5em;
        }

        .date-range-update-maj {
            font-size: 13px;
            font-weight: normal;
        }

        .date-range-hour {
            font-size: 14px;
            font-weight: normal;
        }

        .bandeau-btn-telecharger {
            color: black;
            background-color: $secondary-color;
            font-size: 14px;
            font-weight: normal;
        }

        .bandeau-btn-telecharger:hover {
            background-color: $active-blue;
            color: $secondary-color;

            .icon-syle {
                color: $secondary-color;
            }
        }

        .button-info {
            background-color: $primary-color;
            color: $light-grey-bg;
            font-weight: 600;
            padding: 7px 25px 7px 20px;
            line-height: 1.84rem;
        }

        .card-description-keyword {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }

        .card-description-keyword-row {
            padding: 0 20px;
        }

        .metadata-card {
            border-left: none;
            border-right: none;
            border-radius: unset;
            border-top: none;
            padding: 0;
        }


    }

    &-md {
        .card-producer-file {
            display: none;
        }

    }

    &-lg {
        .card-producer-file-sm {
            display: none;
        }
    }

    &-xl {

        .card-producer-file-sm {
            display: none;
        }
    }

    &-xxl {

        .card-producer-file-sm {
            display: none;
        }
    }

}
