<div class="title-label">
    <div>{{'metaData.administrationTab.membersTable.resultText' |translate}} <span>({{total}})</span></div>
</div>

<!--   search zone-->
<div class="">
    <div class="search-bar">
        <form class="d-flex">
            <div class="search-box-container">
                <div class="search-zone d-flex d-flex align-items-center search-size">
                        <span class="search-box-icon mr-5">
                             <mat-icon class="mr-2" aria-hidden="false" aria-label="filter icon"
                                       svgIcon="search"></mat-icon>
                         </span>
                    <input class="form-control text-indent" type="search" name="search" autocomplete="off"
                           [value]="searchText"
                           (input)="onUserTyped($event)"
                           [placeholder]="'metaData.administrationTab.membersTable.searchbox' | translate">
                    <span class="search-box-clear search-box" [ngClass]="searchText ? 'active' : ''"
                          *ngIf="searchText">
                              <mat-icon class="pointer mr-2" aria-hidden="false" aria-label="clear"
                                        (click)="onReset()">close</mat-icon>
                         </span>
                </div>
            </div>
        </form>
        <div>
            <button class="buttons mat-stroked-button btn add-button" mat-raised-button (click)="handleClickAddMember()">
                <span> {{'metaData.administrationTab.membersTable.addMember' | translate}}</span>
            </button>
        </div>
    </div>
</div>

<!--members table-->
<div>
    <app-error-box
        *ngIf="!searchIsRunning && hasError "
        [text]="'metaData.administrationTab.membersTable.error'|translate"
        [clickableText]="'metaData.administrationTab.membersTable.here'|translate"
        (clickableTextClicked)="handleClickContactRudi()"
    ></app-error-box>

    <!-- Wrapper du tableau et du loader -->
    <div class="table-and-loader-container">

        <table mat-table
               [dataSource]='organizationMembersList | paginate:
               { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: membersTotal}'
               matSort matSortActive="name" matSortDirection="desc"
               class="mat-table-members"
               (matSortChange)="onUserSort($event)">

            <caption><!-- le tableau --> </caption>

            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"
                    scope="col">{{'metaData.administrationTab.membersTable.lastName'|translate}}</th>
                <td mat-cell *matCellDef="let element"
                    class="blue-theme"> {{element?.lastname | replaceIfNullPipe}}
                </td>
            </ng-container>

            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"
                    scope="col">{{'metaData.administrationTab.membersTable.firstName'|translate}}</th>
                <td mat-cell *matCellDef="let element"
                    class="blue-theme"> {{element?.firstname | replaceIfNullPipe}}
                </td>
            </ng-container>

            <ng-container matColumnDef="login">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"
                    scope="col">{{'metaData.administrationTab.membersTable.mail'|translate}}</th>
                <td mat-cell *matCellDef="let element"
                > {{element?.login}}
                </td>
            </ng-container>

            <ng-container matColumnDef="last_connexion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"
                    scope="col">{{'metaData.administrationTab.membersTable.lastConnexion'|translate}}</th>
                <td mat-cell *matCellDef="let element"
                > {{element?.last_connexion | date :'dd/MM/yyyy'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="added_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"
                    scope="col">{{'metaData.administrationTab.membersTable.addDate'|translate}}</th>
                <td mat-cell *matCellDef="let element"
                > {{element?.added_date | date :'dd/MM/yyyy'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-role"
                    scope="col">{{'metaData.administrationTab.membersTable.role'|translate}}</th>
                <td mat-cell *matCellDef="let element" class="text-center"
                ><span class="status-chip">{{computeRoleLabe(element?.role)}}</span>
                </td>
            </ng-container>

            <!-- dash -->
            <ng-container matColumnDef="dash">
                <th mat-header-cell *matHeaderCellDef class="table-header">
                    {{'metaData.administrationTab.robotTable.dash'|translate}}
                </th>
                <td mat-cell *matCellDef="let element" class="text-center dash">
                    <button class="button-menu" mat-stroked-button [matMenuTriggerFor]="menu"
                    >
                        <mat-icon class="little-icon-size" aria-hidden="true" [svgIcon]="'dashes'"></mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" role="menu" xPosition="before">
                        <button mat-menu-item
                                (click)="handleClickUpdateMember(element)">{{'metaData.administrationTab.membersTable.update'| translate}}</button>
                        <button mat-menu-item
                                (click)="handleClickDeleteMember(element)">{{'metaData.administrationTab.membersTable.delete'| translate}}</button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;">
            </tr>

        </table>

        <!-- le loader du tableau -->
        <div class="table-loader" *ngIf="searchIsRunning">
            <app-loader [allPage]="false" [noText]="true" [active]="true" [isTransparent]="true"></app-loader>
        </div>

        <div *ngIf="membersTotal == 0 && !searchIsRunning" class="title-label">{{handleDisplayNoResults()}}</div>
    </div>

    <app-back-pagination [backPaginationSort]="backPaginationSort"
                         [total]="membersTotal" (loadData)="onPagination($event)"></app-back-pagination>
</div>
