<div id="content">
    <mat-dialog-content class="main-content">
        <div class="dialog-header-close-button" fxLayoutAlign="end center">
            <button mat-icon-button [mat-dialog-close]="null">
                <mat-icon svgIcon="icon-close" class="icon-close"></mat-icon>
            </button>
        </div>
        <h1 [translate]="'project.stepper.submission.publish.ok.title'" class="title"></h1>
        <p class="subtitle">{{'project.stepper.submission.publish.ok.title-info' | translate }}</p>
        <p class="content-text">
            <span class="body-text">{{'project.stepper.submission.publish.ok.description1' | translate }}</span>
            <span class="link-text">{{'project.stepper.submission.publish.ok.description2' | translate }}</span>
        </p>
    </mat-dialog-content>
</div>
