@import "common-style";
@import "_responsive";

.header-img-container {

    .header-img {
        width: 120px;
        height: 120px;
        border-radius: 4px;
        border: solid 0.9px var(--blocks-and-menus-outline);
        display: flex;
        align-items: center;

        img {
            margin: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.picto {
    min-height: 20px;
    min-width: 20px;
}

.header-ressource-container {
    display: flex;
    margin-left: 0;
}


.producer-name {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

.blue-theme {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.08;
}

.resource-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
}

.dataset-icon {
    width: 25px;
    margin-right: 0.1rem;
}

.organization-logo {
    padding: 10px;
    width: 100%;
}

.header-metadata {
    padding-top: 20px;
    margin: 0 0 30px 0;
    display: flex;
}

.p-small {
    padding-top: 0 !important;
}

.p-large {
    padding-top: 0 !important;
}

@mixin mobile() {
    .header-metadata {
        flex-direction: column;
    }
    .header-ressource-container {
        margin-left: 0;
    }
    .resource-title {
        font-size: 18px;
    }
}

@mixin desktop() {
    .header-metadata {
        flex-direction: row;
    }
    .header-ressource-container {
        margin-left: 15px;
    }
}

@include xs {
    @include mobile();
}

@include sm {
    @include mobile();
}

@include md {
    @include desktop();
}

@include lg {
    @include desktop();
}

@include xl {
    @include desktop();
}
