@import "src/app/styles/common-style";

::ng-deep {
    table {
        width: 100%;
        font-family: OpenSans, sans-serif;
        cursor: pointer;

        * {
            font-family: OpenSans, sans-serif;
        }

        tr {
            height: unset;
            cursor: pointer;

                &:focus, &:active, &:hover {
                    background-color: $selected-table-row;
                    cursor: pointer;
                }
        }

        th {
            font-weight: 600;
            font-size: 13px;
            color: $primary-text;
            padding: 12px 24px;

            mat-icon {
                @include mat-icon-size(18px);
                margin-right: 5px;
            }

        }

        td {
            padding: 24px 24px;
            font-size: 15px;
            line-height: 1.4;

            &.dataset-title {
                font-weight: bold;
                color: var(--0-classic-blue);
            }

            &.owner-name {
                font-weight: bold;
            }
        }

    }

    .status-chip {
        border-radius: 14px;
        background-color: var(--2-aplat-bandeau);
        white-space: nowrap;
        padding: 5px 18px;
        font-size: 13px;
    }
}

.cursor {
    cursor: pointer;
}
