@import "variables-rudi";
@import "common-style";

.card-title {
    color: $secondary-text;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.72;
}

.periode-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
}
