<div class="project-container">

    <mat-card-title class="card-title">
        {{'personalSpace.project.reutilisation'|translate}}
    </mat-card-title>

    <mat-card-content *ngIf="project">
        <!--titre de la réutilisation-->
        <app-project-main-information-label
            [label]="'personalSpace.project.reutilisationTitle'|translate"
            [value]="project.title | toString"
        ></app-project-main-information-label>

        <!--description de la réutilisation-->
        <app-project-main-information-label
            [label]="'personalSpace.project.description'|translate"
            [value]="project.description | toString"
        ></app-project-main-information-label>

        <!--période | dateDebut | dateFin-->
        <app-project-main-information-date
            *ngIf="this.project.expected_completion_end_date || this.project.expected_completion_start_date"
            [startDate]="this.project.expected_completion_start_date"
            [endDate]="this.project.expected_completion_end_date"
        ></app-project-main-information-date>

        <!--support desiré -->
        <app-project-main-information-label
            [label]="'personalSpace.project.targetAudience'|translate"
            [value]="project.target_audiences | toString "
        ></app-project-main-information-label>

        <!--échelle-->
        <app-project-main-information-label
            [label]="'personalSpace.project.scale' | translate"
            [value]="project.territorial_scale?.label | toString"
        ></app-project-main-information-label>

        <!--territoire concernée-->
        <app-project-main-information-label
            [label]="'personalSpace.project.territorialScale'| translate"
            [value]="project.detailed_territorial_scale | toString"
        ></app-project-main-information-label>

        <!--statut de la réutilisation  -->
        <app-project-main-information-label
            [label]="'personalSpace.project.reuseStatus' | translate"
            [value]="project.reutilisation_status?.label | toString"
        ></app-project-main-information-label>

        <!--type de réutilisation -->
        <app-project-main-information-label
            [label]="'personalSpace.project.re-use'|translate"
            [value]="project.type?.label | toString"
        ></app-project-main-information-label>

        <!--support desiré -->
        <app-project-main-information-label
            [label]="'personalSpace.project.desiredSupport'|translate"
            [value]="project.desired_supports | toString"
        ></app-project-main-information-label>

        <!--confidentialité -->
        <app-project-main-information-label
            [label]="'personalSpace.project.confidentiality'|translate"
            [value]="project.confidentiality?.label | toString"
        ></app-project-main-information-label>

    </mat-card-content>
</div>
