<mat-sidenav-container>
    <mat-sidenav-content>
        <div
            [ngClass]="{'project-container-sm': mediaSize.isSm  || mediaSize.isMd,
            'project-container-lg':  mediaSize.isLg, 'project-container-xl': mediaSize.isXl, 'project-container-xxl': mediaSize.isXxl}"
            class="project-container container-fluid ps-0 pe-0"
        >
            <app-page-title [title1]="'project.catalogue'|translate"
                            [title2]="'project.reutilisations'|translate"
                            class="d-flex justify-content-center w-100"></app-page-title>

            <!--Composant reutilisation banner-->
            <app-banner [mediaSize]="mediaSize">

            </app-banner>

            <div
                [ngClass]="{'px-small': mediaSize.isXs || mediaSize.isSm, 'px-medium': mediaSize.isMd, 'px-large': mediaSize.isLg || mediaSize.isXl || mediaSize.isXxl}"
                class="mt-4">
                <div class="list-headers">
                    <!--Nombre de résultats-->
                    <div class=" w-50 search-count">
                        <ng-container *ngIf="searchIsRunning">
                            {{ 'searchbox.searchIsRunning'|translate }}
                        </ng-container>
                        <ng-container *ngIf="!searchIsRunning">
                            <div *ngIf="projectListTotal >= 1">
                                <span>{{ projectListTotal }} {{ 'searchbox.results'|translate }}{{ projectListTotal > 1 ? 's' : '' }}</span>
                            </div>
                            <div *ngIf="projectListTotal == 0">
                                <span>{{ 'searchbox.noResult'|translate }}</span>
                            </div>
                        </ng-container>

                    </div>

                    <app-order [(order)]="order">
                    </app-order>

                </div>

                <app-project-list (clickProject)="onClickProject($event)"
                                  (projectListChange)="projectListTotal = $event.total"
                                  (runningSearch)="searchIsRunning = $event"
                                  [order]="order"
                ></app-project-list>

            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
