@import "common-style";
@import "pagination";


.mat-sidenav {
    margin-top: 106px;
    width: 100%;
}

.mat-drawer-content {
    overflow-x: hidden;
}

.rudi-sidenav-container-footer {
    display: flex;
    justify-content: center;
}

.search-count {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: var(--secondary-text);
}

.list-headers {
    display: flex;
    justify-content: space-between !important;
}

.project-container {
    min-height: 550px; // taille minimale pour afficher les popover sans qu'elles soient tronquées
    padding-top: var(--padding-top);
}

