@import "src/app/styles/colors";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/common-style";

mat-card {
    &, &:not([class*=mat-elevation-z]) {
        border-radius: 8px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);

        margin: 2em auto;
        padding: 3em;
    }

    &.centered {
        width: 53vw;
    }
}

.mat-icon-card {
    height: 18px;
    margin-right: 5px;
}


.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-sub-title {
    font-size: 12px;
    line-height: 1.56;
    text-align: left;
    color: $primary-text;
    margin-bottom: 20px;
}
