---
swagger: "2.0"
info:
  description: "This document specifies a **RESTful API** for WSO2 **API Manager**\
    \ - Admin Portal.\nPlease see [full swagger definition](https://raw.githubusercontent.com/wso2/carbon-apimgt/v6.5.176/components/apimgt/org.wso2.carbon.apimgt.rest.api.admin/src/main/resources/admin-api.yaml)\
    \ of the API which is written using [swagger 2.0](http://swagger.io/) specification.\n"
  version: "v1.2"
  title: "WSO2 API Manager - Admin"
  contact:
    name: "WSO2"
    url: "http://wso2.com/products/api-manager/"
    email: "architecture@wso2.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "apis.wso2.com"
basePath: "/api/am/admin/v1"
schemes:
  - "https"
consumes:
  - "application/json"
produces:
  - "application/json"
paths:
  /throttling/policies/application:
    get:
      tags:
        - "Application Policy (Collection)"
      summary: "Get all Application Throttling Policies"
      description: "Retrieves all existing application throttling policies.\n"
      parameters:
        - name: "Accept"
          in: "header"
          description: "Media types acceptable for the response. Default is application/json.\n"
          required: false
          type: "string"
          default: "application/json"
        - name: "If-None-Match"
          in: "header"
          description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource (Will be supported in future).\n"
          required: false
          type: "string"
        - name: "If-Modified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ of the\nformerly retrieved variant of the resource (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nPolicies returned\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/ApplicationThrottlePolicyList"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_view"
    post:
      tags:
        - "Application Policy (Collection)"
      summary: "Add an Application Throttling Policy"
      description: "This operation can be used to add a new application level throttling\
        \ policy.\n"
      parameters:
        - in: "body"
          name: "body"
          description: "Application level policy object that should to be added\n"
          required: true
          schema:
            $ref: "#/definitions/ApplicationThrottlePolicy"
        - name: "Content-Type"
          in: "header"
          description: "Media type of the entity in the body. Default is application/json.\n"
          required: true
          type: "string"
          default: "application/json"
      responses:
        "201":
          description: "Created.\nSuccessful response with the newly created object\
            \ as entity in the body.\nLocation header contains URL of newly created\
            \ entity.\n"
          headers:
            Location:
              type: "string"
              description: "Location of the newly created Policy object.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/ApplicationThrottlePolicy"
        "400":
          description: "Bad Request.\nInvalid request or validation error\n"
          schema:
            $ref: "#/definitions/Error"
        "415":
          description: "Unsupported media type.\nThe entity of the request was in\
            \ a not supported format.\n"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_manage"
  /throttling/policies/application/{policyId}:
    get:
      tags:
        - "Application Policy (Individual)"
      summary: "Get an Application Policy"
      description: "Retrieves an Application Policy.\n"
      parameters:
        - name: "policyId"
          in: "path"
          description: "Thorttle policy UUID\n"
          required: true
          type: "string"
        - name: "If-None-Match"
          in: "header"
          description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource (Will be supported in future).\n"
          required: false
          type: "string"
        - name: "If-Modified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ of the\nformerly retrieved variant of the resource (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nPolicy returned\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/ApplicationThrottlePolicy"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "404":
          description: "Not Found.\nRequested Tier does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_view"
    put:
      tags:
        - "Application Policy (Individual)"
      summary: "Update an Application Throttling policy"
      description: "Updates an existing Application level throttling policy. Upon\
        \ succesfull, you will receive the updated application policy as the response.\n"
      parameters:
        - name: "policyId"
          in: "path"
          description: "Thorttle policy UUID\n"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Policy object that needs to be modified\n"
          required: true
          schema:
            $ref: "#/definitions/ApplicationThrottlePolicy"
        - name: "Content-Type"
          in: "header"
          description: "Media type of the entity in the body. Default is application/json.\n"
          required: true
          type: "string"
          default: "application/json"
        - name: "If-Match"
          in: "header"
          description: "Validator for conditional requests; based on ETag (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
        - name: "If-Unmodified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ (Will be supported in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nPolicy updated.\n"
          headers:
            Location:
              type: "string"
              description: "The URL of the newly created resource.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional request.\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional reuquests.\n"
          schema:
            $ref: "#/definitions/ApplicationThrottlePolicy"
        "400":
          description: "Bad Request.\nInvalid request or validation error.\n"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nThe resource to be updated does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_manage"
    delete:
      tags:
        - "Application Policy (Individual)"
      summary: "Delete an Application Throttling policy"
      description: "Deletes an Application level throttling policy.\n"
      parameters:
        - name: "policyId"
          in: "path"
          description: "Thorttle policy UUID\n"
          required: true
          type: "string"
        - name: "If-Match"
          in: "header"
          description: "Validator for conditional requests; based on ETag (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
        - name: "If-Unmodified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ (Will be supported in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nResource successfully deleted.\n"
        "404":
          description: "Not Found.\nResource to be deleted does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_manage"
  /policies/mediation:
    get:
      tags:
        - "Mediation Policy (Collection)"
      summary: "Get all global mediation policies\n"
      description: "This operation provides you a list of available all global level\
        \ mediation policies.\n"
      parameters:
        - name: "limit"
          in: "query"
          description: "Maximum size of resource array to return.\n"
          required: false
          type: "integer"
          default: 25
        - name: "offset"
          in: "query"
          description: "Starting point within the complete list of items qualified.\n"
          required: false
          type: "integer"
          default: 0
        - name: "query"
          in: "query"
          description: "-Not supported yet-"
          required: false
          type: "string"
        - name: "Accept"
          in: "header"
          description: "Media types acceptable for the response. Default is application/json.\n"
          required: false
          type: "string"
          default: "application/json"
        - name: "If-None-Match"
          in: "header"
          description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource (Will be supported in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nList of mediation policies is returned.\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body."
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/mediationList"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:mediation_policy_view"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer 36a1644d-16c8-3f10-af2a-cedac82a6f21\"\
        \ https://localhost:9443/api/am/admin/v1/policies/mediation"
      x-wso2-request: "GET https://localhost:9443/api/am/admin/v1/policies/mediation\r\
        \nAuthorization: Bearer 36a1644d-16c8-3f10-af2a-cedac82a6f21"
      x-wso2-response: "HTTP/1.1 200 OK\r\nContent-Type: application/json\r\n\r\n\
        {\r\n   \"count\": 13,\r\n   \"next\": null,\r\n   \"previous\": null,\r\n\
        \   \"list\":    [\r\n            {\r\n         \"name\": \"debug_json_fault\"\
        ,\r\n         \"id\": \"563de8f3-dd1d-4ec7-afc2-d158c663ed34\",\r\n      \
        \   \"type\": \"fault\"\r\n      },\r\n            {\r\n         \"name\"\
        : \"json_fault\",\r\n         \"id\": \"f9c36f4d-a2b6-41e7-b311-d358a47916be\"\
        ,\r\n         \"type\": \"fault\"\r\n      },\r\n            {\r\n       \
        \  \"name\": \"debug_json_fault2\",\r\n         \"id\": \"378169d3-6fd2-427f-b0db-0f378e89ccea\"\
        ,\r\n         \"type\": \"fault\"\r\n      },\r\n            {\r\n       \
        \  \"name\": \"json_to_xml_in_message\",\r\n         \"id\": \"3921225b-7918-4b95-a851-22c4e4e3e911\"\
        ,\r\n         \"type\": \"in\"\r\n      },\r\n            {\r\n         \"\
        name\": \"debug_in_flow\",\r\n         \"id\": \"2bc15f93-4455-4763-89b8-83600fb9d731\"\
        ,\r\n         \"type\": \"in\"\r\n      },\r\n            {\r\n         \"\
        name\": \"log_in_message\",\r\n         \"id\": \"4d287cca-76ab-44ca-b22e-919fc27c50e3\"\
        ,\r\n         \"type\": \"in\"\r\n      },\r\n            {\r\n         \"\
        name\": \"preserve_accept_header\",\r\n         \"id\": \"3776b215-b3bc-40b6-bdcb-06efa7de64be\"\
        ,\r\n         \"type\": \"in\"\r\n      },\r\n            {\r\n         \"\
        name\": \"xml_to_json_in_message\",\r\n         \"id\": \"50ac2002-769e-4f90-8549-6d0248dff7d2\"\
        ,\r\n         \"type\": \"in\"\r\n      },\r\n            {\r\n         \"\
        name\": \"xml_to_json_out_message\",\r\n         \"id\": \"2af75853-ed75-4d25-81aa-0ebbeca691ea\"\
        ,\r\n         \"type\": \"out\"\r\n      },\r\n            {\r\n         \"\
        name\": \"json_to_xml_out_message\",\r\n         \"id\": \"d9fa3ffc-f6b6-4171-ab97-eb44196cb66e\"\
        ,\r\n         \"type\": \"out\"\r\n      },\r\n            {\r\n         \"\
        name\": \"debug_out_flow\",\r\n         \"id\": \"260b7701-4071-46bd-9b66-900ac6fffed6\"\
        ,\r\n         \"type\": \"out\"\r\n      },\r\n            {\r\n         \"\
        name\": \"apply_accept_header\",\r\n         \"id\": \"15c17c2f-33e3-4c37-a262-04dfa49983a4\"\
        ,\r\n         \"type\": \"out\"\r\n      },\r\n            {\r\n         \"\
        name\": \"log_out_message\",\r\n         \"id\": \"d37dca41-c048-492a-82cf-9a2292c6fff0\"\
        ,\r\n         \"type\": \"out\"\r\n      }\r\n   ]\r\n}"
    post:
      tags:
        - "Mediation Policy (Collection)"
      summary: "Add a global mediation policy"
      description: "This operation can be used to add a new global mediation policy.\n"
      parameters:
        - in: "body"
          name: "body"
          description: "mediation policy to upload"
          required: true
          schema:
            $ref: "#/definitions/Mediation"
        - name: "Content-Type"
          in: "header"
          description: "Media type of the entity in the body. Default is application/json.\n"
          required: true
          type: "string"
          default: "application/json"
        - name: "If-Match"
          in: "header"
          description: "Validator for conditional requests; based on ETag (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
        - name: "If-Unmodified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ (Will be supported in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nMediation policy added successfully.\n"
          headers:
            Location:
              type: "string"
              description: "The URL of the uploaded thumbnail image of the API.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/Mediation"
        "400":
          description: "Bad Request.\nInvalid request or validation error.\n"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nThe resource to be updated does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:mediation_policy_create"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer 45c1e774-7d5a-3e2a-b76c-53f786efac6b\"\
        \ -H \"Content-Type: application/json\" -X POST -d @data.json \"https://localhost:9443/api/am/admin/v1/policies/mediation\""
      x-wso2-request: "POST https://localhost:9443/api/am/admin/v1/policies/mediation\r\
        \nContent-Type: application/json\r\nAuthorization: Bearer 45c1e774-7d5a-3e2a-b76c-53f786efac6b\r\
        \n\r\n{\r\n   \"name\": \"add_custom_header_fault\",\r\n   \"type\": \"fault\"\
        ,\r\n   \"config\": \"<sequence xmlns=\\\"http://ws.apache.org/ns/synapse\\\
        \" name=\\\"add_custom_header_fault\\\">\\n    <property name=\\\"CustomHeader\\\
        \" scope=\\\"transport\\\" value=\\\"example\\\"/>\\n<\\/sequence>\\n\"\r\n\
        }"
      x-wso2-response: "HTTP/1.1 201 Created\r\nLocation: https://localhost:9443/api/am/admin/v1/registry/resource/_system/governance/apimgt/customsequences/fault/add_custom_header_fault.xml\r\
        \nContent-Type: application/json\r\n\r\n{\r\n   \"id\": \"2e5cebbb-e48c-4345-a912-1f0a2058aa05\"\
        ,\r\n   \"name\": \"add_custom_header_fault\",\r\n   \"type\": \"fault\",\r\
        \n   \"config\": \"<sequence xmlns=\\\"http://ws.apache.org/ns/synapse\\\"\
        \ name=\\\"add_custom_header_fault\\\">\\n    <property name=\\\"CustomHeader\\\
        \" scope=\\\"transport\\\" value=\\\"example\\\"/>\\n<\\/sequence>\\n\"\r\n\
        }"
  /policies/mediation/{mediationPolicyId}:
    get:
      tags:
        - "Mediation Policy (Individual)"
      summary: "Get a global mediation policy"
      description: "This operation can be used to retrieve a particular global mediation\
        \ policy.\n"
      parameters:
        - name: "mediationPolicyId"
          in: "path"
          description: "Mediation policy Id\n"
          required: true
          type: "string"
        - name: "Accept"
          in: "header"
          description: "Media types acceptable for the response. Default is application/json.\n"
          required: false
          type: "string"
          default: "application/json"
        - name: "If-None-Match"
          in: "header"
          description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource (Will be supported in future).\n"
          required: false
          type: "string"
        - name: "If-Modified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ of the\nformerly retrieved variant of the resource (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nMediation Policy returned.\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/Mediation"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "404":
          description: "Not Found.\nRequested Document does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:mediation_policy_view"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer da3b0521-5adb-3edc-8ab9-295b4c34c809\"\
        \ https://localhost:9443/api/am/admin/v1/policies/mediation/2e5cebbb-e48c-4345-a912-1f0a2058aa05"
      x-wso2-request: "GET https://localhost:9443/api/am/admin/v1/policies/mediation/2e5cebbb-e48c-4345-a912-1f0a2058aa05\n\
        Authorization: Bearer da3b0521-5adb-3edc-8ab9-295b4c34c809"
      x-wso2-response: "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"\
        id\": \"2e5cebbb-e48c-4345-a912-1f0a2058aa05\",\n   \"name\": \"add_custom_header_fault\"\
        ,\n   \"type\": \"fault\",\n   \"config\": \"<sequence xmlns=\\\"http://ws.apache.org/ns/synapse\\\
        \" name=\\\"add_custom_header_fault\\\">\\n    <property name=\\\"CustomHeader\\\
        \" scope=\\\"transport\\\" value=\\\"example\\\"/>\\n<\\/sequence>\\n\"\n}"
    put:
      tags:
        - "Mediation Policy (Individual)"
      summary: "Update a global mediation policy"
      description: "This operation can be used to update an existing global mediation\
        \ policy.\n"
      parameters:
        - name: "mediationPolicyId"
          in: "path"
          description: "Mediation policy Id\n"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Mediation policy object that needs to be added\n"
          required: true
          schema:
            $ref: "#/definitions/Mediation"
        - name: "Content-Type"
          in: "header"
          description: "Media type of the entity in the body. Default is application/json.\n"
          required: true
          type: "string"
          default: "application/json"
        - name: "If-Match"
          in: "header"
          description: "Validator for conditional requests; based on ETag (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
        - name: "If-Unmodified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ (Will be supported in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nSuccessful response with updated mediation policy object\n"
          headers:
            Location:
              type: "string"
              description: "The URL of the newly created resource.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/Mediation"
        "400":
          description: "Bad Request.\nInvalid request or validation error\n"
          schema:
            $ref: "#/definitions/Error"
        "403":
          description: "Forbidden.\nThe request must be conditional but no condition\
            \ has been specified.\n"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nThe resource to be updated does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:mediation_policy_create"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer 58b3b072-74bb-3381-a213-ce1ca2857c2f\"\
        \ -H \"Content-Type: application/json\" -X PUT -d @data.json https://localhost:9443/api/am/admin/v1/policies/mediation/8242d72c-b7d7-4b51-9098-d24bd4a5ea3a"
      x-wso2-request: "PUT https://localhost:9443/api/am/admin/v1/policies/mediation/76cc38e4-f41a-457a-a987-3a677c290dc6\n\
        Content-Type: application/json\nAuthorization: Bearer 58b3b072-74bb-3381-a213-ce1ca2857c2f\n\
        \n{\n   \"name\": \"add_custom_header_fault\",\n   \"type\": \"fault\",\n\
        \   \"config\": \"<sequence xmlns=\\\"http://ws.apache.org/ns/synapse\\\"\
        \ name=\\\"add_custom_header_fault\\\">\\n    <property name=\\\"CustomHeader\\\
        \" scope=\\\"transport\\\" value=\\\"example\\\"/>\\n<\\/sequence>\\n\"\n\
        }\n"
      x-wso2-response: "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"\
        id\": \"8242d72c-b7d7-4b51-9098-d24bd4a5ea3a\",\n   \"name\": \"add_custom_header_fault\"\
        ,\n   \"type\": \"fault\",\n   \"config\": \"<sequence xmlns=\\\"http://ws.apache.org/ns/synapse\\\
        \" name=\\\"add_custom_header_fault\\\">\\n    <property name=\\\"CustomHeader\\\
        \" scope=\\\"transport\\\" value=\\\"example\\\"/>\\n<\\/sequence>\\n\"\n}"
    delete:
      tags:
        - "Mediation Policy (Individual)"
      summary: "Delete a global mediation policy"
      description: "This operation can be used to delete an existing global mediation\
        \ policy providing the Id of the mediation policy.\n"
      parameters:
        - name: "mediationPolicyId"
          in: "path"
          description: "Mediation policy Id\n"
          required: true
          type: "string"
        - name: "If-Match"
          in: "header"
          description: "Validator for conditional requests; based on ETag (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
        - name: "If-Unmodified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ (Will be supported in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nMediation policy successfully deleted.\n"
        "403":
          description: "Forbidden.\nThe request must be conditional but no condition\
            \ has been specified.\n"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nResource to be deleted does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:mediation_policy_create"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer fb2a0784-f60c-3276-8fde-5b0f70e61ecc\"\
        \ -X DELETE https://localhost:9443/api/am/admin/v1/policies/mediation/2c85844c-588f-4000-9ce5-f4cdc422cc8b"
      x-wso2-request: "DELETE https://localhost:9443/api/am/admin/v1/policies/mediation/2c85844c-588f-4000-9ce5-f4cdc422cc8b\n\
        Content-Type: application/json\nAuthorization: Bearer 58b3b072-74bb-3381-a213-ce1ca2857c2f"
      x-wso2-response: "HTTP/1.1 200 OK"
  /throttling/policies/subscription:
    get:
      tags:
        - "Subscription Policy (Collection)"
      summary: "Get all Subscription Throttling Policies"
      description: "This operation can be used to retrieve all Subscription level\
        \ throttling policies.\n"
      parameters:
        - name: "Accept"
          in: "header"
          description: "Media types acceptable for the response. Default is application/json.\n"
          required: false
          type: "string"
          default: "application/json"
        - name: "If-None-Match"
          in: "header"
          description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource (Will be supported in future).\n"
          required: false
          type: "string"
        - name: "If-Modified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ of the\nformerly retrieved variant of the resource (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nPolicies returned\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/SubscriptionThrottlePolicyList"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_view"
    post:
      tags:
        - "Subscription Policy (Collection)"
      summary: "Add a Subscription Throttling Policy"
      description: "This operation can be used to add a Subscription level throttling\
        \ policy specifying the details of the policy in the payload.\n"
      parameters:
        - in: "body"
          name: "body"
          description: "Subscripion level policy object that should to be added\n"
          required: true
          schema:
            $ref: "#/definitions/SubscriptionThrottlePolicy"
        - name: "Content-Type"
          in: "header"
          description: "Media type of the entity in the body. Default is application/json.\n"
          required: true
          type: "string"
          default: "application/json"
      responses:
        "201":
          description: "Created.\nSuccessful response with the newly created object\
            \ as entity in the body.\nLocation header contains URL of newly created\
            \ entity.\n"
          headers:
            Location:
              type: "string"
              description: "Location of the newly created Policy object.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/SubscriptionThrottlePolicy"
        "400":
          description: "Bad Request.\nInvalid request or validation error\n"
          schema:
            $ref: "#/definitions/Error"
        "415":
          description: "Unsupported media type.\nThe entity of the request was in\
            \ a not supported format.\n"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_manage"
  /throttling/policies/subscription/{policyId}:
    get:
      tags:
        - "Subscription Policy (Individual)"
      summary: "Get a Subscription Policy"
      description: "Retrieve a single subscription-level throttling policy. We should\
        \ provide the Id of the policy as a path parameter.\n"
      parameters:
        - name: "policyId"
          in: "path"
          description: "Thorttle policy UUID\n"
          required: true
          type: "string"
        - name: "If-None-Match"
          in: "header"
          description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource (Will be supported in future).\n"
          required: false
          type: "string"
        - name: "If-Modified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ of the\nformerly retrieved variant of the resource (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nPolicy returned\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/SubscriptionThrottlePolicy"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "404":
          description: "Not Found.\nRequested Policy does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_view"
    put:
      tags:
        - "Subscription Policy (Individual)"
      summary: "Update a Subscription Policy"
      description: "Updates an existing subscription-level throttling policy.\n"
      parameters:
        - name: "policyId"
          in: "path"
          description: "Thorttle policy UUID\n"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Policy object that needs to be modified\n"
          required: true
          schema:
            $ref: "#/definitions/SubscriptionThrottlePolicy"
        - name: "Content-Type"
          in: "header"
          description: "Media type of the entity in the body. Default is application/json.\n"
          required: true
          type: "string"
          default: "application/json"
        - name: "If-Match"
          in: "header"
          description: "Validator for conditional requests; based on ETag (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
        - name: "If-Unmodified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ (Will be supported in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nPolicy updated.\n"
          headers:
            Location:
              type: "string"
              description: "The URL of the newly created resource.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/SubscriptionThrottlePolicy"
        "400":
          description: "Bad Request.\nInvalid request or validation error.\n"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nThe resource to be updated does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_manage"
    delete:
      tags:
        - "Subscription Policy (Individual)"
      summary: "Delete a Subscription Policy"
      description: "This operation can be used to delete a subscription-level throttling\
        \ policy specifying the Id of the policy as a path paramter.\n"
      parameters:
        - name: "policyId"
          in: "path"
          description: "Thorttle policy UUID\n"
          required: true
          type: "string"
        - name: "If-Match"
          in: "header"
          description: "Validator for conditional requests; based on ETag (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
        - name: "If-Unmodified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ (Will be supported in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nResource successfully deleted.\n"
        "404":
          description: "Not Found.\nResource to be deleted does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_manage"
  /throttling/policies/custom:
    get:
      tags:
        - "Custom Rules (Collection)"
      summary: "Get all Custom Rules"
      description: "Retrieves all Custom Rules.\n\n**NOTE:**\n* Only super tenant\
        \ users are allowed for this operation.\n"
      parameters:
        - name: "Accept"
          in: "header"
          description: "Media types acceptable for the response. Default is application/json.\n"
          required: false
          type: "string"
          default: "application/json"
        - name: "If-None-Match"
          in: "header"
          description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource (Will be supported in future).\n"
          required: false
          type: "string"
        - name: "If-Modified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ of the\nformerly retrieved variant of the resource (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nPolicies returned\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/CustomRuleList"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_view"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer 0d63e133-7ad6-3aeb-9ca9-9299e0708122\"\
        \ https://localhost:9443/api/am/admin/v1/throttling/policies/custom"
      x-wso2-request: "GET https://localhost:9443/api/am/admin/v1/throttling/policies/custom\n\
        Authorization: Bearer 0d63e133-7ad6-3aeb-9ca9-9299e0708122\n"
      x-wso2-response: "HTTP/1.1 200 OK\r\nContent-Type: application/json\r\n\r\n\
        {\r\n  \"count\": 1,\r\n  \"list\": [\r\n    {\r\n      \"policyId\": \"33662a62-8db1-4d75-af08-afd63c6bd0b4\"\
        ,\r\n      \"policyName\": \"custom1\",\r\n      \"displayName\": null,\r\n\
        \      \"description\": \"Allow 10 requests per minute for admin user\",\r\
        \n      \"isDeployed\": true,\r\n      \"siddhiQuery\": \"FROM RequestStream\\\
        nSELECT userId, ( userId == 'admin@carbon.super' ) AS isEligible , str:concat('admin@carbon.super','')\
        \ as throttleKey\\nINSERT INTO EligibilityStream; \\n\\nFROM EligibilityStream[isEligible==true]#throttler:timeBatch(1\
        \ min) \\nSELECT throttleKey, (count(userId) >= 10) as isThrottled, expiryTimeStamp\
        \ group by throttleKey \\nINSERT ALL EVENTS into ResultStream;\",\r\n    \
        \  \"keyTemplate\": \"$userId\"\r\n    }\r\n  ]\r\n}"
    post:
      tags:
        - "Custom Rules (Collection)"
      summary: "Add a Custom Rule"
      description: "Adds a new Custom Rule.\n\n**NOTE:**\n* Only super tenant users\
        \ are allowed for this operation.\n"
      parameters:
        - in: "body"
          name: "body"
          description: "Custom Rule object that should to be added\n"
          required: true
          schema:
            $ref: "#/definitions/CustomRule"
        - name: "Content-Type"
          in: "header"
          description: "Media type of the entity in the body. Default is application/json.\n"
          required: true
          type: "string"
          default: "application/json"
      responses:
        "201":
          description: "Created.\nSuccessful response with the newly created object\
            \ as entity in the body.\nLocation header contains URL of newly created\
            \ entity.\n"
          headers:
            Location:
              type: "string"
              description: "Location of the newly created resource.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/CustomRule"
        "400":
          description: "Bad Request.\nInvalid request or validation error\n"
          schema:
            $ref: "#/definitions/Error"
        "415":
          description: "Unsupported media type.\nThe entity of the request was in\
            \ a not supported format.\n"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_manage"
      x-wso2-curl: "curl -k -X POST -H \"Authorization: Bearer 0d63e133-7ad6-3aeb-9ca9-9299e0708122\"\
        \ -H \"Content-Type: application/json\" https://localhost:9443/api/am/admin/v1/throttling/policies/custom\
        \ -d @data.json"
      x-wso2-request: "POST https://localhost:9443/api/am/admin/v1/throttling/policies/custom\r\
        \nAuthorization: Bearer 0d63e133-7ad6-3aeb-9ca9-9299e0708122\r\nContent-Type:\
        \ application/json\r\n\r\n{\r\n  \"policyName\": \"custom1\",\r\n  \"description\"\
        : \"Allow 10 requests per minute for admin user\",\r\n  \"siddhiQuery\": \"\
        FROM RequestStream\\nSELECT userId, ( userId == 'admin@carbon.super' ) AS\
        \ isEligible , str:concat('admin@carbon.super','') as throttleKey\\nINSERT\
        \ INTO EligibilityStream; \\n\\nFROM EligibilityStream[isEligible==true]#throttler:timeBatch(1\
        \ min) \\nSELECT throttleKey, (count(userId) >= 10) as isThrottled, expiryTimeStamp\
        \ group by throttleKey \\nINSERT ALL EVENTS into ResultStream;\",\r\n  \"\
        keyTemplate\": \"$userId\"\r\n}"
      x-wso2-response: "HTTP/1.1 201 Created\r\nLocation: https://localhost:9443/api/am/admin/v1/throttling/policies/custom/22c71b7d-7013-4b80-bf7a-e86b471fb575\r\
        \nContent-Type: application/json\r\n\r\n{\r\n  \"policyId\": \"22c71b7d-7013-4b80-bf7a-e86b471fb575\"\
        ,\r\n  \"policyName\": \"custom1\",\r\n  \"displayName\": null,\r\n  \"description\"\
        : \"Allow 10 requests per minute for admin user\",\r\n  \"isDeployed\": true,\r\
        \n  \"siddhiQuery\": \"FROM RequestStream\\nSELECT userId, ( userId == 'admin@carbon.super'\
        \ ) AS isEligible , str:concat('admin@carbon.super','') as throttleKey\\nINSERT\
        \ INTO EligibilityStream; \\n\\nFROM EligibilityStream[isEligible==true]#throttler:timeBatch(1\
        \ min) \\nSELECT throttleKey, (count(userId) >= 10) as isThrottled, expiryTimeStamp\
        \ group by throttleKey \\nINSERT ALL EVENTS into ResultStream;\",\r\n  \"\
        keyTemplate\": \"$userId\"\r\n}"
  /throttling/policies/custom/{ruleId}:
    get:
      tags:
        - "Custom Rules (Individual)"
      summary: "Get a Custom Rule"
      description: "Retrieves a Custom Rule. We need to provide the policy Id as a\
        \ path parameter.\n\n**NOTE:**\n* Only super tenant users are allowed for\
        \ this operation.\n"
      parameters:
        - name: "ruleId"
          in: "path"
          description: "Custom rule UUID\n"
          required: true
          type: "string"
        - name: "If-None-Match"
          in: "header"
          description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource (Will be supported in future).\n"
          required: false
          type: "string"
        - name: "If-Modified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ of the\nformerly retrieved variant of the resource (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nPolicy returned\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/CustomRule"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "404":
          description: "Not Found.\nRequested Policy does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_view"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer 0d63e133-7ad6-3aeb-9ca9-9299e0708122\"\
        \ https://localhost:9443/api/am/admin/v1/throttling/policies/custom/33662a62-8db1-4d75-af08-afd63c6bd0b4"
      x-wso2-request: "GET https://localhost:9443/api/am/admin/v1/throttling/policies/custom/33662a62-8db1-4d75-af08-afd63c6bd0b4\n\
        Authorization: Bearer 0d63e133-7ad6-3aeb-9ca9-9299e0708122\n"
      x-wso2-response: "HTTP/1.1 200 OK\r\nContent-Type: application/json\r\n\r\n\
        {\r\n  \"policyId\": \"33662a62-8db1-4d75-af08-afd63c6bd0b4\",\r\n  \"policyName\"\
        : \"custom1\",\r\n  \"displayName\": null,\r\n  \"description\": \"Allow 10\
        \ requests per minute for admin user\",\r\n  \"isDeployed\": true,\r\n  \"\
        siddhiQuery\": \"FROM RequestStream\\nSELECT userId, ( userId == 'admin@carbon.super'\
        \ ) AS isEligible , str:concat('admin@carbon.super','') as throttleKey\\nINSERT\
        \ INTO EligibilityStream; \\n\\nFROM EligibilityStream[isEligible==true]#throttler:timeBatch(1\
        \ min) \\nSELECT throttleKey, (count(userId) >= 10) as isThrottled, expiryTimeStamp\
        \ group by throttleKey \\nINSERT ALL EVENTS into ResultStream;\",\r\n  \"\
        keyTemplate\": \"$userId\"\r\n}"
    put:
      tags:
        - "Custom Rules (Individual)"
      summary: "Update a Custom Rule"
      description: "Updates an existing Custom Rule.\n\n**NOTE:**\n* Only super tenant\
        \ users are allowed for this operation.\n"
      parameters:
        - name: "ruleId"
          in: "path"
          description: "Custom rule UUID\n"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Policy object that needs to be modified\n"
          required: true
          schema:
            $ref: "#/definitions/CustomRule"
        - name: "Content-Type"
          in: "header"
          description: "Media type of the entity in the body. Default is application/json.\n"
          required: true
          type: "string"
          default: "application/json"
        - name: "If-Match"
          in: "header"
          description: "Validator for conditional requests; based on ETag (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
        - name: "If-Unmodified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ (Will be supported in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nPolicy updated.\n"
          headers:
            Location:
              type: "string"
              description: "The URL of the newly created resource.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/CustomRule"
        "400":
          description: "Bad Request.\nInvalid request or validation error.\n"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nThe resource to be updated does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_manage"
      x-wso2-curl: "curl -k -X PUT -H \"Authorization: Bearer 0d63e133-7ad6-3aeb-9ca9-9299e0708122\"\
        \ -H \"Content-Type: application/json\" https://localhost:9443/api/am/admin/v1/throttling/policies/custom/33662a62-8db1-4d75-af08-afd63c6bd0b4\
        \ -d @data.json"
      x-wso2-request: "PUT https://localhost:9443/api/am/admin/v1/throttling/policies/custom/33662a62-8db1-4d75-af08-afd63c6bd0b4\r\
        \nAuthorization: Bearer 0d63e133-7ad6-3aeb-9ca9-9299e0708122\r\nContent-Type:\
        \ application/json\r\n\r\n{\r\n  \"policyName\": \"custom1\",\r\n  \"description\"\
        : \"Allow 10 requests per minute for admin user\",\r\n  \"siddhiQuery\": \"\
        FROM RequestStream\\nSELECT userId, ( userId == 'admin@carbon.super' ) AS\
        \ isEligible , str:concat('admin@carbon.super','') as throttleKey\\nINSERT\
        \ INTO EligibilityStream; \\n\\nFROM EligibilityStream[isEligible==true]#throttler:timeBatch(1\
        \ min) \\nSELECT throttleKey, (count(userId) >= 10) as isThrottled, expiryTimeStamp\
        \ group by throttleKey \\nINSERT ALL EVENTS into ResultStream;\",\r\n  \"\
        keyTemplate\": \"$userId\"\r\n}"
      x-wso2-response: "HTTP/1.1 200 OK\r\nContent-Type: application/json\r\n\r\n\
        {\r\n  \"policyId\": \"33662a62-8db1-4d75-af08-afd63c6bd0b4\",\r\n  \"policyName\"\
        : \"custom1\",\r\n  \"displayName\": null,\r\n  \"description\": \"Allow 10\
        \ requests per minute for admin user\",\r\n  \"isDeployed\": true,\r\n  \"\
        siddhiQuery\": \"FROM RequestStream\\nSELECT userId, ( userId == 'admin@carbon.super'\
        \ ) AS isEligible , str:concat('admin@carbon.super','') as throttleKey\\nINSERT\
        \ INTO EligibilityStream; \\n\\nFROM EligibilityStream[isEligible==true]#throttler:timeBatch(1\
        \ min) \\nSELECT throttleKey, (count(userId) >= 10) as isThrottled, expiryTimeStamp\
        \ group by throttleKey \\nINSERT ALL EVENTS into ResultStream;\",\r\n  \"\
        keyTemplate\": \"$userId\"\r\n}"
    delete:
      tags:
        - "Custom Rules (Individual)"
      summary: "Delete a Custom Rule"
      description: "Delete a Custom Rule. We need to provide the Id of the policy\
        \ as a path parameter.\n\n**NOTE:**\n* Only super tenant users are allowed\
        \ for this operation.\n"
      parameters:
        - name: "ruleId"
          in: "path"
          description: "Custom rule UUID\n"
          required: true
          type: "string"
        - name: "If-Match"
          in: "header"
          description: "Validator for conditional requests; based on ETag (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
        - name: "If-Unmodified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ (Will be supported in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nResource successfully deleted.\n"
        "404":
          description: "Not Found.\nResource to be deleted does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_manage"
      x-wso2-curl: "curl -k -X DELETE -H \"Authorization: Bearer 0d63e133-7ad6-3aeb-9ca9-9299e0708122\"\
        \ https://localhost:9443/api/am/admin/v1/throttling/policies/custom/33662a62-8db1-4d75-af08-afd63c6bd0b4"
      x-wso2-request: "DELETE https://localhost:9443/api/am/admin/v1/throttling/policies/custom/33662a62-8db1-4d75-af08-afd63c6bd0b4\n\
        Authorization: Bearer 0d63e133-7ad6-3aeb-9ca9-9299e0708122\n"
      x-wso2-response: "HTTP/1.1 200 OK"
  /throttling/policies/advanced:
    get:
      tags:
        - "Advanced Policy (Collection)"
      summary: "Get all Advanced throttling policies."
      description: "Retrieves all existing Advanced level throttling policies.\n"
      parameters:
        - name: "Accept"
          in: "header"
          description: "Media types acceptable for the response. Default is application/json.\n"
          required: false
          type: "string"
          default: "application/json"
        - name: "If-None-Match"
          in: "header"
          description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource (Will be supported in future).\n"
          required: false
          type: "string"
        - name: "If-Modified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ of the\nformerly retrieved variant of the resource (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nPolicies returned\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/AdvancedThrottlePolicyList"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_view"
    post:
      tags:
        - "Advanced Policy (Collection)"
      summary: "Add an Advanced Throttling Policy"
      description: "Add a new Advanced level throttling policy.\n"
      parameters:
        - in: "body"
          name: "body"
          description: "Advanced level policy object that should to be added\n"
          required: true
          schema:
            $ref: "#/definitions/AdvancedThrottlePolicy"
        - name: "Content-Type"
          in: "header"
          description: "Media type of the entity in the body. Default is application/json.\n"
          required: true
          type: "string"
          default: "application/json"
      responses:
        "201":
          description: "Created.\nSuccessful response with the newly created object\
            \ as entity in the body.\nLocation header contains URL of newly created\
            \ entity.\n"
          headers:
            Location:
              type: "string"
              description: "Location of the newly created Advanced Throttling Policy.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/AdvancedThrottlePolicy"
        "400":
          description: "Bad Request.\nInvalid request or validation error\n"
          schema:
            $ref: "#/definitions/Error"
        "415":
          description: "Unsupported media type.\nThe entity of the request was in\
            \ a not supported format.\n"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_manage"
  /throttling/policies/advanced/{policyId}:
    get:
      tags:
        - "Advanced Policy (Individual)"
      summary: "Get an Advanced Policy"
      description: "Retrieves an Advanced Policy.\n"
      parameters:
        - name: "policyId"
          in: "path"
          description: "Thorttle policy UUID\n"
          required: true
          type: "string"
        - name: "If-None-Match"
          in: "header"
          description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource (Will be supported in future).\n"
          required: false
          type: "string"
        - name: "If-Modified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ of the\nformerly retrieved variant of the resource (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nPolicy returned\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/AdvancedThrottlePolicy"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "404":
          description: "Not Found.\nRequested Policy does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_view"
    put:
      tags:
        - "Advanced Policy (Individual)"
      summary: "Update an Advanced Throttling Policy"
      description: "Updates an existing Advanced level throttling policy.\n"
      parameters:
        - name: "policyId"
          in: "path"
          description: "Thorttle policy UUID\n"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Policy object that needs to be modified\n"
          required: true
          schema:
            $ref: "#/definitions/AdvancedThrottlePolicy"
        - name: "Content-Type"
          in: "header"
          description: "Media type of the entity in the body. Default is application/json.\n"
          required: true
          type: "string"
          default: "application/json"
        - name: "If-Match"
          in: "header"
          description: "Validator for conditional requests; based on ETag (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
        - name: "If-Unmodified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ (Will be supported in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nPolicy updated.\n"
          headers:
            Location:
              type: "string"
              description: "The URL of the newly created resource.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/AdvancedThrottlePolicy"
        "400":
          description: "Bad Request.\nInvalid request or validation error.\n"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nThe resource to be updated does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_manage"
    delete:
      tags:
        - "Advanced Policy (Individual)"
      summary: "Delete an Advanced Throttling Policy"
      description: "Deletes an Advanced level throttling policy.\n"
      parameters:
        - name: "policyId"
          in: "path"
          description: "Thorttle policy UUID\n"
          required: true
          type: "string"
        - name: "If-Match"
          in: "header"
          description: "Validator for conditional requests; based on ETag (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
        - name: "If-Unmodified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ (Will be supported in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nResource successfully deleted.\n"
        "404":
          description: "Not Found.\nResource to be deleted does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:tier_manage"
  /throttling/blacklist:
    get:
      tags:
        - "Blacklist (Collection)"
      summary: "Get all blocking condtions"
      description: "Retrieves all existing blocking condtions.\n"
      parameters:
        - name: "Accept"
          in: "header"
          description: "Media types acceptable for the response. Default is application/json.\n"
          required: false
          type: "string"
          default: "application/json"
        - name: "If-None-Match"
          in: "header"
          description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource (Will be supported in future).\n"
          required: false
          type: "string"
        - name: "If-Modified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ of the\nformerly retrieved variant of the resource (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nBlocking conditions returned\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/BlockingConditionList"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:bl_view"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer a1e3951b-a15c-3d79-a15b-99f1d612843e\"\
        \ https://localhost:9443/api/am/admin/v1/throttling/blacklist"
      x-wso2-request: "GET https://localhost:9443/api/am/admin/v1/throttling/blacklist\n\
        Authorization: Bearer a1e3951b-a15c-3d79-a15b-99f1d612843e\n"
      x-wso2-response: "HTTP/1.1 200 OK\r\nContent-Type: application/json\r\n\r\n\
        {\r\n  \"count\": 3,\r\n  \"list\": [\r\n    {\r\n      \"conditionId\": \"\
        0b65b686-841b-48eb-b4c2-427d24584d71\",\r\n      \"conditionType\": \"IP\"\
        ,\r\n      \"conditionValue\": \"127.0.0.332\",\r\n      \"conditionStatus\"\
        : \"true\"\r\n    },\r\n    {\r\n      \"conditionId\": \"3baa990c-f90b-4e3e-9db7-f29ee7f46f48\"\
        ,\r\n      \"conditionType\": \"IP\",\r\n      \"conditionValue\": \"localhost\"\
        ,\r\n      \"conditionStatus\": \"false\"\r\n    },\r\n    {\r\n      \"conditionId\"\
        : \"b513eb68-69e8-4c32-92cf-852c101363cf\",\r\n      \"conditionType\": \"\
        IP\",\r\n      \"conditionValue\": \"10.100.7.77\",\r\n      \"conditionStatus\"\
        : \"true\"\r\n    }\r\n  ]\r\n}"
    post:
      tags:
        - "Blacklist (Collection)"
      summary: "Add a Blocking condition"
      description: "Adds a new Blocking condition.\n"
      parameters:
        - in: "body"
          name: "body"
          description: "Blocking condition object that should to be added\n"
          required: true
          schema:
            $ref: "#/definitions/BlockingCondition"
        - name: "Content-Type"
          in: "header"
          description: "Media type of the entity in the body. Default is application/json.\n"
          required: true
          type: "string"
          default: "application/json"
      responses:
        "201":
          description: "Created.\nSuccessful response with the newly created object\
            \ as entity in the body.\nLocation header contains URL of newly created\
            \ entity.\n"
          headers:
            Location:
              type: "string"
              description: "Location of the newly created resource.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/BlockingCondition"
        "400":
          description: "Bad Request.\nInvalid request or validation error\n"
          schema:
            $ref: "#/definitions/Error"
        "415":
          description: "Unsupported media type.\nThe entity of the request was in\
            \ a not supported format.\n"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:bl_manage"
      x-wso2-curl: "curl -k -X POST -H \"Authorization: Bearer a1e3951b-a15c-3d79-a15b-99f1d612843e\"\
        \ -H \"Content-Type: application/json\" https://localhost:9443/api/am/admin/v1/throttling/blacklist"
      x-wso2-request: "POST https://localhost:9443/api/am/admin/v1/throttling/blacklist\r\
        \nAuthorization: Bearer a1e3951b-a15c-3d79-a15b-99f1d612843e\r\nContent-Type:\
        \ application/json\r\n\r\n{\r\n   \"conditionType\": \"IP\",\r\n   \"conditionValue\"\
        : \"10.100.7.77\",\r\n      \"conditionStatus\": \"false\"\r\n    }\r\n"
      x-wso2-response: "HTTP/1.1 201 Created\r\nLocation: https://localhost:9443/api/am/admin/v1/throttling/blacklist/b513eb68-69e8-4c32-92cf-852c101363cf\r\
        \nContent-Type: application/json\r\n\r\n{\r\n  \"conditionId\": \"b513eb68-69e8-4c32-92cf-852c101363cf\"\
        ,\r\n  \"conditionType\": \"IP\",\r\n  \"conditionValue\": \"10.100.7.77\"\
        ,\r\n      \"conditionStatus\": \"false\"\r\n    }"
  /throttling/blacklist/{conditionId}:
    get:
      tags:
        - "Blacklist (Individual)"
      summary: "Get a Blocking Condition"
      description: "Retrieves a Blocking Condition providing the condition Id\n"
      parameters:
        - name: "conditionId"
          in: "path"
          description: "Blocking condition identifier\n"
          required: true
          type: "string"
        - name: "If-None-Match"
          in: "header"
          description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource (Will be supported in future).\n"
          required: false
          type: "string"
        - name: "If-Modified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ of the\nformerly retrieved variant of the resource (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nCondition returned\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/BlockingCondition"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "404":
          description: "Not Found.\nRequested Condition does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:bl_view"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer a1e3951b-a15c-3d79-a15b-99f1d612843e\"\
        \ https://localhost:9443/api/am/admin/v1/throttling/blacklist/b513eb68-69e8-4c32-92cf-852c101363c"
      x-wso2-request: "GET https://localhost:9443/api/am/admin/v1/throttling/blacklist/b513eb68-69e8-4c32-92cf-852c101363c\n\
        Authorization: Bearer a1e3951b-a15c-3d79-a15b-99f1d612843e\n"
      x-wso2-response: "HTTP/1.1 200 OK\r\nContent-Type: application/json\r\n\r\n\
        {\r\n  \"conditionId\": \"b513eb68-69e8-4c32-92cf-852c101363cf\",\r\n  \"\
        conditionType\": \"IP\",\r\n  \"conditionValue\": \"10.100.7.77\"\r\n}"
    delete:
      tags:
        - "Blacklist (Individual)"
      summary: "Delete a Blocking condition"
      description: "Deletes an existing Blocking condition\n"
      parameters:
        - name: "conditionId"
          in: "path"
          description: "Blocking condition identifier\n"
          required: true
          type: "string"
        - name: "If-Match"
          in: "header"
          description: "Validator for conditional requests; based on ETag (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
        - name: "If-Unmodified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ (Will be supported in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nResource successfully deleted.\n"
        "404":
          description: "Not Found.\nResource to be deleted does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met (Will be supported in future).\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:bl_manage"
      x-wso2-curl: "curl -k -X DELETE -H \"Authorization: Bearer a1e3951b-a15c-3d79-a15b-99f1d612843e\"\
        \ -H \"Content-Type: application/json\" https://localhost:9443/api/am/admin/v1/throttling/blacklist/b513eb68-69e8-4c32-92cf-852c101363cf"
      x-wso2-request: "DELETE https://localhost:9443/api/am/admin/v1/throttling/blacklist/b513eb68-69e8-4c32-92cf-852c101363cf\n\
        Authorization: Bearer a1e3951b-a15c-3d79-a15b-99f1d612843e\n"
      x-wso2-response: "HTTP/1.1 200 OK"
    patch:
      tags:
        - "Blacklist (Individual)"
      summary: "Update a blocking condition"
      description: "Update a blocking condition by Id\n"
      parameters:
        - name: "conditionId"
          in: "path"
          description: "Blocking condition identifier\n"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Blocking condition with updated status\n"
          required: true
          schema:
            $ref: "#/definitions/BlockingConditionStatus"
        - name: "Content-Type"
          in: "header"
          description: "Media type of the entity in the body. Default is application/json.\n"
          required: true
          type: "string"
          default: "application/json"
        - name: "If-Match"
          in: "header"
          description: "Validator for conditional requests; based on ETag (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
        - name: "If-Unmodified-Since"
          in: "header"
          description: "Validator for conditional requests; based on Last Modified header\
          \ (Will be supported in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nResource successfully updated.\n"
          schema:
            $ref: "#/definitions/BlockingCondition"
        "400":
          description: "Bad Request.\nInvalid request or validation error.\n"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nResource to be updated does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:bl_manage"
      x-wso2-curl: "curl -k -X PATCH -H \"Authorization: Bearer 0d63e133-7ad6-3aeb-9ca9-9299e0708122\"\
        \ -H \"Content-Type: application/json\" https://localhost:9443/api/am/admin/v1/throttling/blacklist/b513eb68-69e8-4c32-92cf-852c101363cf\
        \ -d @data.json"
      x-wso2-request: "PUT https://localhost:9443/api/am/admin/v1/throttling/blacklist/b513eb68-69e8-4c32-92cf-852c101363cf\r\
        \nAuthorization: Bearer a1e3951b-a15c-3d79-a15b-99f1d612843e\r\nContent-Type:\
        \ application/json\r\n\r\n{\r\n    \"conditionStatus\": \"true\"\r\n    }\r\
        \n"
      x-wso2-response: "HTTP/1.1 200 Ok\r\nContent-Type: application/json\r\n\r\n\
        {\r\n  \"conditionId\": \"b513eb68-69e8-4c32-92cf-852c101363cf\",\r\n  \"\
        conditionType\": \"IP\",\r\n  \"conditionValue\": \"10.100.7.77\",\r\n   \
        \   \"conditionStatus\": \"true\"\r\n    }"
  /applications:
    get:
      tags:
        - "Application (Collection)"
      summary: "Retrieve/Search applications\n"
      description: "This operation can be used to retrieve list of applications that\
        \ is belonged to the given user, If no user\nis provided then the application\
        \ for the user associated with the provided access token will be returned.\n"
      parameters:
        - name: "user"
          in: "query"
          description: "username of the application creator\n"
          required: false
          type: "string"
        - name: "limit"
          in: "query"
          description: "Maximum size of resource array to return.\n"
          required: false
          type: "integer"
          default: 25
        - name: "offset"
          in: "query"
          description: "Starting point within the complete list of items qualified.\n"
          required: false
          type: "integer"
          default: 0
        - name: "Accept"
          in: "header"
          description: "Media types acceptable for the response. Default is application/json.\n"
          required: false
          type: "string"
          default: "application/json"
        - name: "If-None-Match"
          in: "header"
          description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource (Will be supported in future).\n"
          required: false
          type: "string"
        - name: "name"
          in: "query"
          description: "Application Name\n"
          required: false
          type: "string"
        - name: "tenantDomain"
          in: "query"
          description: "Tenant domain of the applications to get. This has to be specified\
          \ only if require to get applications of\nanother tenant other than the\
          \ requester's tenant. So, if not specified, the default will be set as the\n\
          requester's tenant domain. This cross tenant Application access is allowed\
          \ only for super tenant admin\nusers only at a migration process.\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nApplication list returned.\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
          schema:
            $ref: "#/definitions/ApplicationList"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "400":
          description: "Bad Request.\nInvalid request or validation error.\n"
          schema:
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:app_owner_change"
            - "apim:app_import_export"
      x-wso2-request: "GET https://localhost:9443/api/am/admin/v1/applications\nAuthorization:\
        \ Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\"\
        \ \"https://localhost:9443/api/am/admin/v1/applications\""
      x-wso2-response: "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"\
        previous\": \"\",\n   \"list\":    [\n            {\n         \"groupId\"\
        : \"\",\n         \"owner\": \"admin\",\n           \"applicationId\": \"\
        367a2361-8db5-4140-8133-c6c8dc7fa0c4\",\n         \"status\": \"APPROVED\"\
        ,\n         \"name\": \"app1\"\n      },\n            {\n         \"groupId\"\
        : \"\",\n         \"owner\": \"admin\",\n             \"applicationId\": \"\
        896658a0-b4ee-4535-bbfa-806c894a4015\",\n          \"status\": \"APPROVED\"\
        ,\n         \"name\": \"DefaultApplication\"\n      }\n   ],\n   \"count\"\
        : 2,\n   \"next\": \"\"\n}"
  /applications/{applicationId}:
    delete:
      tags:
        - "Applications"
      summary: "Remove an application\n"
      description: "This operation can be used to remove an application specifying\
        \ its id.\n"
      parameters:
        - name: "applicationId"
          in: "path"
          description: "Application UUID\n"
          required: true
          type: "string"
        - name: "If-Match"
          in: "header"
          description: "Validator for conditional requests; based on ETag (Will be supported\
          \ in future).\n"
          required: false
          type: "string"
      responses:
        "200":
          description: "OK.\nResource successfully deleted.\n"
        "202":
          description: "Accepted.\nThe request has been accepted.\n"
          headers:
            Location:
              type: "string"
              description: "Location of the existing Application.\n"
          schema:
            $ref: "#/definitions/WorkflowResponse"
        "404":
          description: "Not Found.\nResource to be deleted does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:app_import_export"
  /applications/{applicationId}/change-owner:
    post:
      tags:
        - "Application"
      summary: "Change Application Owner"
      description: "This operation is used to change the owner of an Application.\n\
        In order to change the owner of an application, we need to pass the new application\
        \ owner as a query parameter\n"
      parameters:
        - name: "owner"
          in: "query"
          required: true
          type: "string"
        - name: "applicationId"
          in: "path"
          description: "Application UUID\n"
          required: true
          type: "string"
      responses:
        "200":
          description: "OK.\nApplication owner changed successfully.\n"
        "400":
          description: "Bad Request.\nInvalid request or validation error\n"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nRequested Application does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:app_owner_change"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\"\
        \ -X POST \"https://localhost:9443/api/am/admin/v1/applications/890a4f4d-09eb-4877-a323-57f6ce2ed79b/change-owner?owner=admin\""
      x-wso2-request: "POST https://localhost:9443/api/am/admin/v1/apis/change-owner?apiId=890a4f4d-09eb-4877-a323-57f6ce2ed79b&action=Publish\n\
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n"
      x-wso2-response: "HTTP/1.1 200 OK"
  /export/applications:
    get:
      tags:
        - "Application (Individual)"
      summary: "Export an Application"
      description: "This operation can be used to export the details of a particular\
        \ Application as a zip file.\n"
      produces:
        - "application/json"
        - "application/zip"
      parameters:
        - name: "appName"
          in: "query"
          description: "Application Name\n"
          required: true
          type: "string"
        - name: "appOwner"
          in: "query"
          description: "Owner of the Application\n"
          required: true
          type: "string"
        - name: "withKeys"
          in: "query"
          description: "Export application keys\n"
          required: false
          type: "boolean"
      responses:
        "200":
          description: "OK.\nExport Successful.\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
          schema:
            type: "file"
        "400":
          description: "Bad Request.\nInvalid request or validation error\n"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nRequested Application does not exist.\n"
          schema:
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:app_import_export"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\"\
        \ -X GET https://localhost:9443/api/am/admin/v1/export/applications?appName=sampleApp&appOwner=admin\
        \ > admin_sampleApp.zip"
      x-wso2-request: "GET https://localhost:9443/api/am/admin/v1/export/applications?appName=sampleApp&appOwner=admin\n\
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n"
      x-wso2-response: "HTTP/1.1 200 OK\n Connection: keep-alive\n  Content-Disposition:\
        \ attachment; filename=\"exported-application.zip\"\n  Content-Type: application/zip"
  /import/applications:
    post:
      tags:
        - "Application (Individual)"
      summary: "Import an Application"
      description: "This operation can be used to import an Application.\n"
      consumes:
        - "multipart/form-data"
      parameters:
        - name: "file"
          in: "formData"
          description: "Zip archive consisting of exported Application Configuration.\n"
          required: true
          type: "file"
        - name: "preserveOwner"
          in: "query"
          description: "Preserve Original Creator of the Application\n"
          required: false
          type: "boolean"
        - name: "skipSubscriptions"
          in: "query"
          description: "Skip importing Subscriptions of the Application\n"
          required: false
          type: "boolean"
        - name: "appOwner"
          in: "query"
          description: "Expected Owner of the Application in the Import Environment\n"
          required: false
          type: "string"
        - name: "skipApplicationKeys"
          in: "query"
          description: "Skip importing Keys of the Application\n"
          required: false
          type: "boolean"
        - name: "update"
          in: "query"
          description: "Update if application exists\n"
          required: false
          type: "boolean"
      responses:
        "200":
          description: "OK.\nSuccessful response with the updated object information\
            \ as entity in the body.\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
          schema:
            $ref: "#/definitions/ApplicationInfo"
        "207":
          description: "Multi Status.\nPartially successful response with skipped\
            \ APIs information object as entity in the body.\n"
          schema:
            $ref: "#/definitions/APIInfoList"
        "400":
          description: "Bad Request.\nInvalid request or validation error\n"
          schema:
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:app_import_export"
      x-wso2-curl: "curl -k -F \"file=@exported.zip\" -X POST -H \"Authorization:\
        \ Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" https://localhost:9443/api/am/admin/v1/import/applications"
      x-wso2-request: "POST https://localhost:9443/api/am/admin/v1/import/applications\n\
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n"
      x-wso2-response: "HTTP/1.1 201 Created\nLocation: https://localhost:9443/api/am/admin/v1/applications/c30f3a6e-ffa4-4ae7-afce-224d1f820524\n\
        Content-Type: application/json\n\n{\n   \"groupId\": \"\",\n   \"callbackUrl\"\
        : \"http://my.server.com/callback\",\n   \"owner\": \"admin\",\n   \"applicationId\"\
        : \"c30f3a6e-ffa4-4ae7-afce-224d1f820524\",\n   \"status\": \"APPROVED\",\n\
        \   \"name\": \"sampleapp\" \n}"
  /import/api:
    post:
      tags:
        - "API (Individual)"
      summary: "Import an API"
      description: "This operation can be used to import an API.\n"
      consumes:
        - "multipart/form-data"
      parameters:
        - name: "file"
          in: "formData"
          description: "Zip archive consisting on exported api configuration\n"
          required: true
          type: "file"
        - name: "preserveProvider"
          in: "query"
          description: "Preserve Original Provider of the API. This is the user choice\
          \ to keep or replace the API provider.\n"
          required: false
          type: "boolean"
        - name: "overwrite"
          in: "query"
          description: "Whether to update the API or not. This is used when updating\
          \ already existing APIs.\n"
          required: false
          type: "boolean"
      responses:
        "200":
          description: "Created.\nAPI Imported Successfully.\n"
        "403":
          description: "Forbidden\nNot Authorized to import.\n"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nRequested API to update not found.\n"
          schema:
            $ref: "#/definitions/Error"
        "409":
          description: "Conflict.\nAPI to import already exists.\n"
          schema:
            $ref: "#/definitions/Error"
        "500":
          description: "Internal Server Error.\nError in importing API.\n"
          schema:
            $ref: "#/definitions/Error"
      security:
        - OAuth2Security:
            - "apim:admin"
            - "apim:api_import_export"
      x-wso2-curl: "curl -k -F \"file=@exported.zip\" -X POST -H \"Authorization:\
        \ Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" https://localhost:9443/api/am/admin/v1/import/api?preserveProvider=false&overwrite=false"
      x-wso2-request: "POST https://localhost:9443/api/am/admin/v1/import/apis\nAuthorization:\
        \ Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n"
      x-wso2-response: "HTTP/1.1 200 OK\nAPI imported successfully."
  /export/api:
    get:
      tags:
        - "API (Individual)"
      summary: "Export an API"
      description: "This operation can be used to export the details of a particular\
        \ API as a zip file.\n"
      produces:
        - "application/zip"
      parameters:
        - name: "name"
          in: "query"
          description: "API Name\n"
          required: true
          type: "string"
        - name: "version"
          in: "query"
          description: "Version of the API\n"
          required: true
          type: "string"
        - name: "providerName"
          in: "query"
          description: "Provider name of the API\n"
          required: false
          type: "string"
        - name: "format"
          in: "query"
          description: "Format of output documents. Can be YAML or JSON.\n"
          required: false
          type: "string"
          enum:
            - "JSON"
            - "YAML"
        - name: "preserveStatus"
          in: "query"
          description: "Preserve API Status on export\n"
[...]
