@import "common-style";

button, button.mat-raised-button.mat-mdc-raised-button:not(:disabled) {
    --mdc-protected-button-container-color: #{$primary-color};
    --mdc-protected-button-label-text-color: #{$secondary-color};

    cursor: pointer;
    font-weight: 600;
    border-radius: 6px;
    background-color: $primary-color;
    color: $secondary-color;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    margin: 0 auto;
    height: 42px;

    &:hover {
        background-color: $focus;
        color: $secondary-color;
    }

}
