@import "~src/app/styles/colors";
@import "~src/app/styles/variables-rudi";
@import "~src/app/styles/common-style";
@import "bootstrap/scss/bootstrap-grid";

.bandeau {
    padding-top: 38px;
}

.project-header {
    display: flex;
    margin-left: 80px;
    padding-top: 20px;
}

.title {
    font-weight: bold;
    display: block;
    margin: 10px auto;
}

.section-title {
    @extend .title;
    font-size: 18px;
}

.section-sub-title {
    @extend .title;
    font-size: 15px;
}


.project-section {
    border: 1px solid $self-data-border-color;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 15px 30px;
    margin-top: 15px;
}

.project-details-container {
    display: flex;

    @extend .flex-sm-wrap;
    @extend .flex-lg-nowrap;
    @extend .align-items-md-start;
    @extend .justify-content-md-between;

    .project-metadata {
        @extend .col-sm-12;
        @extend .col-lg-8;
        @extend .mr-lg-5;
        @extend .project-section;
    }

    .project-owner {
        @extend .col-sm-12;
        @extend .col-lg-4;
        @extend .project-section;
    }
}
