@import "src/app/styles/common-style";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/colors";

@mixin button-blue {
    background-color: $primary-color;
    font-weight: bold;
    color: $banner-solid-color;
    font-family: OpenSans, sans-serif;
}

#content {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 640px;
    font-family: "Open Sans", sans-serif;
}

.main-content {
    padding: 0 60px;
}

.dialog-header-button {
    float: right;
    margin-top: -70px;
}

.icon-close {

    svg {
        height: 36px;
        width: 36px;
        fill: black;
        opacity: 0.54;
        border: solid 1px grey;
        border-radius: 20px;
        padding: 5px;
    }

    svg:hover {
        opacity: 1;
        background-color: $focus;
        fill: white;
    }
}

.title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: $primary-color;
    margin: 0 90px 0 90px;
}

.button-see {
    @include button-blue;
    padding: 14px 29px 14px 30px;
    font-size: 16px;
}

.subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: $primary-color;
}

.content-text {
    text-align: center;
}

.body-text {
    font-size: 16px;
}

.link-text {
    font-size: 16px;
    color: $primary-color;
    text-decoration: underline;
    font-weight: bold;
}
