@import "src/app/styles/variables-rudi";
@import "src/app/styles/common-style";

.card-title {
    display: flex;
    flex-direction: column;
}

.card-label {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

.contact {
    padding: 20px 0;
    border-top: 1px solid $blocks-and-menus-outline;
    border-bottom: 1px solid $blocks-and-menus-outline;

    a {
        color: $focus !important;
        text-decoration: underline;
    }

    .label-licence {
        font-size: 12px;
    }

    .label-licence-status {
        font-size: 18px;
        font-weight: bold;
        display: block;
    }

    .button-contact {
        @include button-blue;
    }
}

.date-field-viewer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 1.5em 0 1em 0;
    padding: 0.5em;
    border-radius: 4px;
    border: solid 1px $blocks-and-menus-outline;
    background-color: $banner-solid-color;

    .label-date {
        font-size: 12px;
        font-weight: normal
    }

    .date-value {
        font-size: 14px;
        font-weight: 600;
    }
}
