<div>
    <mat-card>
        <div class="card-title">
            <label class="card-label">{{'personalSpace.project.basicInfos.projectType' | translate}}</label>
            <span>{{projectType | replaceIfNullPipe}}</span>
        </div>

        <div class="contact">
            <label class="card-label">{{ownerDescription}}</label><br/>
            <span>{{ownerEmail | replaceIfNullPipe}}</span>
        </div>

        <div>
            <div class="date-field-viewer">
                <span class="label-date">{{'personalSpace.project.basicInfos.creationDate' | translate}}</span>
                <span class="date-value">
                    {{creationDate | replaceIfNullPipe}}
                </span>
            </div>
            <div class="date-field-viewer">
                <span class="label-date">{{'personalSpace.project.basicInfos.updatedDate' | translate}}</span>
                <span class="date-value">
                    {{updatedDate | replaceIfNullPipe}}
                </span>
            </div>
        </div>
    </mat-card>
</div>
