@import "common-style";
@import "../workflow-form/workflow-form.component";

mat-label {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
}

mat-error {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $error-color;
}

*:focus-visible {
    // on ne veut pas les rectangles bleu sur focus du champ input
    outline: none;
}

// Customization Angular Material
::ng-deep {

    .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: $focus !important;
    }

    // Customization du formulaire Angular Material
    .mat-form-field-disabled {

        .mat-form-field-outline-start,
        .mat-form-field-outline-gap,
        .mat-form-field-outline-end {
            background: $banner-solid-color-60;
        }

        .mat-form-field-infix {
            padding-top: 5px;
        }

        input {
            font-family: OpenSans, sans-serif;
            font-size: 15px;
            color: $primary-text !important;
            height: 2em;
        }

    }

    .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
        background: $primary-color !important;
    }

    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
        color: $primary-color;
    }
}
