@import "src/app/styles/colors";
@import "src/app/styles/common-style";

.search-box-container {

    /* clears the ‘X’ from Chrome */
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }

    .rudi-search-box {
        &-sm {
            margin-top: -30px 0 0 0;
        }

    }

    .search-box-title {
        color: $primary-color;
        height: 56px;

        span {
            color: $accent-color;
            font-weight: normal;
        }

        &-sm {
            font-weight: bold;
            font-size: 28px;
            margin-bottom: 5px;
        }

        &-lg {
            font-weight: bold;
            font-size: 38px;
            margin-bottom: 20px;
        }

    }

    .search-input {
        border-radius: 6px;
        border: 0.8px solid $blocks-and-menus-outline;
        height: 48px;
        margin: 22px 25px 42px 15px;
    }

    .search-zone {
        margin: auto;
        position: relative;

        .search-box {
            margin-bottom: 30px;

            &-clear {
                position: absolute;
                color: darkgrey;
                padding-right: 10px;
            }

            &-icon {
                color: $primary-color;
                position: absolute;
                margin-left: 16px;
            }

            &-close-icon {
                position: absolute;

                &-sm {
                    margin-left: 83%;
                }

                &-lg {
                    margin-left: 65%;
                }
            }

            .search-box-filter {
                float: right;
                color: darkgrey;
            }
        }

        &-sm, &-md {
            width: 100%;

            .search-box-clear {
                right: 0;
                margin-top: 5px;
                margin-right: 16px;
            }
        }

        &-sm {
            .form-control::placeholder {
                color: darkgrey;
                font-size: 0.875rem;
            }
        }

        &-md {
            .search-box-clear {
                padding-right: 2rem;
            }
        }

        &-lg {
            max-width: 620px;

            .search-box-clear {
                margin: 5px 0 0 580px;
            }

            .form-control::placeholder {
                color: darkgrey;
                font-size: 0.938rem;
            }
        }

        .form-control {
            padding: 15px 46px 13px 46px;
            border-radius: 6px;
            height: 48px;
            color: black;
        }
    }

    input::placeholder {
        color: $primary-text-light !important;
    }

    .text-indent {
        text-indent: 10px;
    }
}

