@import "../../styles/common-style";

.login-dialog-container {
  position: relative;
  .login-form-field {
    width: 100%;
  }

  .login-button-connexion {
    width: 50vh;
    padding: 5px;
  }

  .serveur-error {
    margin-top: 1em;
  }
}
.inscription {
  position: relative;
  bottom: -235px;
}

.inscription-paragrah {
  text-align: center;

}
