@import "src/app/styles/variables-rudi";
@import "src/app/styles/common-style";

.organization-card {

    box-shadow: none;
    border: solid 1.1px $blocks-and-menus-outline;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    margin-bottom: 1em;

    .resource_title {
        font-family: OpenSans, sans-serif;
        font-size: 16px;
        color: $primary-color;
        font-weight: 600;
        margin-top: 5px;
        margin-left: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
        @include max-2-lignes;
    }
}
