@import "common-style";

.card {
    padding: 16px;

    mat-card-content {
        padding: 0;
    }
}

.card-demand-label {
    height: 36px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
}

.organization-name {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #323643;
}

.organization-name .text-style-1 {
    font-weight: 600;
    color: var(--black);
}
