<mat-sidenav-container class="main-container">
    <mat-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container-fluid"
             [ngClass]="{
                'p-small': mediaSize.isDeviceMobile,
                'p-large': mediaSize.isDeviceDesktop
            }"
        >
            <!-- La page entière -->
            <div>
                <!-- Le titre de la page -->
                <div class="d-flex justify-content-center">
                    <span class="login-header-title" [translate]="'resetPassword.resetPasswordLabel'"></span>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <span class="text-center">{{'authentification.pas-compte'|translate}}</span>
                    <span class="text-center ms-1 link-bold-underlined-colored pointer"
                          (click)="handleClickGoInscrire()">{{'authentification.inscrire'|translate}}</span>
                </div>
                <!-- Le bloc formulaire authent -->
                <form [formGroup]="loginForm" (submit)="handleClickResetPassword()">
                    <mat-card [ngClass]="{'p-60': mediaSize.isDeviceDesktop || mediaSize.isMd, 'p-19': mediaSize.isSm}">
                        <!-- Titre du bloc -->
                        <mat-card-title class="d-flex justify-content-center">
                            <p class="login-text-title"
                               [translate]="'resetPassword.resetMail'"></p>
                        </mat-card-title>
                        <!-- Formulaire du bloc -->
                        <mat-card-content>
                            <div class="d-flex justify-content-center">
                                <!-- Champ identifiant -->
                                <div class="login-form-container">
                                    <mat-form-field>
                                        <mat-label [translate]="'authentification.mail'"></mat-label>
                                        <input matInput type="text" formControlName="login" autocomplete="off">
                                        <mat-error *ngIf="formControls.login.errors">
                                            {{'authentification.loginRequired'|translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions class="d-flex align-items-center flex-column mb-2 mx-0">
                            <!-- Bouton d'action du formulaire -->
                            <button mat-raised-button class="bouton-login"
                                    [ngClass]="{
                                        'login-btn-desktop': mediaSize.isDeviceDesktop,
                                        'login-btn-mobile': mediaSize.isDeviceMobile
                                    }"
                                    [disabled]="!isValid"
                                    type="submit">
                                <span>{{'resetPassword.resetPasswordLabel'|translate}}</span>
                            </button>
                            <!-- Loader -->
                            <mat-progress-spinner *ngIf="loading" class="m-2" mode="indeterminate"
                                                  diameter="30"></mat-progress-spinner>
                        </mat-card-actions>
                    </mat-card>
                </form>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

