<div class="step-card" [ngClass]="{'text-center': isPublished}">

    <!-- Étape 3 avant publication de la réutilisation -->
    <ng-container *ngIf="!isSubmitted">
        <div class="step-card-header">
            <h2 class="step-title">{{'project.stepper.submission.step3.title' | translate}}</h2>
            <p class="step-description">{{'project.stepper.submission.step3.description' | translate}}</p>
            <p class="step-required-information"><span
                class="required-symbol">*</span>&nbsp;{{'project.stepper.reuse.step3.requiredInformation' | translate}}
            </p>
        </div>

        <form [formGroup]="step3FormGroup">

            <div class="d-flex justify-content-center buttons-container">
                <app-dataset-button [buttonTitle]="'project.datasetButton.askData'|translate"
                                    (click)="openDialogDatasets()"></app-dataset-button>

                <app-dataset-button [buttonTitle]="'project.datasetButton.askNewData'|translate"
                                    (click)=openDialogRequestDataset()></app-dataset-button>
            </div>

            <mat-error *ngIf="linkedDatasetsError"
                       class="stepper-mat-error">
                <em class="fa fa-info-circle fa-2x mr-2"></em>{{'project.stepper.reuse.step3.requiredInformation'|translate}}
            </mat-error>

            <!-- list linkedDatasets -->
            <div *ngIf="datasetItems.length" class="datasets-container">
                <div class="datasets-container-header">
                    <div
                        class="count">{{datasetItems.length}} {{'project.stepper.reuse.step3.linkedDatasets.count' | translate:{count: datasetItems.length} }}
                    </div>
                </div>
                <div class="datasets">
                    <app-project-dataset-list [items]="datasetItems"
                                              (delete)="handleRemoveItem($event)"
                                              (edit)="handleEditItem($event)">
                    </app-project-dataset-list>
                </div>
            </div>

        </form>
    </ng-container>

    <!-- Message d'information en cas de succès de la publication -->
    <ng-container *ngIf="isSubmitted">
        <app-success-step3-template
            [stepTitle]="'project.stepper.reuse.submit.ok.title' | translate"
            [stepSubtitle]="'project.stepper.reuse.submit.ok.description1' | translate"
            [stepDescription]="'project.stepper.reuse.submit.ok.description2' | translate"
            [stepDescription2]="'project.stepper.reuse.submit.ok.description3' | translate"
            [buttonTitle]="'project.stepper.reuse.submit.ok.see' | translate "
            [routerLink]="createdProjectLink"
        >

        </app-success-step3-template>

    </ng-container>
</div>
