<app-loader [allPage]="false" [isLight]="true" [noText]="true"
            [active]="isLoading"></app-loader>
<div *ngIf="!isLoading && errorLoading">
    <app-error-box [text]="'accountInfo.tab.errorLoading' | translate"
                   [clickableText]="'accountInfo.tab.here'|translate"
                   (clickableTextClicked)="handleClickContactRudi()">
    </app-error-box>
</div>
<div *ngIf="!isLoading">
    <div class="my-organisation-count"> {{'accountInfo.tab.myOrganizations'| translate}}
        <span> ({{totalOrganizations$ | async}})</span></div>
    <!--Pas d'organisation -->
    <mat-card class="mat-elevation-z0 card-no-result" *ngIf="(totalOrganizations$ | async) <= 0">
        <mat-card-content>
            <div>
        <span>
            <img alt="{{'accountInfo.tab.img' | translate}}" src="assets/images/organisation.png">
        </span>
                <span class="span-style">{{'accountInfo.tab.noOrganizations' | translate}}</span>
            </div>
        </mat-card-content>
    </mat-card>
    <div *ngIf="(totalOrganizations$ | async) > 0">
        <div class="content">

           <app-list-organization-card
                [organizations]="organizations$ | async"
                [itemsPerPage]="itemsPerPage"
                [totalItems]="totalOrganizations$ | async"
                (pageChangeEvent)="onPageChange($event)"
            ></app-list-organization-card>


        </div>
    </div>
</div>
