@import "../../styles/common-style";

:host {
    font-family: "Open Sans", sans-serif;
}

::ng-deep {

    .mat-dialog-container {
        padding: 66px 63px 40px 63px;
        overflow-x: hidden;
        max-height: 92vh;
        border-radius: 8px;
        position: relative; /* see position: absolute of .icon-close */
    }

    .mat-dialog-content {
        max-height: 65vh;
        overflow: inherit;
        -webkit-overflow-scrolling: touch;
    }

    .dialog-header-button {
        float: right;
        margin-top: -40px
    }

    //*** style commun  dialog **///
    .icon-close {
        @include encircled(36px);
        border-color: var(--4-contours-blocs-menus);

        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;

        svg {
            @include encircled(36px, 0);
            fill: black;
            opacity: 0.54;
            padding: 5px;
        }

        svg:hover {
            fill: white;
            opacity: 1;
            background-color: $focus;
        }
    }

    .dialog-title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
        display: block;
        color: $primary-color;
    }

    .description {
        text-align: center;
        color: $primary-text;
        font-family: OpenSans, sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
    }


    .step-required-information {
        font-family: OpenSans, sans-serif;
        font-size: 14px;
        color: $primary-text-light;
        text-align: center;
    }

    .required-symbol {
        color: $error-color;
    }

    .dialog-cancel {
        background-color: $secondary-color;
        border: solid 1px $blocks-and-menus-outline;;
        color: $primary-text-light;
        width: 160px;
        height: 42px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            background-color: $focus;
            color: $secondary-color;
        }
    }

    .dialog-validate {
        background-color: $primary-color;
        color: $secondary-color;
        width: 160px;
        height: 42px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            background-color: $focus;
            color: $secondary-color;
        }
    }

    .mat-dialog-actions {
        padding-bottom: 20px; /* to compensate material margins */
    }

    /*** Fin ***/

}

app-workflow-form {
    @include block-with-margin-top(16px);
}
