@import "~src/app/styles/colors";
@import "~src/app/styles/variables-rudi";
@import "~src/app/styles/common-style";
@import "bootstrap/scss/bootstrap-grid";

.project-detail-label {
    @extend .pb-1;

    color: $primary-color;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
}

.project-detail-label-title{
    @extend .d-flex;
}

.project-detail-label-subtitle {
    @extend .mb-3;
    @extend .mt-3;

    color: $secondary-text;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
}
