<div id="dialog-container">
    <mat-dialog-content>
        <div class="dialog-cross-button">
            <button mat-icon-button (click)="handleClose()">
                <mat-icon svgIcon="icon-close" class="cross-button"></mat-icon>
            </button>
        </div>

        <div class="dialog-content">
            <div
                class="dialog-title">{{'metaData.administrationTab.membersTable.updatePassword.title' | translate}}</div>
            <div
                class="dialog-description"> {{'metaData.administrationTab.membersTable.updatePassword.text' |translate}}</div>
            <div class="dialog-description">
                <span class="required-symbol">*</span>
                {{'metaData.administrationTab.membersTable.updatePassword.text2' |translate}}
            </div>
            <div>
                <div>
                    <form [formGroup]="formGroup">
                        <div class="d-flex justify-content-center">
                            <div class="signup-form-container">
                                <div
                                    class="dialog-subtitle">{{'metaData.administrationTab.membersTable.updatePassword.passwordOld'|translate}}
                                    <span
                                        class="required-symbol">*</span></div>
                                <div
                                    class="dialog-description">{{'metaData.administrationTab.membersTable.updatePassword.descriptionPasswordOld'|translate}}</div>
                                <mat-form-field hideRequiredMarker>
                                    <input matInput [type]="hidepasswordOld ? 'password' : 'text'"
                                           placeholder="{{'metaData.administrationTab.membersTable.updatePassword.passwordOld'|translate}}"
                                           formControlName="passwordOld" autocomplete="off"
                                           required>
                                    <button mat-icon-button matSuffix (click)="hidepasswordOld = !hidepasswordOld"
                                            [attr.aria-label]="'Hide passwordOld'"
                                            [attr.aria-pressed]="hidepasswordOld">
                                        <mat-icon
                                            class="hidepasswordOld">{{hidepasswordOld ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error
                                        *ngIf="formControls.passwordOld.errors?.minlength">
                                        <em class="fa fa-info-circle fa-2x me-2"></em>{{'signup.passwordOldErrorPre'|translate}} {{passwordOldMinLength}} {{'signup.passwordOldErrorPost'|translate}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="formControls.passwordOld.errors?.required">
                                        <em class="fa fa-info-circle fa-2x me-2"></em>{{'metaData.administrationTab.membersTable.updatePassword.passwordOldRequired'|translate}}
                                    </mat-error>
                                </mat-form-field>

                                <div
                                    class="dialog-subtitle">{{'metaData.administrationTab.membersTable.updatePassword.password'|translate}}
                                    <span
                                        class="required-symbol">*</span></div>
                                <div
                                    class="dialog-description">{{'metaData.administrationTab.membersTable.updatePassword.descriptionPassword'|translate}}</div>
                                <mat-form-field hideRequiredMarker>
                                    <input matInput [type]="hidePassword ? 'password' : 'text'" id="password"
                                           placeholder="{{'signup.password'|translate}}"
                                           formControlName="password" autocomplete="off"
                                           required>
                                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                                            [attr.aria-label]="'Hide password'"
                                            [attr.aria-pressed]="hidePassword">
                                        <mat-icon
                                            class="hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error
                                        *ngIf="formControls.password.errors?.minlength">
                                        <em class="fa fa-info-circle fa-2x me-2"></em>{{'signup.passwordErrorPre'|translate}} {{passwordMinLength}} {{'signup.passwordErrorPost'|translate}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="formControls.password.errors?.required">
                                        <em class="fa fa-info-circle fa-2x me-2"></em>{{'metaData.administrationTab.membersTable.updatePassword.passwordRequired'|translate}}
                                    </mat-error>
                                </mat-form-field>
                                <p class="pb-3">
                                    <app-password-strength [password]="formGroup.value.password"
                                                           class="text-center"></app-password-strength>
                                </p>

                                <div
                                    class="dialog-subtitle">{{'metaData.administrationTab.membersTable.updatePassword.passwordConfirmation'|translate}}
                                    <span
                                        class="required-symbol">*</span></div>
                                <div
                                    class="dialog-description">{{'metaData.administrationTab.membersTable.updatePassword.descriptionPasswordConfirmation'|translate}}</div>
                                <mat-form-field hideRequiredMarker>
                                    <input id="confirm_password" matInput
                                           [type]="hideConfirmPassword ? 'password' : 'text'"
                                           placeholder="{{'signup.ConfirmPassword'|translate}}"
                                           formControlName="confirmPassword" required autocomplete="off">
                                    <button mat-icon-button matSuffix
                                            (click)="hideConfirmPassword = !hideConfirmPassword"
                                            [attr.aria-label]="'Hide confirmPassword'"
                                            [attr.aria-pressed]="hideConfirmPassword">
                                        <mat-icon
                                            class="hidePassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="formControls.confirmPassword.errors?.required">
                                        <em class="fa fa-info-circle fa-2x me-2"></em>{{'metaData.administrationTab.membersTable.updatePassword.passwordConfirmRequired'|translate}}
                                    </mat-error>
                                    <mat-error *ngIf="formControls.confirmPassword.errors?.confirmedValidator">
                                        <em class="fa fa-info-circle fa-2x me-2"></em>{{'signup.passwordConfirmError'|translate}}
                                    </mat-error>
                                </mat-form-field>
                                <app-rudi-captcha *ngIf="enableCaptchaOnPage"
                                                  [nomCaptcha]="'captchaFR'"></app-rudi-captcha>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <app-loader [allPage]="false" [isLight]="true" [noText]="true"
                        [active]="isLoading"></app-loader>

            <mat-dialog-actions class="dialog-buttons">
                <button class="secondary-raised-button" mat-raised-button [mat-dialog-close]="null">
                    <span>{{'personalSpace.project.tabs.deletion.confirmationPopup.cancel'| translate}}</span>
                </button>
                <button class="primary-raised-button" mat-raised-button (click)="validate()"
                        [disabled]="!isValid">
                    <span>{{'metaData.administrationTab.membersTable.updatePassword.validate'| translate}}</span>
                </button>
            </mat-dialog-actions>

        </div>
    </mat-dialog-content>
</div>
