
.error-icon {
    margin-right: 0.5em;
}

.error-zone {
    margin-top: 1em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    background-color: #d04838;
    border-radius: 5px;
    border-width: 2px;
    border-color: #dd4b39;
    color: white;
    font-size: 14px;
}

.error-clickable {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
