.icon-container {
    .error-icon {
        margin-right: 0.5em;
    }
}


.error-zone {
    padding: 1em;
    display: flex;
    background-color: #d04838;
    border-radius: 5px;
    border: 2px solid #dd4b39;
    color: white;
    font-size: 14px;
}

.error-clickable {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
