.value {
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 15px;
}

.label {
    font-family: OpenSans, sans-serif;
    font-weight: 600;
    line-height: 1.54;
    text-align: left;
    color: var(--0-classic-blue);
}
