@import "../../../styles/common-style";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/colors";

.ag-grid-style {
    width: 100%;
    height: 100%;
}

.ag-grid-div {
    width: 100%;
    height: 500px;

    ::ng-deep {
        .ag-header-row-column {
            background-color: $primary-color;
        }

        .ag-header-cell {
            font-family: OpenSans, sans-serif;
            cursor: pointer;
            font-weight: 600;
            color: $white;
        }

        .ag-first-cell-column {
            background-color: $primary-color;
            font-family: OpenSans, sans-serif;
            cursor: pointer;
            font-weight: 600;
            color: $white;
        }
    }
}
