@import "src/app/styles/colors";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/common-style";


.card-description-keyword {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

.card-description-keyword-row {
    padding: 0 20px;
}

.card-demand-label {
    height: 36px;
    margin: 0 105px 8px 2px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.72;
    text-align: left;
    color: $black;
}

.vertical-space {
    margin-bottom: 20px;
}

.data-label {
    width: 520px;
    height: 21px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.54;
    text-align: left;
    color: $primary-color;
}

.data-value {
    width: 355px;
    height: 27px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: $black;
}
