@import "src/app/styles/variables-rudi";
@import "src/app/styles/common-style";
@import "src/app/styles/_responsive.scss";

.dataset-info {
    font-family: OpenSans, sans-serif;

    &-organization_name {
        font-size: 12px;
        line-height: 1.67;
        color: $primary-text;
        min-height: 12px;
    }

    &-resource_title {
        font-size: 16px;
        color: $primary-color;
        font-weight: 600;
        margin-top: 5px;
    }
}

.mat-divider {
    position: inherit;
}

.svg-style {
    height: 15px;
}

.container-global {
    display: flex;
}

@mixin mobile() {
    .container-global {
        flex-direction: column;
    }
    .text-container{
        margin-left: 0;
    }
    .logo-container{
        margin-bottom: 15px;
    }

}
@mixin desktop() {
    .container-global {
        flex-direction: row;
    }
    .text-container{
        margin-left: 15px;
    }
    .logo-container{
        margin-bottom: 0;
    }
}

@include sm {
    @include mobile();
}

@include md {
    @include desktop();
}

@include lg {
    @include desktop();
}

@include xl {
    @include desktop();
}
