@import "src/app/styles/variables-rudi";
@import "src/app/styles/common-style";

.producteur-img-box {
    min-width: 70px;
    height: 70px;
    padding: 10px 4px 10px 4px;
    border-radius: 3.4px;
    border: solid 0.9px $blocks-and-menus-outline;
    justify-content: center;
}

.dataset-info {
    font-family: OpenSans, sans-serif;

    &-organization_name {
        font-size: 12px;
        line-height: 1.67;
        color: $primary-text;
        min-height: 12px;
    }

    &-resource_title {
        font-size: 16px;
        color: $primary-color;
        font-weight: 600;
        margin-top: 5px;
        @include max-2-lignes;
    }

}

.mat-divider {
    position: inherit;
}

.svg-style {
    height: 15px;
}
