@import "responsive";
@import "bootstrap/scss/bootstrap-grid";
@import 'swiper/css';

.section-container {
    padding-top: 20px;
}

.title-container {
    text-align: center;
    margin-bottom: 10px;

    .title1 {
        margin-right: 10px;
        font-size: 38px;
        color: var(--primary-color);
        font-weight: 700;
    }

    .title2 {
        font-size: 38px;
        color: var(--accent-color);
    }
}

.subtitle-container {
    .subtitle {
        margin-bottom: 10px;
        font-size: 20px;
        color: var(--primary-color);
    }
}

.description-container {
    max-width: 700px;
    margin-bottom: 30px;

    .description {
        text-align: center;
    }
}

.swiper-slide {
    width: 100% !important;
}

.card-container {
    padding: 0 10px;
}

@mixin mobile-screen {
    .desktop-list-container {
        display: none;
    }

    .mobile-list-container {
        display: block;
    }
}

@mixin desktop-screen {
    .desktop-list-container {
        display: flex;
        width: 90%;
        margin: auto;
    }

    .mobile-list-container {
        display: none;
    }
}

@include xs() {
    @include mobile-screen;
}

@include sm() {
    @include mobile-screen;
}

@include md() {
    @include desktop-screen;
}

@include lg() {
    @include desktop-screen;
}

@include xl() {
    @include desktop-screen;
}
