
.strengthBar {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: 2px;
}

.point:last-of-type {
    margin: 0 !important;
}

.point {
    border-radius: 2px;
    background: #DDD;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 62px;
}

.strength1 .passed .point {
    background: darkred
}

.strength2 .passed .point {
    background: orangered
}

.strength3 .passed .point {
    background: orange
}

.strength4 .passed .point {
    background: yellowgreen
}

.criterion {
    font-weight: bold;
    font-size: 12px;

    &.accepts {
        color: yellowgreen;
    }

    &.refuses {
        color: orange;
    }

}
