<div class="strength strength{{strength}}">
    <!--suppress JSUnusedGlobalSymbols -->
    <ul *ngFor="let criterion of criteria; let barStrength = index" [ngClass]="{'passed': strength > barStrength }"
        class="strengthBar">
        <li class="point"></li>
    </ul>
    <ng-container>
        <p *ngFor="let criterion of criteria" [class]="criterion.accepts(password) ? 'accepts' : 'refuses'"
           class="criterion">{{ 'strengthPassword.' + criterion.i18nKey | translate }}</p>
    </ng-container>
    <br>
</div>
