<div>
    <app-loader [allPage]="false" [isLight]="true" [noText]="true"
                [active]="displayTableLoading"></app-loader>
    <ng-container *ngIf="!displayTableLoading">
        <div class="tabulatedData">
            {{'metaData.tabulatedData'|translate}}
        </div>

        <!--   search zone-->
        <div class="d-flex justify-content-between mb-5" *ngIf="displayTable">
            <div>
                <form class="w-100 d-flex">
                    <div class="search-box-container w-100">
                        <div class="search-zone d-flex d-flex align-items-center search-size">
                        <span class="search-box-icon mr-5">
                             <mat-icon class="mr-2" aria-hidden="false" aria-label="filter icon"
                                       svgIcon="search"></mat-icon>
                         </span>
                            <input class="form-control text-indent" type="search" name="search" autocomplete="off"
                                   [(ngModel)]="searchTerms"
                                   (keydown.enter)="onChanges()"
                                   [placeholder]="'searchbox.searchInData' | translate">
                            <span class="search-box-clear search-box" [ngClass]="searchTerms ? 'active' : ''"
                                  *ngIf="searchTerms">
                              <mat-icon class="pointer mr-2" aria-hidden="false" aria-label="clear"
                                        (click)="onReset()">close</mat-icon>
                         </span>
                        </div>

                    </div>
                </form>
            </div>
            <button mat-raised-button class="button btn-outline" (click)="switchHeader()">
                <mat-checkbox
                    (click)="$event.preventDefault()"
                    [checked]="usesHeader">
                </mat-checkbox>
                {{'metaData.tabulatedDataTab.tableHeadingBtn'|translate}}
            </button>
        </div>
        <div *ngIf="displayResults" class="tabulatedData">
            {{displayTableData.rowData.length}}
            <span> {{'searchbox.results'|translate}}{{displayTableData.rowData.length > 1 ? 's' : ''}}</span>
        </div>

        <app-error-box *ngIf="errorAccess"
                       [text]="'metaData.tabulatedDataTab.errorAccess' | translate"
        >
        </app-error-box>

        <app-error-box *ngIf="errorDownloading"
                       [text]="'metaData.tabulatedDataTab.errorDownloading' | translate"
        >
        </app-error-box>

        <app-error-box *ngIf="businessErrorMessage"
                       [text]="businessErrorMessage"
        >
        </app-error-box>

        <app-spreadsheet
            *ngIf="displayTable"
            [columnDefs]="displayTableData.columnDefs"
            [rowData]="displayTableData.rowData"
        ></app-spreadsheet>
    </ng-container>
</div>
