.header-container {
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--app-header-height);
    padding: 0.5rem 1.3rem;
    background-color: #FFFFFF;
    border-bottom: 1px solid #d5d8de;
}

.menu-container {
    &-mobile {
        display: flex;
        flex-direction: row-reverse;
    }

    &-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}

.header-logo {
    width: 120px;
    padding: 10px;
    height: 60px;
}

.my-account-btn {
    &-desktop {
        --mdc-outlined-button-outline-color: var(--rudi-header-primary-color);
        --mdc-outlined-button-container-shape: 0px;
        --mdc-outlined-button-label-text-color: var(--rudi-header-primary-color);

        .btn-text-container {
            display: flex;
            align-items: center;

            .text-btn {
                margin-left: 7px;
                text-transform: uppercase;
                font-weight: 700;
            }
        }

        &:hover {
            --mdc-outlined-button-outline-color: var(--accent-color);
            --mdc-outlined-button-label-text-color: var(--accent-color);
        }

        &:focus {
            border: #1D1D1B 2px solid !important;
        }
    }

    &-mobile {
        &:focus {
            border: #1D1D1B 2px solid !important;
        }
    }
}

.login-btn {
    &-mobile {
        --mdc-fab-container-shape: 4px;
        --mdc-fab-container-elevation-shadow: none !important;
        --mdc-fab-container-color: #ffffff !important;
        border: 1px solid var(--mdc-outlined-button-outline-color);
        width: 75px;

        mat-icon {
            margin: 0;
            color: #1D1D1B;
        }
    }

    &-desktop {
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        white-space: nowrap;
        width: 125px;
        border-radius: 2px;
        background-color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: .07em;
        border: 1px solid rgb(25, 14, 11);
        color: var(--rudi-header-primary-color);

        &:focus {
            background-color: var(--mdc-outlined-button-outline-color);
        }

        &:hover {
            text-decoration: none;
            border-color: var(--accent-color-svg);
            color: var(--accent-color-svg);
        }
    }
}

.burger-menu-btn {
    margin-left: 7px;
    --mdc-fab-container-shape: 4px;
    --mdc-fab-container-elevation-shadow: none !important;
    --mdc-fab-container-color: #ffffff !important;

    mat-icon {
        scale: 1.4;
        color: #1D1D1B;
    }
}

.mat-mdc-mini-fab {
    &:hover {
        box-shadow: none !important;
    }

    &:focus {
        border: #1D1D1B 2px solid !important;
        box-shadow: none !important;
    }
}

.mobile-container {
    z-index: 100;
    position: fixed;
    top: var(--app-header-height);
    left: 0;
    width: 100%;
    height: 50%;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05em;
}


.list-container, ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-left: 0;

    li {
        list-style: none;
    }

    &-mobile {
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0;
        height: 100%;
        background-color: var(--white);
        border-top: 25px solid var(--primary-color);
        border-bottom: 25px solid var(--primary-color);
        animation: fadeIn 0.5s;
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }


    &-desktop {
        margin-bottom: 0;
        flex-direction: row;
    }
}

.nav-link-global {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;

    &.active {
        color: var(--accent-color-svg);
    }

    &:hover {
        color: var(--accent-color-svg);
    }
}

.nav-link {
    &-xs, &-sm, &-md {
        @extend .nav-link-global;
        font-size: 16px;
    }

    &-lg {
        @extend .nav-link-global;
        margin-right: 20px;
        font-size: 12px;
    }

    &-xl, &-xxl {
        @extend .nav-link-global;
        margin-right: 30px;
    }
}
