<div class="header-container mat-typography" [ngClass]="ngClass">
    <div *ngIf="mediaSize.isLg || mediaSize.isXl || mediaSize.isXxl">
        <nav ngxNavbarDynamicExpand class="header-nav rudi-header-container navbar-expand pr-0"
             aria-label="navbar-desktop">
            <div class="header-logo-container">
                <a href="{{'rudidatarennes.beta'|getBackendProperty|async}}">
                    <mat-icon class="header-logo" aria-hidden="false"
                              aria-label="Logo bleu orange beta de rennes metropole"
                              svgIcon="logo-bleu-orange"></mat-icon>
                </a>
            </div>
            <ngx-navbar-collapse class="justify-content-end navbar-menu-items header-container-lg not-clickable"
                                 id="main-nav">
                <ul class="navbar-nav header-navbar-link-color mt-2 mt-lg-0 mr-2">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{'rudidatarennes.beta'|getBackendProperty|async}}"
                           rel="noopener noreferrer"
                           routerLinkActive="active-item">
                            <em class="fa fa-home fa-1x mr-2"></em>
                            <span>{{'header.accueil'| translate}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#" routerLink="catalogue"
                           [routerLinkActive]="'active'"><span
                            class="ul-items-mobile">{{'header.catalogue'| translate}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" routerLink="projets"
                           rel="noopener noreferrer" class="nav-link text-uppercase"
                           [routerLinkActive]="'active'"><span>{{'header.reutilisations'| translate}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" [routerLinkActive]="'active'" [href]="urlToDoc"
                           rel="noopener noreferrer" target="_blank">
                            <em class="fa fa-external-link fa-1x mr-2  icon-hide-mobile"></em>
                            <span>{{'header.documentation'| translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{'rudidatarennes.index'|getBackendProperty|async}}"
                           target="_blank"
                           rel="noopener noreferrer" [routerLinkActive]="'active'">
                            <em class="fa fa-external-link fa-1x mr-2  icon-hide-mobile"></em>
                            <span>{{'header.blogProjet'| translate}}</span></a>
                    </li>
                    <li class="nav-item account-btn">
                        <button *ngIf="!isConnectedAsUser" mat-stroked-button (click)="handleClickGoLogin()">
                            <span>{{'header.logIn'| translate}}</span>
                        </button>
                        <button *ngIf="isConnectedAsUser" [matMenuTriggerFor]="accountMenu" mat-stroked-button>
                            <img class="img-style" alt="{{'header.monCompte'| translate}}"
                                 src="assets/images/mon_compte.png">
                            <span>{{'header.monCompte'| translate}}</span>
                        </button>
                        <mat-menu #accountMenu="matMenu" role="menu" xPosition="before">
                            <button class="title" mat-menu-item
                                    (click)="handleClickGoMonCompte()">{{'header.accountMenu.myAccount'| translate}}</button>
                            <button class="title" mat-menu-item
                                    (click)="handleClickGoToReuse()">{{'header.accountMenu.myReuses'| translate}}</button>
                            <button class="title" mat-menu-item
                                    (click)="handleClickGoToMySelfdata()">{{'header.accountMenu.mySelfdata'| translate}}</button>
                            <button class="title" mat-menu-item
                                    (click)="handleClickGoReceivedLinkedDatasets()">{{'header.accountMenu.receivedLinkedDatasets'| translate}}</button>
                            <hr class="hr">
                            <button (click)="handleClickLogout()" class="title" mat-menu-item>{{'header.logOut'| translate}}</button>
                        </mat-menu>
                    </li>
                </ul>
                <div class="header-right-menu-items">
                    <em class="fa fa-search search-icon-desktop fa-1x mr-2 pointer disabled"></em>
                </div>
            </ngx-navbar-collapse>
        </nav>
    </div>

    <div *ngIf="mediaSize.isSm || mediaSize.isMd">
        <nav class="navbar header-nav rudi-header-container" aria-label="navbar-mobile">
            <span>
                <a href="{{'rudidatarennes.beta'|getBackendProperty|async}}">
                <img class="header-logo" src="../../../assets/images/logo_bleu_orange.svg"
                     alt="Logo bleu orange beta de rennes metropole">
                </a>
            </span>

            <!-- Conteneur boutons actions -->
            <div class="buttons-container">
                <!-- Bouton search -->
                <span class="p-2">
                    <em class="fa fa-search search-icon-mobile fa-1x pointer disabled"></em>
                </span>
                <!-- Bouton mon compte -->
                <button *ngIf="!isConnectedAsUser" mat-stroked-button (click)="handleClickGoLogin()">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <button *ngIf="isConnectedAsUser" [matMenuTriggerFor]="accountMenu" mat-stroked-button>
                    <img class="img-style" alt="mon_compte" src="assets/images/mon_compte.png">
                </button>
                <mat-menu #accountMenu="matMenu" role="menu" xPosition="before">
                    <button mat-menu-item
                            (click)="handleClickGoMonCompte()">{{'header.accountMenu.myAccount'| translate}}</button>
                    <button mat-menu-item
                            (click)="handleClickGoToReuse()">{{'header.accountMenu.myReuses'| translate}}</button>
                    <button mat-menu-item
                            (click)="handleClickGoReceivedLinkedDatasets()">{{'header.accountMenu.receivedLinkedDatasets'| translate}}</button>
                    <hr class="hr">
                    <button (click)="handleClickLogout()" class="title" mat-menu-item>{{'header.logOut'| translate}}</button>
                </mat-menu>
                <!-- button menu burger -->
                <button
                    class="navbar-toggler custom-toggler header-btn-toggle p-2"
                    type="button"
                    (click)="collapse.toggle(); handleClickBurger()"
                    aria-controls="main-nav"
                    aria-expanded="false"
                    aria-label="Ouvrir">
                    <span *ngIf="isCollapsed"
                          class="navbar-toggler-icon d-flex align-items-center justify-content-center">
                    </span>
                    <span *ngIf="!isCollapsed">
                        <em class="fa fa-times fa-1x mr-2 pointer disabled"></em>
                    </span>
                </button>
            </div>

            <!-- Fin button menu burger -->
            <ngx-navbar-collapse class="justify-content-end navbar-menu-items header-container-sm" id="main-nav2"
                                 #collapse="ngxNavbarCollapse">
                <ul class="navbar-nav header-navbar-link-color mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{'rudidatarennes.beta'|getBackendProperty|async}}"
                           rel="noopener noreferrer" routerLinkActive="active-item">
                            <span class="ul-items-mobile">{{'header.accueil'| translate}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="catalogue"
                           routerLinkActive="active-item"><span
                            class="ul-items-mobile">{{'header.catalogue'| translate}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="projets"
                           routerLinkActive="active-item"><span
                            class="ul-items-mobile">{{'header.reutilisations'| translate}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{'rudidatarennes.wiki'|getBackendProperty|async}}" target="_blank"
                           rel="noopener noreferrer"
                           [routerLinkActive]="'active-item'"><span
                            class="ul-items-mobile">{{'header.documentation'| translate}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{'rudidatarennes.index'|getBackendProperty|async}}"
                           rel="noopener noreferrer" [routerLinkActive]="'active'">
                            <span class="ul-items-mobile">{{'header.blogProjet'| translate}}</span></a>
                    </li>
                </ul>
            </ngx-navbar-collapse>
        </nav>
    </div>
</div>

