<div class="header-container">

    <a routerLink="/home">
        <img *ngIf="!logoIsLoading" class="header-logo" [src]="logo"
             alt="Logo bleu orange beta de rennes metropole"/>
    </a>

    <div id="main-nav" [ngClass]="{
        'menu-container-mobile': mediaSize.isDeviceMobile,
        'menu-container-desktop': mediaSize.isDeviceDesktop
    }">
        <div *ngIf="mediaSize.isDeviceMobile">
            <div *ngTemplateOutlet="menuMobile"></div>
        </div>
        <div *ngIf="mediaSize.isDeviceDesktop">
            <div *ngTemplateOutlet="menuList"></div>
        </div>
        
        <div *ngIf="isConnectedAsUser">
            <button [matMenuTriggerFor]="accountMenu" mat-stroked-button [ngClass]="{
                    'my-account-btn-mobile': mediaSize.isSm || mediaSize.isXs || mediaSize.isMd || mediaSize.isLg,
                    'my-account-btn-desktop': mediaSize.isXl || mediaSize.isXxl
                }">
                <div class="btn-text-container">
                    <img alt="{{'header.monCompte'| translate}}"
                         src="assets/images/mon_compte.png">
                    <div *ngIf="mediaSize.isXl || mediaSize.isXxl">
                        <span class="text-btn">{{ 'header.monCompte'| translate }}</span>
                    </div>
                </div>
            </button>
        </div>
        <div *ngIf="!isConnectedAsUser">
            <div *ngIf="mediaSize.isDeviceMobile">
                <a class="login-btn-mobile" href="#" routerLink="login" mat-mini-fab
                   aria-label="Redirection vers la page de connexion"
                   (click)="handleClickGoLogin()">
                    <mat-icon fontIcon="account_circle" aria-hidden="false" aria-label="Ouvrir le menu"></mat-icon>
                </a>
            </div>
            <div *ngIf="mediaSize.isDeviceDesktop">
                <a class="login-btn-desktop" href="#" routerLink="login"
                   aria-label="Redirection vers la page de connexion"
                   (click)="handleClickGoLogin()">
                    {{ 'header.logIn'| translate }}
                </a>
            </div>
        </div>
    </div>
</div>

<ng-template #menuMobile>
    <button class="burger-menu-btn" mat-mini-fab aria-label="Button d'ouverture du menu"
            (click)="handleClickBurger()">

        <div *ngIf="isCollapsed">
            <mat-icon fontIcon="menu" aria-hidden="false" aria-label="Ouvrir le menu"></mat-icon>
        </div>
        <div *ngIf="!isCollapsed">
            <mat-icon fontIcon="close" aria-hidden="false" aria-label="Fermer le menu"></mat-icon>
        </div>
    </button>

    <div class="mobile-container" *ngIf="!isCollapsed">
        <div *ngTemplateOutlet="menuList"></div>
    </div>
</ng-template>

<ng-template #menuList>
    <ul [ngClass]="{
        'list-container-mobile': mediaSize.isDeviceMobile,
        'list-container-desktop': mediaSize.isDeviceDesktop
    }">
        <li>
            <a [ngClass]="ngClassNavLink"
               rel="noopener noreferrer"
               routerLink="home"
               [routerLinkActive]="'active'"
               (click)="handleClickBurger()"
            >
                <em class="fa fa-home me-2"></em>
                <span>{{ 'header.accueil'| translate }}</span>
            </a>
        </li>
        <li>
            <a [ngClass]="ngClassNavLink" href="#" routerLink="catalogue"
               [routerLinkActive]="'active'"
               (click)="handleClickBurger()">
                {{ 'header.catalogue'| translate }}
            </a>
        </li>
        <li>
            <a [ngClass]="ngClassNavLink" href="#" routerLink="projets"
               rel="noopener noreferrer"
               [routerLinkActive]="'active'"
               (click)="handleClickBurger()">
                {{ 'header.reutilisations'| translate }}
            </a>
        </li>
        <li>
            <a [ngClass]="ngClassNavLink" href="#" routerLink="organization"
               [routerLinkActive]="'active'"
               (click)="handleClickBurger()">
                {{ 'header.organisations'| translate }}
            </a>
        </li>
        <li>
            <a [ngClass]="ngClassNavLink" [routerLinkActive]="'active'"
               [href]="urlToDoc"
               rel="noopener noreferrer" target="_blank">
                <em class="fa fa-external-link me-2"></em>
                <span>{{ 'header.documentation'| translate }}</span>
            </a>
        </li>
        <li>
            <a [ngClass]="ngClassNavLink"
               href="{{'rudidatarennes.index'|getBackendProperty|async}}"
               target="_blank"
               rel="noopener noreferrer" [routerLinkActive]="'active'">
                <em class="fa fa-external-link  me-2"></em>
                <span>{{ 'header.blogProjet'| translate }}</span></a>
        </li>
    </ul>
</ng-template>

<!-- MENU 'MON COMPTE' -->
<mat-menu #accountMenu="matMenu" role="menu" xPosition="before">
    <button mat-menu-item
            (click)="handleClickGoMonCompte()">{{ 'header.accountMenu.myAccount'| translate }}
    </button>
    <button mat-menu-item
            (click)="handleClickGoReceivedLinkedDatasets()">{{ 'header.accountMenu.myNotifications'| translate }}
    </button>
    <button mat-menu-item
            (click)="handleClickGoToReuse()">{{ 'header.accountMenu.myActivity'| translate }}
    </button>
    <button mat-menu-item
            (click)="handleClickGoToMySelfdata()">{{ 'header.accountMenu.mySelfdata'| translate }}
    </button>
    <hr class="m-0">
    <button (click)="handleClickLogout()"
            mat-menu-item>{{ 'header.logOut'| translate }}
    </button>
</mat-menu>
