<app-page>
    <app-page-title [title1]="'personalSpace.myProjects.title1'|translate"
                    class="d-flex justify-content-center w-100"></app-page-title>

    <app-tabs>
        <app-tab [label]="'personalSpace.myProjects.tab1'|translate">
            <ng-template>
                <app-project-tasks></app-project-tasks>
            </ng-template>
        </app-tab>
        <app-tab [label]="'personalSpace.myProjects.tab2'|translate">
            <ng-template>
               <app-reuses [ITEMS_PER_PAGE]="10"></app-reuses>
            </ng-template>
        </app-tab>
    </app-tabs>

</app-page>
