@import "../../../styles/common-style";
@import "src/app/styles/variables-rudi";

.description {
    margin: 11px 0 20px;
    font-family: OpenSans, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: var(--3-texte-gris-fonc);
}
