@import "~src/app/styles/colors";
@import "~src/app/styles/common-style";
@import "~src/app/styles/add-link-to-project";

.comment-action, .delete-action {
    mat-icon {
        width: 40px;
        height: 40px;

        &:hover {
            border-radius: 50%;
            stroke: $secondary-color;
            background-color: $primary-color;
        }
    }
}

.delete-action {
    margin-left: 10px;
}

.add-link-button {
    &:hover {
        color: $secondary-color;
        background-color: $primary-color;
    }
}
