@import "~src/app/styles/colors";
@import "~src/app/styles/common-style";
@import "~src/app/styles/add-link-to-project";

.comment-action, .delete-action {
    mat-icon {
        width: 40px;
        height: 40px;
    }
}

.delete-action {
    margin-left: 10px;
}
