@import "common-style";
@import "add-link-to-project";

.comment-action, .delete-action {
    mat-icon {
        width: 40px;
        height: 40px;

        &:hover {
            border-radius: 50%;
            stroke: var(--secondary-color);
            background-color: var(--primary-color);
        }
    }
}

.delete-action {
    margin-left: 10px;
}

.add-link-button {
    &:hover {
        color: var(--secondary-color);
        background-color: var(--primary-color);
    }
}

