@import "src/app/styles/colors";
@import "src/app/styles/variables-rudi";
@import "src/app/styles/common-style";

.button {
    margin-top: 1em;
    background-color: $primary-color;
    color: $banner-solid-color;
    font-weight: 600;
    padding: 7px 22px;
    $line-height: 1.84rem;
    line-height: $line-height;

    &:hover {
        background-color: $focus;
        color: $secondary-color;
    }

    &.email {
        text-align: left;
        width: 100%;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        span {
            text-overflow: ellipsis;
        }
    }

    mat-icon {
        right: 0.6rem;
        position: absolute;
        top: 25%;
    }
}
