@import "common-style";

.button {
    margin-top: 1em;
    background-color: var(--primary-color);
    color: var(--banner-solid-color);
    font-weight: 600;
    padding: 10px 22px;
    $line-height: 1.84rem;
    line-height: $line-height;

    &:hover {
        background-color: var(--focus);
        color: var(--secondary-color);
    }

    &.email {
        width: 100%;
        padding-right: 0;
        font-weight: bold;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        span {
            text-overflow: ellipsis;
        }
    }

    mat-icon {
        font-size: 24px;
        height: 24px;
        width: 24px;
    }
}
